<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( രണ്ടാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കുരിശു ചുമന്നിടുന്നു ലോകത്തിന്‍<br>
				വിനകള്‍ ചുമന്നിടുന്നു.<br>
				നീങ്ങുന്നു ദിവ്യ നാഥന്‍ നിന്ദനം<br>
				നിറയും നിരത്തിലൂടെ.</p>
			</div>
			<div class="section">
				<p>"എന്‍ ജനമേ,ചൊല്ക<br>
				ഞാനെന്തു ചെയ്തു<br>
				കുരിശെന്റെ തോളിലേറ്റാന്‍ ?<br>
				പൂന്തേന്‍ തുളുമ്പുന്ന<br>
				നാട്ടില്‍ ഞാന്‍ നിങ്ങളെ<br>
				ആശയോടാനയിച്ചു:</p>
			</div>
			<div class="section">
				<p>എന്തേ,യിദം നിങ്ങ-<br>
				ളെല്ലാം മറന്നെന്റെ<br>
				ആത്മാവിനാതങ്കമേറ്റി ?"</p>
			</div>
		</div>
	</body>
</html>