<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( ഒന്‍പതാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കൈകാലുകള്‍ കുഴഞ്ഞു - നാഥന്റെ<br>
				തിരുമെയ്‌ തളര്‍ന്നുലഞ്ഞു<br>
				കുരിശുമായ് മൂന്നാമതും പൂഴിയില്‍<br>
				വീഴുന്നു ദൈവപുത്രന്‍</p>
			</div>
			<div class="section">
				<p>"മെഴുകുപോലെന്നുടെ<br>
				ഹൃദയമുരുകി<br>
				കണ്ഠം വരണ്ടുണങ്ങി<br>
				താണുപോയ് നാവെന്റെ<br>
				ദേഹം നുറുങ്ങി<br>
				മരണം പറന്നിറങ്ങി"</p>
			</div>
			<div class="section">
				<p>വളരുന്നു ദുഃഖങ്ങള്‍<br>
				തളരുന്നു പൂമേനി<br>
				ഉരുകുന്നു കരളിന്റെയുള്ളം.</p>
			</div>
		</div>
	</body>
</html>