<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( ആറാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>വാടിത്തളര്‍ന്നു മുഖം -നാഥന്റെ<br>
				കണ്ണുകള്‍ താണുമങ്ങി<br>
				വേറോനിക്കാ മിഴിനീര്‍ തൂകിയ-<br>
				ദിവ്യാനനം തുടച്ചു.</p>
			</div>
			<div class="section">
				<p>മാലാഖമാര്‍ക്കെല്ലാ-<br>
				മാനന്ദമേകുന്ന<br>
				മാനത്തെ പൂനിലാവേ,<br>
				താബോര്‍ മാമല -<br>
				മേലേ നിന്‍ മുഖം<br>
				സൂര്യനെപ്പോലെ മിന്നി.</p>
			</div>
			<div class="section">
				<p>ഇന്നാമുഖത്തിന്റെ<br>
				ലാവണ്യമൊന്നാകെ<br>
				മങ്ങി, ദുഃഖത്തില്‍ മുങ്ങി.</p>
			</div>
		</div>
	</body>
</html>