<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഒന്‍പതാം സ്ഥലം</p>
				<p class="subtitle">ഈശോ മൂന്നാം പ്രാവശ്യം വീഴുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>മുന്നോട്ടു നീങ്ങുവാന്‍ അവിടുത്തേയ്ക്ക് ഇനി ശക്തിയില്ല. രക്തമെല്ലാം തീരാറായി... തല കറങ്ങുന്നു... ശരീരം വിറയ്ക്കുന്നു... അവിടുന്ന് അതാ നിലംപതിക്കുന്നു... സ്വയം എഴുന്നേല്‍ക്കുവാന്‍ ശക്തിയില്ല... ശത്രുക്കള്‍ അവിടുത്തെ വലിച്ചെഴുന്നേല്പ്പിക്കുന്നു... ബലി പൂര്‍ത്തിയാകുവാന്‍ ഇനി വളരെ സമയമില്ല... അവിടുന്നു നടക്കുവാന്‍ ശ്രമിക്കുന്നു....</p>
			</div>
			<div class="section">
				<p>"നീ പീഡിപ്പിക്കുന്ന ഈശോയാകുന്നു ഞാന്‍ " എന്നു ശാവോലിനോട് അരുളിച്ചെയ്ത വാക്കുകള്‍ ഇപ്പോള്‍ നമ്മെ നോക്കി അവിടുന്ന് ആവര്‍ത്തിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>ലോകപാപങ്ങള്‍ക്കു പരിഹാരം ചെയ്ത കര്‍ത്താവേ, അങ്ങേ പീഡകളുടെ മുമ്പില്‍ എന്റെ വേദനകള്‍ എത്ര നിസ്സാരമാകുന്നു. എങ്കിലും ജീവിതഭാരം നിമിത്തം, ഞാന്‍ പലപ്പോഴും ക്ഷീണിച്ചുപോകുന്നു. പ്രയാസങ്ങള്‍ എന്നെ അലട്ടികൊണ്ടിരിയ്ക്കുന്നു. ഒരു വേദന തീരും മുമ്പ് മറ്റൊന്നു വന്നുകഴിഞ്ഞു. ജീവിതത്തില്‍ നിരാശനാകാതെ അവയെല്ലാം അങ്ങയെ ഓര്‍ത്തു സഹിക്കുവാന്‍ എനിക്കു ശക്തി തരണമേ. എന്തെന്നാല്‍ എന്റെ ജീവിതം ഇനി എത്ര നീളുമെന്ന് എനിക്കറിഞ്ഞുകൂടാ "ആര്‍ക്കും വേല ചെയ്യാന്‍ പാടില്ലാത്ത രാത്രികാലം അടുത്തു വരികയാണല്ലോ"</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>