<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">അഞ്ചാം സ്ഥലം</p>
				<p class="subtitle">ശിമയോന്‍ ഈശോയെ സഹായിക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഈശോ വളരെയധികം തളര്‍ന്നു കഴിഞ്ഞു... ഇനി കുരിശോടുകൂടെ മുന്നോട്ടു നീങ്ങുവാന്‍ ശക്തനല്ല... അവിടുന്നു വഴിയില്‍ വെച്ചു തന്നെ മരിച്ചുപോയേക്കുമെന്ന് യൂദന്മാര്‍ ഭയന്നു... അപ്പോള്‍ ശിമയോന്‍ എന്നൊരാള്‍ വയലില്‍ നിന്നു വരുന്നത് അവര്‍ കണ്ടു. കെവുറീന്‍കാരനായ ആ മനുഷ്യന്‍ അലക്സാണ്ടറിന്റെയും റോപ്പോസിന്റെയും പിതാവായിരുന്നു... അവിടുത്തെ കുരിശുചുമക്കാന്‍ അവര്‍ അയാളെ നിര്‍ബന്ധിച്ചു - അവര്‍ക്ക് ഈശോയോട് സഹതാപം തോന്നിയിട്ടല്ല, ജീവനോടെ അവിടുത്തെ കുരിശില്‍ തറയ്ക്കണമെന്ന് അവര്‍ തീരുമാനിച്ചിരുന്നു.</p>
			</div>
			<div class="section">
				<p>കരുണാനിധിയായ കര്‍ത്താവേ, ഈ സ്ഥിതിയില്‍ ഞാന്‍ അങ്ങയെ കണ്ടിരുന്നുവെങ്കില്‍ എന്നെത്തന്നെ വിസ്മരിച്ചു ഞാന്‍ അങ്ങയെ സഹായിക്കുമായിരുന്നു. എന്നാല്‍ "എന്റെ ഈ ചെറിയ സഹോദരന്മാരില്‍ ആര്‍ക്കെങ്കിലും നിങ്ങള്‍ സഹായം ചെയ്തപ്പോഴെല്ലാം എനിക്കുതന്നെയാണ് ചെയ്തത് എന്ന് അങ്ങ് അരുളിചെയ്തിട്ടുണ്ടല്ലോ." അതിനാല്‍ ചുറ്റുമുള്ളവരില്‍ അങ്ങയെ കണ്ടുകൊണ്ട്‌ കഴിവുള്ള വിധത്തിലെല്ലാം അവരെ സഹായിക്കുവാന്‍ എന്നെ അനുഗ്രഹിക്കണമേ. അപ്പോള്‍ ഞാനും ശിമയോനെപ്പോലെ അനുഗ്രഹീതനാകും, അങ്ങേ പീഡാനുഭവം എന്നിലൂടെ പൂര്‍ത്തിയാവുകയും ചെയ്യും.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>