<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( പതിനാലാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>നാഥന്റെ ദിവ്യദേഹം വിധിപോലെ<br>
				സംസ്ക്കരിച്ചീടുന്നിതാ<br>
				വിജയം വിരിഞ്ഞുപൊങ്ങും ജീവന്റെ<br>
				ഉറവയാണക്കുടീരം.</p>
			</div>
			<div class="section">
				<p>മൂന്നുനാള്‍ മത്സ്യത്തി-<br>
				നുള്ളില്‍ക്കഴിഞ്ഞൊരു<br>
				യൗനാന്‍ പ്രവാചകന്‍ പോല്‍<br>
				ക്ലേശങ്ങളെല്ലാം<br>
				പിന്നിട്ടു നാഥന്‍<br>
				മൂന്നാം ദിനമുയിര്‍ക്കും.</p>
			</div>
			<div class="section">
				<p>പ്രഭയോടുയിര്‍ത്തങ്ങേ<br>
				വരവേല്പിനെത്തീടാന്‍<br>
				വരമേകണേ ലോകനാഥാ.</p>
			</div>
		</div>
	</body>
</html>