<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( മൂന്നാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കുരിശിന്‍ കനത്തഭാരം താങ്ങുവാന്‍<br>
				കഴിയാതെ ലോകനാഥന്‍<br>
				പാദങ്ങള്‍ പതറി വീണു കല്ലുകള്‍<br>
				നിറയും പെരുവഴിയില്‍</p>
			</div>
			<div class="section">
				<p>തൃപ്പാദം കല്ലിന്മേല്‍<br>
				തട്ടിമുറിഞ്ഞു,<br>
				ചെന്നിണം വാര്‍ന്നൊഴുകി :<br>
				മാനവരില്ല<br>
				വാനവരില്ല<br>
				താങ്ങിത്തുണച്ചീടുവാന്‍</p>
			</div>
			<div class="section">
				<p>അനുതാപമൂറുന്ന<br>
				ചുടുകണ്ണുനീര്‍ തൂകി-<br>
				യണയുന്നു മുന്നില്‍ ഞങ്ങള്‍ .</p>
			</div>
		</div>
	</body>
</html>