<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പതിമൂന്നാം സ്ഥലം</p>
				<p class="subtitle">മിശിഹായുടെ മൃതദേഹം മാതാവിന്റെ മടിയില്‍ കിടത്തുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>അന്ന് വെള്ളിയാഴ്ചയായിരുന്നു. പിറ്റേന്ന് ശാബതമാകും. അതുകൊണ്ട് ശരീരങ്ങള്‍ രാത്രി കുരിശില്‍ കിടക്കാന്‍ പാടില്ലെന്നു യൂദന്മാര്‍ പറഞ്ഞു. എന്തെന്നാല്‍ ആ ശാബതം വലിയ ദിവസമായിരുന്നു. തന്മൂലം കുരിശില്‍ തറയ്ക്കപ്പെട്ടവരുടെ കണങ്കാലുകള്‍ തകര്‍ത്തു ശരീരം താഴെയിറക്കണമെന്ന് അവര്‍ പീലാത്തോസിനോട് ആവശ്യപ്പെട്ടു. ആകയാല്‍ പടയാളികള്‍ വന്നു മിശിഹായോടുകൂടെ കുരിശില്‍ തറയ്ക്കപ്പെട്ടിരുന്ന രണ്ടുപേരുടെയും കണങ്കാലുകള്‍ തകര്‍ത്തു. ഈശോ പണ്ടേ മരിച്ചുകഴിഞ്ഞിരുന്നു എന്നു കണ്ടതിനാല്‍ അവിടുത്തെ കണങ്കാലുകള്‍ തകര്‍ത്തില്ല. എങ്കിലും പടയാളികളില്‍ ഒരാള്‍ കുന്തം കൊണ്ട് അവിടുത്തെ വിലാപ്പുറത്തു കുത്തി. ഉടനെ അവിടെ നിന്നു രക്തവും വെള്ളവും ഒഴുകി. അനന്തരം മിശിഹായുടെ മൃതദേഹം കുരിശില്‍ നിന്നിറക്കി അവര്‍ മാതാവിന്റെ മടിയില്‍ കിടത്തി.</p>
			</div>
			<div class="section">
				<p>ഏറ്റം വ്യാകുലയായ മാതാവേ, അങ്ങേ വത്സല പുത്രന്‍ മടിയില്‍ കിടന്നുകൊണ്ടു മൂകമായ ഭാഷയില്‍ അന്ത്യയാത്ര പറഞ്ഞപ്പോള്‍ അങ്ങ് അനുഭവിച്ച സങ്കടം ആര്‍ക്കു വിവരിക്കാന്‍ കഴിയും? ഉണ്ണിയായി പിറന്ന ദൈവകുമാരനെ ആദ്യമായി കൈയിലെടുത്തതു മുതല്‍ ഗാഗുല്‍ത്താവരെയുള്ള സംഭവങ്ങള്‍ ഓരോന്നും അങ്ങേ ഓര്‍മ്മയില്‍ തെളിഞ്ഞു നിന്നു. അപ്പോള്‍ അങ്ങ് സഹിച്ച പീഡകളെയോര്‍ത്തു ജീവിത ദുഃഖത്തിന്റെ ഏകാന്തനിമിഷങ്ങളില്‍ ഞങ്ങളെ ധൈര്യപ്പെടുത്തിയാശ്വസിപ്പിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>