<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഒന്നാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ മരണത്തിനു വിധിക്കപ്പെടുന്നു.</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>മനുഷ്യകുലത്തിന്റെ പാപപരിഹാരത്തിനുള്ള ബലി ആരംഭിച്ചുകഴിഞ്ഞു... ഈശോ പീലാത്തോസിന്റെ മുമ്പില്‍ നില്‍ക്കുന്നു... അവിടുത്തെ ഒന്നു നോക്കുക... ചമ്മട്ടിയടിയേറ്റ ശരീരം... രക്തത്തില്‍ ഒട്ടിപ്പിടിച്ച വസ്ത്രങ്ങള്‍ ... തലയില്‍ മുള്‍മുടി... ഉറക്കമൊഴിഞ്ഞ കണ്ണുകള്‍ ... ക്ഷീണത്താല്‍ വിറയ്ക്കുന്ന കൈകാലുകള്‍ ... ദാഹിച്ചുവരണ്ട നാവ്... ഉണങ്ങിയ ചുണ്ടുകള്‍. പീലാത്തോസ് വിധിവാചകം ഉച്ചരിക്കുന്നു... കുറ്റമില്ലാത്തവന്‍ കുറ്റക്കാരനായി വിധിക്കപ്പെട്ടു... എങ്കിലും,അവിടുന്ന് എല്ലാം നിശബ്ധനായി സഹിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>എന്റെ ദൈവമായ കര്‍ത്താവേ, അങ്ങു കുറ്റമറ്റവനായിരുന്നിട്ടും കുരിശുമരണത്തിനു വിധിക്കപ്പെട്ടുവല്ലോ. എന്നെ മറ്റുള്ളവര്‍ തെറ്റിദ്ധരിക്കുമ്പോഴും, നിര്‍ദ്ദയമായി വിമര്‍ശിക്കുമ്പോഴും കുറ്റക്കാരനായി വിധിക്കുമ്പോഴും അതെല്ലാം അങ്ങയെപ്പോലെ സമചിത്തനായി സഹിക്കുവാന്‍ എന്നെയനുഗ്രഹിക്കണമേ. അവരുടെ ഉദ്ദേശത്തെപ്പറ്റി ചിന്തിക്കാതെ അവര്‍ക്കുവേണ്ടി ആത്മാര്‍ത്ഥമായി പ്രാര്‍ത്ഥിക്കുവാന്‍ എന്നെ സഹായിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>