<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="maintitle">മനസ്താപപ്രകരണം</p>
			<div class="section">
				<p> എന്‍റെ ദൈവമേ ,ഏറ്റം നല്ലവനും എല്ലാറ്റിനും ഉപരിയായി സ്നേഹിക്കപ്പെടുവാന്‍ യോഗ്യനുമായ അങ്ങേയ്ക്കെതിരായി പാപം ചെയ്തുപോയതിനാല്‍ പൂര്‍ണ്ണ ഹൃദയത്തോടെ ഞാന്‍ മനസ്തപിക്കുകയും പാപങ്ങളെ വെറുക്കുകയും ചെയ്യുന്നു . അങ്ങയെ ഞാന്‍ സ്നേഹിക്കുന്നു .എന്‍റെ പാപങ്ങളാല്‍ എന്‍റെ ആത്മാവിനെ അശുദ്ധമാക്കിയതിനാലും സ്വര്‍ഗ്ഗത്തെ നഷ്ടപ്പെടുത്തി നരകത്തിന് അര്‍ഹനായി തീര്‍ന്നതിനാലും ഞാന്‍ ഖേദിക്കുന്നു .അങ്ങയുടെ പ്രസാദവര സഹായത്താല്‍ പാപസാഹചര്യങ്ങളെ ഉപേക്ഷിക്കുമെന്നും മേലില്‍ പാപം ചെയ്യുകയില്ലെന്നും ദ്രിഡമായി ഞാന്‍ പ്രതിജ്ഞ ചെയുന്നു .ഏതെങ്കിലും ഒരു പാപം ചെയുക എന്നതിനേക്കാള്‍ മരിക്കാനും ഞാന്‍ സന്നദ്ധനായിരിക്കുന്നു .</p>
				<p>ആമ്മേന്‍</p>
			</div>
		</div>
	</body>
</html>