<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( നാലാം  സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>വഴിയില്‍ക്കരഞ്ഞു വന്നോരമ്മയെ<br>
				തനയന്‍ തിരിഞ്ഞുനോക്കി<br>
				സ്വര്‍ഗ്ഗിയകാന്തി ചിന്തും മിഴികളില്‍<br>
				കൂരമ്പു താണിറങ്ങി.</p>
			</div>
			<div class="section">
				<p>"ആരോടു നിന്നെ ഞാന്‍<br>
				സാമ്യപ്പെടുത്തും<br>
				കദനപ്പെരുങ്കടലേ?"<br>
				ആരറിഞ്ഞാഴത്തി-<br>
				ലലതല്ലിനില്‍ക്കുന്ന<br>
				നിന്‍ മനോവേദന?</p>
			</div>
			<div class="section">
				<p>നിന്‍ കണ്ണുനീരാല്‍<br>
				കഴുകേണമെന്നില്‍<br>
				പതിയുന്ന മാലിന്യമെല്ലാം.</p>
			</div>
		</div>
	</body>
</html>