<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( അഞ്ചാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കുരിശു ചുമന്നു നീങ്ങും നാഥനെ<br>
				ശിമയോന്‍ തുണച്ചീടുന്നു.<br>
				നാഥാ, നിന്‍ കുരിശു താങ്ങാന്‍ കൈവന്ന<br>
				ഭാഗ്യമേ, ഭാഗ്യം.</p>
			</div>
			<div class="section">
				<p>നിന്‍ കുരിശെത്രയോ<br>
				ലോലം, നിന്‍ നുക-<br>
				മാനന്ദ ദായകം<br>
				അഴലില്‍ വീണുഴലുന്നോര്‍-<br>
				ക്കവലംബമേകുന്ന<br>
				കുരിശേ, നമിച്ചിടുന്നു.</p>
			</div>
			<div class="section">
				<p>സുരലോകനാഥാ നിന്‍<br>
				കുരിശൊന്നു താങ്ങുവാന്‍<br>
				തരണേ വരങ്ങള്‍ നിരന്തം.</p>
			</div>
		</div>
	</body>
</html>