<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( പതിനൊന്നാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കുരിശില്‍ക്കിടത്തിടുന്നു നാഥന്റെ
				കൈകാല്‍ തറച്ചിടുന്നു-<br>
				മര്‍ത്യനു രക്ഷനല്‍കാനെത്തിയ<br>
				ദിവ്യമാം കൈകാലുകള്‍</p>
			</div>
			<div class="section">
				<p>"കനിവറ്റ വൈരികള്‍<br>
				ചേര്‍ന്നു തുളച്ചെന്റെ<br>
				കൈകളും കാലുകളും<br>
				പെരുകുന്നു വേദന-<br>
				യുരുകുന്നു ചേതന<br>
				നിലയറ്റ നീര്‍ക്കയം</p>
			</div>
			<div class="section">
				<p>മരണം പരത്തിയോ-<br>
				രിരുളില്‍ കുടുങ്ങി ഞാന്‍<br>
				ഭയമെന്നെയൊന്നായ് വിഴുങ്ങി."</p>
			</div>
		</div>
	</body>
</html>