<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="maintitle">സമാപന ഗാനം</p>
			<div class="section">
				<p>ലോകത്തിലാഞ്ഞു വീശി സത്യമാം<br>
				നാകത്തിന്‍ ദിവ്യകാന്തി;<br>
				സ്നേഹം തിരഞ്ഞിറങ്ങി പാവന<br>
				സ്നേഹപ്രകാശതാരം.</p>
			</div>
			<div class="section">
				<p>നിന്ദിച്ചു മര്‍ത്യനാ-<br>
				സ്നേഹത്തിടമ്പിനെ<br>
				നിര്‍ദ്ദയം ക്രൂശിലേറ്റി;<br>
				നന്ദിയില്ലാത്തവര്‍<br>
				ചിന്തയില്ലാത്തവര്‍-<br>
				നാഥാ,പൊറുക്കേണമേ.</p>
			</div>
			<div class="section">
				<p>നിന്‍ പീഡയോര്‍ത്തോര്‍ത്തു<br>
				കണ്ണീരൊഴുക്കുവാന്‍<br>
				നല്‍കേണമേ നിന്‍ വരങ്ങള്‍.</p>
			</div>
		</div>
	</body>
</html>