<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( എട്ടാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>"ഓര്‍ശ്ലെമിന്‍ പുത്രീമാരേ,നിങ്ങളീ-<br>
				ന്നെന്നെയോര്‍ത്തെന്തിനേവം<br>
				കരയുന്നു? നിങ്ങളെയും സുതരേയു-<br>
				മോര്‍ത്തോര്‍ത്തു കേണുകൊള്‍വിന്‍:"</p>
			</div>
			<div class="section">
				<p>വേദന തിങ്ങുന്ന<br>
				കാലം വരുന്നു-<br>
				കണ്ണീരണിഞ്ഞകാലം<br>
				മലകളേ, ഞങ്ങളെ<br>
				മൂടുവിന്‍ വേഗമെ-<br>
				ന്നാരവം കേള്‍ക്കുമെങ്ങും.</p>
			</div>
			<div class="section">
				<p>കരള്‍ നൊന്തു കരയുന്ന<br>
				നാരീഗണത്തിനു<br>
				നാഥന്‍ സമാശ്വാസമേകി.</p>
			</div>
		</div>
	</body>
</html>