<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പത്താം സ്ഥലം</p>
				<p class="subtitle">ദിവ്യ രക്ഷകന്റെ വസ്ത്രങ്ങള്‍ ഉരിഞ്ഞെടുക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഗാഗുല്‍ത്തായില്‍ എത്തിയപ്പോള്‍ അവര്‍ അവിടുത്തേയ്ക്ക് മീറ കലര്‍ത്തിയ വീഞ്ഞുകൊടുത്തു. എന്നാല്‍ അവിടുന്ന്‌ അത് സ്വീകരിച്ചില്ല. അവിടുത്തെ വസ്ത്രങ്ങള്‍ നാലായി ഭാഗിച്ച് ഓരോരുത്തര്‍ ഓരോ ഭാഗം എടുക്കുകയും ചെയ്തു. മേലങ്കി തയ്യല്‍ കൂടാതെ നെയ്യപ്പെട്ടതായിരുന്നു. അത് ആര്‍ക്ക് ലഭിക്കണമെന്നു ചിട്ടിയിട്ടു തീരുമാനിക്കാം എന്ന് അവര്‍ പരസ്പരം പറഞ്ഞു. "എന്റെ വസ്ത്രങ്ങള്‍ അവര്‍ ഭാഗിച്ചെടുത്തു.എന്റെ മേലങ്കിക്കുവേണ്ടി അവര്‍ ചിട്ടിയിട്ടു" എന്നുള്ള തിരുവെഴുത്തു അങ്ങനെ അന്വര്‍ത്ഥമായി.</p>
			</div>
			<div class="section">
				<p>രക്തത്താല്‍ ഒട്ടിപ്പിടിച്ചിരുന്ന വസ്ത്രങ്ങള്‍ ഉരിഞ്ഞെടുക്കപ്പെട്ടപ്പോള്‍ ദുസ്സഹമായ വേദനയനുഭവിച്ച മിശിഹായേ, പാപം നിറഞ്ഞ പഴയ മനുഷ്യനെ ഉരിഞ്ഞുമാറ്റി അങ്ങയെ ധരിക്കുവാനും, മറ്റൊരു ക്രിസ്തുവായി ജീവിക്കുവാനും എന്നെ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>