<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">നാലാം സ്ഥലം</p>
				<p class="subtitle">ഈശോ വഴിയില്‍ വെച്ചു തന്റെ മാതാവിനെ കാണുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>കുരിശുയാത്ര മുന്നോട്ടു നീങ്ങുന്നു... ഇടയ്ക്ക് സങ്കടകരമായ ഒരു കൂടികാഴ്ച... അവിടുത്തെ മാതാവു ഓടിയെത്തുന്നു... അവര്‍ പരസ്പരം നോക്കി... കവിഞ്ഞൊഴുകുന്ന നാല് കണ്ണുകള്‍... വിങ്ങിപ്പൊട്ടുന്ന രണ്ടു ഹൃദയങ്ങള്‍... അമ്മയും മകനും സംസാരിക്കുന്നില്ല... മകന്റെ വേദന അമ്മയുടെ ഹൃദയം തകര്‍ക്കുന്നു... അമ്മയുടെ വേദന മകന്റെ ദുഃഖം വര്‍ദ്ധിപ്പിക്കുന്നു..</p>
			</div>
			<div class="section">
				<p>നാല്പതാം ദിവസം ഉണ്ണിയെ ദേവാലയത്തില്‍ കാഴ്ച വെച്ച സംഭവം മാതാവിന്റെ ഓര്‍മ്മയില്‍ വന്നു. "നിന്റെ ഹൃദയത്തില്‍ ഒരു വാള്‍ കടക്കും" എന്നു പരിശുദ്ധനായ ശിമയോന്‍ അന്ന് പ്രവചിച്ചു.</p>
			</div>
			<div class="section">
				<p>"കണ്ണുനീരോടെ വിതയ്ക്കുന്നവന്‍ സന്തോഷത്തോടെ കൊയ്യുന്നു". "ഈ ലോകത്തിലെ നിസ്സാരസങ്കടങ്ങള്‍ നമുക്കു നിത്യഭാഗ്യം പ്രദാനം ചെയ്യുന്നു."</p>
			</div>
			<div class="section">
				<p>ദുഃഖസമുദ്രത്തില്‍ മുഴുകിയ ദിവ്യ രക്ഷിതാവേ, സഹനത്തിന്റെ ഏകാന്ത നിമിഷങ്ങളില്‍ അങ്ങേ മാതാവിന്റെ മാതൃക ഞങ്ങളെ ആശ്വസിപ്പിക്കട്ടെ. അങ്ങയുടെയും അങ്ങേ മാതാവിന്റെയും സങ്കടത്തിനു കാരണം ഞങ്ങളുടെ പാപങ്ങള്‍ ആണെന്ന് ഞങ്ങള്‍ അറിയുന്നു. അവയെല്ലാം പരിഹരിക്കുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>