<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( ഏഴാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>ഉച്ചവെയിലില്‍ പൊരിഞ്ഞു-ദുസ്സഹ<br>
				മര്‍ദ്ദനത്താല്‍ വലഞ്ഞു<br>
				ദേഹം തളര്‍ന്നു താണു-രക്ഷകന്‍<br>
				വീണ്ടും നിലത്തുവീണു.</p>
			</div>
			<div class="section">
				<p>ലോകപാപങ്ങളാ-<br>
				ണങ്ങയെ വീഴിച്ചു<br>
				വേദനിപ്പിച്ചതേവം;<br>
				ഭാരം നിറഞ്ഞൊരാ-<br>
				ക്രൂശു നിര്‍മ്മിച്ചതെന്‍<br>
				പാപങ്ങള്‍ തന്നെയല്ലോ.</p>
			</div>
			<div class="section">
				<p>താപം കലര്‍ന്നങ്ങേ<br>
				പാദം പുണര്‍ന്നു ഞാന്‍<br>
				കേഴുന്നു: കനിയേണമെന്നില്‍.</p>
			</div>
		</div>
	</body>
</html>