<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ആറാം സ്ഥലം</p>
				<p class="subtitle">വേറോനിക്കാ മിശിഹായുടെ തിരുമുഖം തുടയ്ക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഭക്തയായ വേറോനിക്കാ മിശിഹായെ കാണുന്നു... അവളുടെ ഹൃദയം സഹതാപത്താല്‍ നിറഞ്ഞു... അവള്‍ക്ക് അവിടുത്തെ ആശ്വസിപ്പിക്കണം. പട്ടാളക്കാരുടെ മദ്ധ്യത്തിലൂടെ അവള്‍ ഈശോയെ സമീപിക്കുന്നു... ആരെങ്കിലും എന്തെങ്കിലും പറഞ്ഞുകൊള്ളട്ടെ... സ്നേഹം പ്രതിബന്ധം അറിയുന്നില്ല... "പരമാര്‍ത്ഥഹൃദയര്‍ അവിടുത്തെ കാണും". "അങ്ങില്‍ ശരണപ്പെടുന്നവരാരും നിരാശരാവുകയില്ല." അവള്‍ ഭക്തിപൂര്‍വ്വം തന്റെ തൂവാലയെടുത്തു... രക്തം പുരണ്ട മുഖം വിനയപൂര്‍വ്വം തുടച്ചു...</p>
			</div>
			<div class="section">
				<p>"എന്നോടു സഹതാപിക്കുന്നവരുണ്ടോ എന്ന് ഞാന്‍ അന്വേഷിച്ചു നോക്കി. ആരെയും കണ്ടില്ല. എന്നെയാശ്വസിപ്പിക്കാന്‍ ആരുമില്ല." പ്രവാചകന്‍ വഴി അങ്ങ് അരുളിച്ചെയ്ത ഈ വാക്കുകള്‍ എന്റെ ചെവികളില്‍ മുഴങ്ങിക്കൊണ്ടിരിയ്ക്കുന്നു. സ്നേഹം നിറഞ്ഞ കര്‍ത്താവേ, വേറോനിക്കായെപ്പോലെ അങ്ങയോടു സഹതപിക്കുവാനും അങ്ങയെ ആശ്വസിപ്പിക്കുവാനും ഞാന്‍ ആഗ്രഹിക്കുന്നു. അങ്ങേ പീഡാനുഭവത്തിന്റെ മായാത്ത മുദ്ര എന്റെ ഹൃദയത്തില്‍ പതിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>