<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">രണ്ടാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ കുരിശു ചുമക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഭാരമേറിയ കുരിശും ചുമന്നുകൊണ്ട് അവിടുന്നു മുന്നോട്ടു നീങ്ങുന്നു... ഈശോയുടെ ചുറ്റും നോക്കുക... സ്നേഹിതന്മാര്‍ ആരുമില്ല.. യൂദാസ് അവിടുത്തെ ഒറ്റിക്കൊടുത്തു... പത്രോസ് അവിടുത്തെ പരിത്യജിച്ചു... മറ്റു ശിഷ്യന്മാര്‍ ഓടിയൊളിച്ചു.അവിടുത്തെ അത്ഭുതപ്രവര്‍ത്തികള്‍ കണ്ടവരും അവയുടെ ഫലമനുഭവിച്ചവരും ഇപ്പോള്‍ എവിടെ?... ഓശാനപാടി എതിരേറ്റവരും ഇന്നു നിശബ്ദരായിരിക്കുന്നു...ഈശോയെ സഹായിക്കുവാനോ, ഒരാശ്വാസവാക്കു പറയുവാനോ അവിടെ ആരുമില്ല...</p>
			</div>
			<div class="section">
				<p>എന്നെ അനുഗമിക്കുവാന്‍ ആഗ്രഹിക്കുന്നവന്‍ സ്വയം പരിത്യജിച്ചു തന്റെ കുരിശും വഹിച്ചുകൊണ്ട് എന്റെ പിന്നാലെ വരട്ടെ എന്ന് അങ്ങ് അരുളിചെയ്തിട്ടുണ്ടല്ലോ. എന്റെ സങ്കടങ്ങളുടെയും ക്ലേശങ്ങളുടെയും കുരിശു ചുമന്നുകൊണ്ട് ഞാന്‍ അങ്ങേ രക്തമണിഞ്ഞ കാല്പാടുകള്‍ പിന്തുടരുന്നു. വലയുന്നവരെയും ഭാരം ചുമക്കുന്നവരെയും ആശ്വസിപ്പിക്കുന്ന കര്‍ത്താവേ എന്റെ ക്ലേശങ്ങളെല്ലാം പരാതികൂടാതെ സഹിക്കുവാന്‍ എന്നെ സഹായിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>