<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( പന്ത്രണ്ടാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>കുരിശില്‍ കിടന്നു ജീവന്‍ പിരിയുന്നു<br>
				ഭുവനൈകനാഥനീശോ<br>
				സൂര്യന്‍ മറഞ്ഞിരുണ്ടു-നാടെങ്ങു-<br>
				മന്ധകാരം നിറഞ്ഞു.</p>
			</div>
			<div class="section">
				<p>"നരികള്‍ക്കുറങ്ങുവാ-<br>
				നളയുണ്ടു, പറവയ്ക്കു<br>
				കൂടുണ്ടു പാര്‍ക്കുവാന്‍<br>
				നരപുത്രനൂഴിയില്‍<br>
				തലയൊന്നു ചായ്ക്കുവാ-<br>
				നിടമില്ലൊരേടവും"</p>
			</div>
			<div class="section">
				<p>പുല്‍ക്കൂടുതൊട്ടങ്ങേ<br>
				പുല്‍കുന്ന ദാരിദ്ര്യം<br>
				കുരിശോളം കൂട്ടായി വന്നു.</p>
			</div>
		</div>
	</body>
</html>