<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പന്ത്രണ്ടാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ കുരിശിന്മേല്‍ തൂങ്ങി മരിക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>രണ്ടു കള്ളന്മാരുടെ നടുവില്‍ അവിടുത്തെ അവര്‍ കുരിശില്‍ തറച്ചു... കുരിശില്‍ കിടന്നുകൊണ്ട് ശത്രുക്കള്‍ക്കു വേണ്ടി അവിടുന്ന് പ്രാര്‍ത്ഥിക്കുന്നു... നല്ല കള്ളനെ ആശ്വസിപ്പിക്കുന്നു... മാതാവും മറ്റു സ്ത്രീകളും കരഞ്ഞുകൊണ്ട്‌ കുരിശിനു താഴെ നിന്നിരുന്നു. "ഇതാ നിന്റെ മകന്‍ " എന്ന് അമ്മയോടും, "ഇതാ നിന്റെ അമ്മ" എന്ന് യോഹന്നാനോടും അവിടുന്ന് അരുളിച്ചെയ്തു. മൂന്നുമണി സമയമായിരുന്നു. "എന്റെ പിതാവേ, അങ്ങേ കൈകളില്‍ എന്റെ ആത്മാവിനെ ഞാന്‍ സമര്‍പ്പിക്കുന്നു, എന്നരുളിച്ചെയ്ത് അവിടുന്ന് മരിച്ചു. പെട്ടെന്ന് സൂര്യന്‍ ഇരുണ്ടു, ആറുമണിവരെ ഭൂമിയിലെങ്ങും അന്ധകാരമായിരുന്നു. ദേവാലയത്തിലെ തിരശീല നടുവേ കീറിപ്പോയി. ഭൂമിയിളകി; പാറകള്‍ പിളര്‍ന്നു; പ്രേതാലയങ്ങള്‍ തുറക്കപ്പെട്ടു.</p>
			</div>
			<div class="section">
				<p>ശതാധിപന്‍ ഇതെല്ലാം കണ്ട് ദൈവത്തെ സ്തുതിച്ചുകൊണ്ട് ഈ മനുഷ്യന്‍ യഥാര്‍ത്ഥത്തില്‍ നീതിമാനായിരുന്നു, എന്ന് വിളിച്ചുപറഞ്ഞു. കണ്ടു നിന്നവര്‍ മാറത്തടിച്ചുകൊണ്ടു മടങ്ങിപ്പോയി.</p>
			</div>
			<div class="section">
				<p>"എനിക്ക് ഒരു മാമ്മോദീസാ മുങ്ങുവാനുണ്ട് അത് പൂര്‍ത്തിയാകുന്നതുവരെ ഞാന്‍ അസ്വസ്ഥനാകുന്നു." കര്‍ത്താവേ, അങ്ങ് ആഗ്രഹിച്ച മാമ്മോദീസാ അങ്ങ് മുങ്ങിക്കഴിഞ്ഞു. അങ്ങേ ദഹനബലി അങ്ങ് പൂര്‍ത്തിയാക്കി. എന്റെ ബലിയും ഒരിക്കല്‍ പൂര്‍ത്തിയാകും. ഞാനും ഒരു ദിവസം മരിക്കും. അന്ന് അങ്ങയെപ്പോലെ ഇപ്രകാരം പ്രാര്‍ത്ഥിക്കുവാന്‍ എന്നെ അനുവദിക്കണമേ. എന്റെ പിതാവേ, ഭൂമിയില്‍ ഞാന്‍ അങ്ങയെ മഹത്വപ്പെടുത്തി; എന്നെ ഏല്പിച്ചിരുന്ന ജോലി ഞാന്‍ പൂര്‍ത്തിയാക്കി. ആകയാല്‍ അങ്ങേപ്പക്കല്‍ എന്നെ മഹത്വപ്പെടുത്തണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>