<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പതിനൊന്നാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ കുരിശില്‍ തറയ്ക്കപ്പെടുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഈശോയെ കുരിശില്‍ കിടത്തി കൈകളിലും കാലുകളിലും അവര്‍ ആണി തറയ്ക്കുന്നു... ആണിപ്പഴുതുകളിലേയ്ക്കു കൈകാലുകള്‍ വലിച്ചു നീട്ടുന്നു... ഉഗ്രമായ വേദന... മനുഷ്യനു സങ്കല്‍പ്പിക്കാന്‍ കഴിയാത്തവിധം ദുസ്സഹമായ പീഡകള്‍... എങ്കിലും അവിടുത്തെ അധരങ്ങളില്‍ പരാതിയില്ല... കണ്ണുകളില്‍ നൈരാശ്യമില്ല... പിതാവിന്റെ ഇഷ്ടം നിറവേറട്ടെ എന്ന് അവിടുന്നു പ്രാര്‍ത്ഥിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>ലോക രക്ഷകനായ കര്‍ത്താവേ, സ്നേഹത്തിന്റെ പുതിയ സന്ദേശവുമായി വന്ന അങ്ങയെ ലോകം കുരിശില്‍ തറച്ചു. അങ്ങേ ലോകത്തില്‍ നിന്നല്ലാത്തതിനാല്‍ ലോകം അങ്ങയെ ദ്വേഷിച്ചു. യജമാനനേക്കാള്‍ വലിയ ദാസനില്ലെന്ന് അങ്ങ് അരുളിചെയ്തിട്ടുണ്ടല്ലോ. അങ്ങയെ പീഡിപ്പിച്ചവര്‍ ഞങ്ങളെയും പീഡിപ്പിക്കുമെന്നു ഞങ്ങളറിയുന്നു. അങ്ങയോടു കൂടെ കുരിശില്‍ തറയ്ക്കപ്പെടുവാനും, ലോകത്തിനു മരിച്ച്, അങ്ങേയ്ക്കുവേണ്ടി മാത്രം ജീവിക്കുവാനും ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>