<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="maintitle">പ്രാരംഭഗാനം</p>
			<div class="section">
				<p>കുരിശില്‍ മരിച്ചവനേ, കുരിശാലേ<br>
				വിജയം വരിച്ചവനേ,<br>
				മിഴിനീരൊഴുക്കിയങ്ങേ, കുരിശിന്റെ<br>
				വഴിയേ വരുന്നു ഞങ്ങള്‍</p>
			</div>
			<div class="section">
				<p>ലോകൈക നാഥാ, നിന്‍<br>
				വിജയം വരിച്ചവനേ,<br>
				ശിഷ്യരായ്ത്തീരുവാ-<br>
				നാശിപ്പോനെന്നുമെന്നും<br>
				കുരിശുവഹിച്ചു നിന്‍<br>
				കാല്‍പ്പാടു പിഞ്ചെല്ലാന്‍<br>
				കല്പിച്ച നായകാ.<br>
				നിന്‍ ദിവ്യരക്തത്താ-<br>
				ലെന്‍ പാപമാലിന്യം<br>
				കഴുകേണമേ, ലോകനാഥാ.</p>
			</div>
		</div>
	</body>
</html>