<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( ഒന്നാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>മരണത്തിനായ് വിധിച്ചു, കറയറ്റ<br>
				ദൈവത്തിന്‍ കുഞ്ഞാടിനെ<br>
				അപരാധിയായ് വിധിച്ചു കല്മഷം<br>
				കലരാത്ത കര്‍ത്താവിനെ.</p>
			</div>
			<div class="section">
				<p>അറിയാത്ത കുറ്റങ്ങള്‍<br>
				നിരയായ്ചുമത്തി<br>
				പരിശുദ്ധനായ നിന്നില്‍<br>
				കൈവല്യദാതാ, നിന്‍<br>
				കാരുണ്യം കൈക്കൊണ്ടോര്‍<br>
				കദനത്തിലാഴ്ത്തി നിന്നെ.</p>
			</div>
			<div class="section">
				<p>അവസാനവിധിയില്‍ നീ-
				യലിവാര്‍ന്നു ഞങ്ങള്‍ക്കാ-
				യരുളേണെമേ നാകഭാഗ്യം</p>
			</div>
		</div>
	</body>
</html>