<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സമാപന പ്രാര്‍ത്ഥന</p>
			</div>
			<div class="section">
				<p>നീതിമാനായ പിതാവേ, അങ്ങയെ രഞ്ജിപ്പിക്കുവാന്‍ സ്വയം ബലിവസ്തുവായിത്തീര്‍ന്ന പ്രിയപുത്രനെ തൃക്കൺപാർക്കണമേ. ഞങ്ങൾക്ക് വേണ്ടി മരണം വരിച്ച അങ്ങേ പുത്രനെ സ്വീകരിച്ചുകൊണ്ടു ഞങ്ങളുടെ പാപങ്ങള്‍ പൊറുക്കുകയും, ഞങ്ങളോടു രമ്യപ്പെടുകയും ചെയ്യണമേ</p>
			</div>
			<div class="section">
				<p>അങ്ങേ തിരുക്കുമാരന്‍ ഗാഗുല്‍ത്തായില്‍ ചിന്തിയ തിരുരക്തം ഞങ്ങള്‍ക്കുവേണ്ടി പ്രാര്‍ത്ഥിക്കുന്നു. ആ തിരുരക്തത്തെയോര്‍ത്തു ഞങ്ങളുടെ പ്രാര്‍ത്ഥന കൈക്കൊള്ളണമേ.</p>
			</div>
			<div class="section">
				<p>ഞങ്ങളുടെ പാപം വലുതാണെന്ന് ഞങ്ങളറിയുന്നു. എന്നാല്‍ അങ്ങേകാരുണ്യം അതിനേക്കാള്‍ വലുതാണല്ലോ. ഞങ്ങളുടെ പാപങ്ങള്‍ കണക്കിലെടുക്കുമ്പോള്‍ അവയ്ക്കുവേണ്ടിയുള്ള ഈ പരിഹാരബലിയെയും ഗൗനിക്കേണമേ.</p>
			</div>
			<div class="section">
				<p>ഞങ്ങളുടെ പാപങ്ങള്‍ നിമിത്തം അങ്ങേ പ്രിയപുത്രന്‍ ആണികളാല്‍ തറയ്ക്കപ്പെടുകയും കുന്തത്താല്‍ കുത്തപ്പെടുകയും ചെയ്തു. അങ്ങേ പ്രസാദിപ്പിക്കാന്‍ അവിടുത്തെ പീഡകള്‍ ധാരാളം മതിയല്ലോ.</p>
			</div>
			<div class="section">
				<p>തന്റെ പുത്രനെ ഞങ്ങള്‍ക്ക് നല്‍കിയ പിതാവിനു സ്തുതിയും കുരിശുമരണത്താല്‍ ഞങ്ങളെ രക്ഷിച്ച പുത്രന് ആരാധനയും പരിശുദ്ധാല്‍മാവിനു സ്തോത്രവുമുണ്ടായിരിക്കട്ടെ. ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
		</div>
	</body>
</html>