<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഏഴാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ രണ്ടാം പ്രാവശ്യം വീഴുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>ഈശോ ബലഹീനനായി വീണ്ടും നിലത്തു വീഴുന്നു... മുറിവുകളില്‍ നിന്നു രക്തമൊഴുകുന്നു... ശരീരമാകെ വേദനിക്കുന്നു. "ഞാന്‍ പൂഴിയില്‍ വീണുപോയി എന്റെ ആത്മാവു ദു:ഖിച്ചു തളര്‍ന്നു" ചുറ്റുമുള്ളവര്‍ പരിഹസിക്കുന്നു... അവിടുന്ന് അതൊന്നും ഗണ്യമാക്കുന്നില്ല... "എന്റെ പിതാവ് എനിക്കുതന്ന പാനപാത്രം ഞാന്‍ കുടിക്കേണ്ടതല്ലയോ?" പിതാവിന്റെ ഇഷ്ടം നിറവേറ്റാനല്ലാതെ അവിടുന്നു മറ്റൊന്നും ആഗ്രഹിക്കുന്നില്ല.</p>
			</div>
			<div class="section">
				<p>മനുഷ്യപാപങ്ങളുടെ ഭാരമെല്ലാം ചുമന്ന മിശിഹായെ, അങ്ങയെ ആശ്വസിപ്പിക്കുവാനായി ഞങ്ങള്‍ അങ്ങയെ സമീപിക്കുന്നു. അങ്ങയെക്കൂടാതെ ഞങ്ങള്‍ക്ക് ഒന്നും ചെയ്യുവാന്‍ ശക്തിയില്ല. ജീവിതത്തിന്റെ ഭാരത്താല്‍ ഞങ്ങള്‍ തളര്‍ന്നു വീഴുകയും എഴുന്നേല്‍ക്കുവാന്‍ കഴിവില്ലാതെ വലയുകയും ചെയ്യുന്നു.അങ്ങേ തൃക്കൈ നീട്ടി ഞങ്ങളെ സഹായിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>