<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">മൂന്നാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹാ ഒന്നാം പ്രാവശ്യം വീഴുന്നു.</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>കല്ലുകള്‍ നിറഞ്ഞ വഴി.... ഭാരമുള്ള കുരിശ്.... ക്ഷീണിച്ച ശരീരം... വിറയ്ക്കുന്ന കാലുകള്‍... അവിടുന്നു മുഖം കുത്തി നിലത്തു വീഴുന്നു.... മുട്ടുകള്‍ പൊട്ടി രക്തമൊലിക്കുന്നു... യൂദന്മാര്‍ അവിടുത്തെ പരിഹസിക്കുന്നു... പട്ടാളക്കാര്‍ അടിക്കുന്നു... ജനക്കൂട്ടം ആര്‍പ്പുവിളിക്കുന്നു..... അവിടുന്നു മിണ്ടുന്നില്ല.....</p>
			</div>
			<div class="section">
				<p>"ഞാന്‍ സഞ്ചരിയ്ക്കുന്ന വഴികളില്‍ അവര്‍ എനിക്കു കെണികള്‍ വെച്ചു. ഞാന്‍ വലത്തേയ്ക്ക് തിരിഞ്ഞു നോക്കി എന്നെ അറിയുന്നവര്‍ ആരുമില്ല. ഓടിയൊളിക്കുവാന്‍ ഇടമില്ല, എന്നെ രക്ഷിക്കുവാന്‍ ആളുമില്ല."</p>
			</div>
			<div class="section">
				<p>"അവിടുന്നു നമ്മുടെ ഭാരം ചുമക്കുന്നു. നമുക്കുവേണ്ടി അവിടുന്നു സഹിച്ചു."</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ, ഞാന്‍ വഹിക്കുന്ന കുരിശിനും ഭാരമുണ്ട്. പലപ്പോഴും കുരിശോടുകൂടെ ഞാനും നിലത്തു വീണുപോകുന്നു. മറ്റുള്ളവര്‍ അതുകണ്ടു പരിഹസിക്കുകയും, എന്റെ വേദന വര്‍ദ്ദിപ്പിക്കുകയും ചെയ്യാറുണ്ട്. കര്‍ത്താവേ എനിക്കു വീഴ്ചകള്‍ ഉണ്ടാകുമ്പോള്‍ എന്നെത്തന്നെ നീയന്ത്രിക്കുവാന്‍ എന്നെ പഠിപ്പിക്കണമേ. കുരിശു വഹിക്കുവാന്‍ ശക്തിയില്ലാതെ ഞാന്‍ തളരുമ്പോള്‍ എന്നെ സഹായിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>