<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( പതിമൂന്നാം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>അരുമസുതന്റെമേനി-മാതാവു<br>
				മടിയില്‍ക്കിടത്തിടുന്നു:<br>
				അലയാഴിപോലെ നാഥേ,നിന്‍ ദുഃഖ-<br>
				മതിരു കാണാത്തതല്ലോ.</p>
			</div>
			<div class="section">
				<p>പെരുകുന്ന സന്താപ-<br>
				മുനയേറ്റഹോ നിന്റെ<br>
				ഹൃദയം പിളര്‍ന്നുവല്ലോ<br>
				ആരാരുമില്ല തെ-<br>
				ല്ലാശ്വാസമേകുവാ-<br>
				നാകുലനായികേ.</p>
			</div>
			<div class="section">
				<p>"മുറ്റുന്ന ദുഃഖത്തില്‍<br>
				ചുറ്റും തിരഞ്ഞു ഞാന്‍<br>
				കിട്ടീലൊരാശ്വാസമെങ്ങും."</p>
			</div>
		</div>
	</body>
</html>