<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">( പത്താം സ്ഥലത്തേയ്ക്കു പോകുമ്പോള്‍ )</p>
			<div class="section">
				<p>എത്തീ വിലാപയാത്ര കാല്‍വരി-<br>
				ക്കുന്നിന്‍ മുകള്‍പ്പരപ്പില്‍<br>
				നാഥന്റെ വസ്ത്രമെല്ലാം ശത്രുക്ക-<br>
				ളൊന്നായുരിഞ്ഞു നീക്കി</p>
			</div>
			<div class="section">
				<p>വൈരികള്‍ തിങ്ങിവ-<br>
				രുന്നെന്റെ ചുറ്റിലും<br>
				ഘോരമാം ഗര്‍ജ്ജനങ്ങള്‍<br>
				ഭാഗിച്ചെടുത്തന്റെ<br>
				വസ്ത്രങ്ങളെല്ലാം"<br>
				പാപികള്‍ വൈരികള്‍.</p>
			</div>
			<div class="section">
				<p>നാഥാ, വിശുദ്ധിതന്‍<br>
				തൂവെള്ള വസ്ത്രങ്ങള്‍<br>
				കനിവാര്‍ന്നു ചാര്‍ത്തേണമെന്നെ.</p>
			</div>
		</div>
	</body>
</html>