<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പതിനാലാം സ്ഥലം</p>
				<p class="subtitle">ഈശോമിശിഹായുടെ മൃതദേഹം കല്ലറയില്‍ സംസ്ക്കരിക്കുന്നു</p>
			</div>
			<div class="section">
				<p>ഈശോമിശിഹായേ, ഞങ്ങള്‍ അങ്ങയെ കുമ്പിട്ടാരാധിച്ചു വണങ്ങി സ്തോത്രം ചെയുന്നു:</p>
				<p>എന്തുകൊണ്ടെന്നാല്‍ വിശുദ്ധ കുരിശിനാല്‍ അങ്ങു ലോകത്തെ വീണ്ടുരക്ഷിച്ചു</p>
			</div>
			<div class="section">
				<p>അനന്തരം പീലാത്തോസിന്റെ അനുവാദത്തോടെ റാംസാക്കാരനായ ഔസേപ്പ് ഈശോയുടെ മൃതദേഹം ഏറ്റെടുത്തു. നൂറു റാത്തലോളം സുഗന്ധകൂട്ടുമായി നിക്കൊദേമൂസും അയാളുടെ കൂടെ വന്നിരുന്നു. യൂദന്മാരുടെ ആചാരമനുസരിച്ചു കച്ചകളും പരിമളദ്രവ്യങ്ങളും കൊണ്ടു ശരീരം പൊതിഞ്ഞു. ഈശോയെ കുരിശില്‍ തറച്ചിടത്ത് ഒരു തോട്ടവും, അവിടെ ഒരു പുതിയ കല്ലറയുമുണ്ടായിരുന്നു. ശാബതം ആരംഭിച്ചിരുന്നതുകൊണ്ടും കല്ലറ അടുത്തായിരുന്നതുകൊണ്ടും, അവര്‍ ഈശോയെ അവിടെ സംസ്ക്കരിച്ചു.</p>
			</div>
			<div class="section">
				<p>"അങ്ങ് എന്റെ ആത്മാവിനെ പാതാളത്തില്‍ തള്ളുകയില്ല; അങ്ങേ പരിശുദ്ധന്‍ അഴിഞ്ഞുപോകുവാന്‍ അനുവദിക്കുകയുമില്ല."</p>
			</div>
			<div class="section">
				<p>അനന്തമായ പീഡകള്‍ സഹിച്ച് മഹത്വത്തിലേയ്ക്കു പ്രവേശിച്ച മിശിഹായേ, അങ്ങയോടുകൂടി മരിക്കുന്നവര്‍ അങ്ങയോടുകൂടി ജീവിക്കുമെന്നും ഞങ്ങള്‍ അറിയുന്നു. മാമ്മോദീസാ വഴിയായി ഞങ്ങളും അങ്ങയോടുകൂടെ സംസ്ക്കരിക്കപ്പെട്ടിരിക്കയാണല്ലോ. രാവും പകലും അങ്ങേ പീഡാനുഭവത്തെപ്പറ്റി ചിന്തിച്ചുകൊണ്ട്‌ പാപത്തിനു മരിച്ചവരായി ജീവിക്കുവാന്‍ ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>1. സ്വര്‍ഗ്ഗ. 1. നന്മ.</p>
			</div>
			<div class="section">
				<p>കര്‍ത്താവേ അനുഗ്രഹിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധ ദൈവമാതാവേ, ക്രൂശിതനായ കര്‍ത്താവിന്റെ തിരുമുറിവുകള്‍ ഞങ്ങളുടെ ഹൃദയത്തില്‍ പതിപ്പിച്ചുറപ്പിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>