<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers">S: Nammude rakshakante / amoolyamaya shareera rakthangalude rahasyangale namukellavarkum bhakthyadharangalode sameepickam. Anuthaapathil ninnullavaakunna sharanthode/ aparaadhangalil ninnu pinthirinjukondum/ paapangalekkurichu pashchathapichukondum/ sahodhararude thettukal kshemichukondum/ namukku sakalathinteyum nadhanaya Dhaivathodu/ krupayum paapamo chanavum yaachickukayum cheyyam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p class="left">All:</p>
				</div>
				<div class="right">
					<p> Karthave, angayude dhaasarude paapangalum aparaadhangalum kshemickaname.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p class="left">S:</p>
				</div>
				<div class="right">
					<p>Bhinnathakalum kalahangalum vedinju nammude manasakshiye shuddheekarickam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p class="left">All:</p>
				</div>
				<div class="right">
					<p> Karthave, angayude dhaasarude paapangalum aparaadhangalum kshemickaname.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p class="left">S:</p>
				</div>
				<div class="right">
					<p>Shathruthayilum vidweshathilum ninnu nammude athmakkale vimukthamackam.</p>
				</div>
			</div>
			<div class="section conversation">
				<p>All: Karthave, angayude dhaasarude paapangalum aparaadhangalum kshemickaname.</p>
				<p class="servers">S: Vishudha Qurbana sweekarickukayum Parishuddhathmavinal pavithreekarickappedukayum cheyyam.</p>
				<p>All: Karthave, angayude dhaasarude paapangalum aparaadhangalum kshemickaname.
				<p class="servers">S: Yojippodum aikyathodum koode dhivyarahsyangalil pankukollam.</p>
				<p>All: Karthave, angayude dhaasarude paapangalum aparaadhangalum kshemickaname.</p>
				<p class="servers">S: Karthave, iva njangalude shareerangalude uyirppinum aathmakkalude rekshackum kaaranamakatte.</p>
				<p>All: Nithya jeevanum kaaranamakatte, enneckum, Amen.</p>
			</div>
		</div>
	</body>
</html>