<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Nee njangalkku nalkiya ella sahaayangalkkum anugrahangalkkumayi njangal ninakku sthuthiyum bahumaanavum kruthanjathayum aaradhanayum samarppickunnu. Ippozhum eppozhum enneckum.</p>
				<p>All: Amen.</p>
				<p class="servers">S: Hrudhayam kondu ningal prarthikkuvin. Samadhanam nammodu koode.</p>
				<p class="cardinal">C: Karthave, shakthanaya Dhaivame, pradhanacharyanum saarvathrikasabhayude thalavanum bharanaadhikariyumaya Romayile Mar (name) pappacku vendiyum njangalude sabhayude thalavanum pithavumaya Mar (name) shreshta methrappoleethakku vendiyum njangalude meladhyakshanum pithavumaya Mar (name) methrappoleethacku (methranu) vendiyum vishudha katholika sabha muzhuvanum vendiyum purhithanmar, bharanakarthakkal, meladhkaarikal ennivarkku vendiyum ee Qurbana sweekarickaname.</p>
				<p>All:  Karthave ee  Qurbana sweekarickaname.</p>
				<p class="cardinal">C: Ella pravaachakanmarudeyum shleehanmarudeyum rakthasaakshikaludeyum vandakarudeyum bahumaanathinu vendiyum angayude sannidhiyil preethijanakamaya vidham varthicha neethimaanmarum vishuddharumaya ella pithakkanmarkku vendiyum ee Ourbana sweekarickaname</p>
				<p>All: Karthave ee Ourbana sweekarickaname.</p>
				<p class="cardinal">C: Kleshitharum dukhitharum dharidhrarum peeditharum rogikalum aakularumaya ellavarkkum vendiyum njangalude idayil ninnu angayude naamathil verpirinju poya ella marichavarcku vendiyum angayude kaarunyathe prathyashapoorvam Kaathirickunna ee janathinu vendiyum ayogyanaya enicku vendiyum ee Ourbana sweekarickaname</p>
				<p>All: Karthave ee Qurbana sweekarickaname.</p>
			</div>
		</div>
	</body>
</html>
