<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Karunyavanaya pithave aashwasadhayaka naya Dhaivame angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude rakshakanum paripaalakanum sakalathinteyum dhaathavumaya angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Samastha lokathinteyum sakala sabhakaludeyum samadhanathinum aikyathinum nilanilppinum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude rajyathinum mattella rajyangalkkum avayil vasikkunna vishwasikalkkum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Anukoolamaya kaalavasthayckum samrudhamaya vilavukalkkum subhikshamaya valsarathinum lokam muzhuvanteyum aishwaryathinum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Mishihayude sabha muzhuvanteyum thalavanaya njangalude parishuddha pithavu Mar Francis pappayudeyum njangalude sabhayude thalavanum pithavumaya Mar. George Alancherry Shreshta methrappoleethayudeyum, njangalude meladhyakshnanum pithavumaaya Mar Joseph Srampickal methranteyum avarude saha shushroo shikaludeyum kshemathinu vendiyum angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude Karthavaya Mishihaye ninte krupayal njangale ellavareyum rakshikkaname. Ninte shanthiyum samadhanavum njangalil vardhippickukayum njangale anugrahikkukayum cheyyaname.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Namukkellavarkkum nammeyum nam ororuthareyum Pithavinum Puthranum Parishuddhathmavinum samarppickam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Njangalude Dhaivamaya Karthave, angecku njangal samarppickunnu.</p>
				</div>
			</div>
		</div>
	</body>
</html>