<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Enthukondennal paapamochanam ninte pakkal  ninnakunnuvallo.</p>
				<p>All: Karthavil njansharanappedunnu.</p>
				<p class="cardinal">C: Ente pratheeksha Avante vaagdhanathilakunnu.</p>
				<p>All: Pulariyaavan kaathirikkunna kaavalkkareppole  Karthave, ninne njankaathirickunnu.</p>
				<p class="cardinal">C: Pulariyavan kaathirikkunna kaavalkkareppole  Israelum Karthavine kaathirikkunnu.</p>
				<p>All: Enthukondennal avan karunayullavanaakunnu.</p>
				<p class="cardinal">C: Poornamaya rakshayum Avante pakkalakunnu.</p>
				<p>All: Israeline athinte paapangalil ninellam avan rakshickum.</p>
				<p class="cardinal">C: Pithavinum Puthranum Parishudhathmavinum  Sthuthi.</p>
				<p>All: Aadhimuthal enneckum amen.</p>
				<p class="servers">S: Agaadhathil ninnum ninne njan vilikkunnu. Marichavare uyirppikkunnavane ninte thirunaam- athinnu stuthi. Prarthickam: namuku samadhanam.</p>
				<p class="cardinal">C: Sajeevavum jeevadhayakavumaya shabdhathal asarine uyirppicha Karthave, aa shabddham ahaneeyamaya neethi vidhiyude dhivasathil ninte dhaasane (dhaasiye) vilickukayum, ninte valathub- haagathu nirthukayum cheyyatte. Paapangal porukkunnavanum karuna niranjavanum neethiman- umaaya vidhikarthave, jeevanteyummaranathinteyum nadhanum, Pithavum, Puthranum, Parishudh- athmaavumaya sarveshwara,</p>
				<p>All: Amen, Karthave anugrahikkaname.</p>
		</div>
	</body>
</html>
