<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="action">The celebrant recites the following with extended hands at  the end of the Karozutha.</p>
				<p class="cardinal">C: Karthave, balavaanaya Dhaivame, angayodu njangal vinayapoorvam prarthickunnu. Angayude krupavaram njangalil nirayckaname. Angayude dhaanangal njangalude karangal vazhi varshikkename. Angayude krupayum anugrahavum angu kaarunya- thirekathal thiranjedutha angayude ajaganamaya janam muzhuvanteyum  paapangalude kadangalude  mochanathinum poruthickum  kaaranamakette. Pithavum Puthranum Parishuddhathmavumaya sarveshwara, enneckum.</p>
				<p>All: Amen.</p>
			</div>
			<div class="section conversation">
				<p class="servers">S: Karthave aashirvadhickaname. Sahodharare ningal kaivappinayi thala kunickukayum aashirvadham sweekarikkukayum cheyyuvin.</p>
				<p class="action">Everybody bows. The celebrant bows and says the following prayer in a low voice.</p> 
				<p class="description center-align">(On Sundays and Feast days)</p>
				<p class="cardinal"> C: Karthave shakthanaya Dhaivame, angayude abhishikthan kadinamaya peedakalanubhavchu veendedutha ajagnamaya parishuddha katholicka sabha angayudethakunnu. Dhaiva swabhavathil angumayi onnayirikkunna Parishuddhatmavinte krupavarathal yadhartha pourohithyathinte padhavikal kaivappu vazhi nalkappedunnu. Viswasikalkku aathmeeya shusroosha cheyyunathinu parishuddhamaya sabha shareerathile savishesha amgangalakuvan nissararum balaheenarumaya njangale angu kaarunyathirekathal yogyarakki. Karthave angayude krupavaram njangalil nirakkukayum angayude dhaanangal njangalude karangal vazhi varshikkukayum cheyyaname. Angayude kaarunyavum anugrahavum njangaludeyum angu thiranjedutha ee janathinteyum mel undakumarakatte.</p> 
				<p class="description center-align">( On Week days and during Lent)</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, saarvarathri- kavum shlyhikavurnaya sabhayudemel angayude karunaniranja valamkai neettaname. Dhrushyavum adhrushyavumaya sakala vipathukalilum ninnu athine samrakshikkaname. Bhakthiyodum shrad dhayodum vishuddhiyodum koode angayude munpake shushroosha cheyyuvan njangalellavareyum dhayapoorvam  yogyarakkaname.</p>
				<p class="action">Resuming a straight posture, the celebrant prays in a loud  voice.</p>
				<p class="cardinal">C: Karunanidhiyaya Dhaivame, njangalellavarum onnuchernnu angaye njangalumayi ramyathappedu- thunna neethiyude pravarthikalal jeevithakalam muzhuvan angaye yadhochitham preethippeduthuvan njangale anugrahikkaname. Angecku sthuthiyum bahumaanavum kruthajnjathayum aaradhanayum nirantharam samarppikkuvan njagaleyogyarakkukayum cheyyaname. Pithavum Puthranum Parishuddhath- mavumaya sarveswara, enneckum.</p>
				<p>All: Amen.</p>
			</div>
		</div>
	</body>
</html>
 