
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="title">CHERIYA OPPEES</p>
			<p class="subtitle">(Office of the dead)</p>
			<div class="section conversation">
				<p class="servers">S: Marichavare uyirppikunnavane ninte  thirunaamathinu sthuthi. Prarthikkam namukku samadhanam.</p> 
				<p class="cardinal">C: Karthave, ninte karuna njangale anugamikkukayum ninte dhayaadhikyam njangalude paapangal maayichu kalayukayum cheyyumarakatte. Mahaneeyamaya ninte thrithwathinte anugraham njangale sahaayickumarakatte. Jeevanteyum maranathinteyum nadhanum Pithavum Puthranum Parishuddhathmavumaya sarveshwara.</p>
				<p>All: Amen.</p>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div> 
				<div class="right">
					<p>"Ente Karthave ninne njan prakeerthikkum"</p>
					<p>Mahimayodanthima vidhinaalil<br>
					Karthave neeyanayumpol<br>
					Karunayodenne niruthaname<br>
					Nallavarothu valam bhaage.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div> 
				<div class="right">
					<p>"Karthave ninne njan aashrayichu"</p>
					<p>Karthave, nin kurishine njan<br>
					Aaradhichu vanangunnu<br>
					Athu thaan njangalkkutdhanam<br>
					Rakshayumuyirum nalkunnu.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div> 
				<div class="right">
					<p>"Aakashavum bhoomiyum nintethaakunnu"</p>
					<p>Aakashavumee bhoothalavum<br>
					Thaavakamallo Karthave<br>
					Jeevikkunnavanabhayam nee<br>
					Nalkaname, mruthanaayussum.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div> 
				<div class="right">
					<p>"Avaranandha keerthanangal paadum"</p>
					<p>Mrutharam nararude paapangal<br>
					Maickaname nin krupayale<br>
					Mammodheesa vazhiyange<br>
					Sutharaanavarennorkkaname.</p>
				</div>
			</div>
		</div>
	</body>
</html>