<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<p>C: Karthave, marichavare nee karunapoorvam jeevippik- kaname. Jeevikkunnavare dhayapoorvam paripalik- kaname. Utdhanam pratheekshichu maranamadanjavare mahimayodu koode uyirppikkaname. Jeevanteyum maranathinteyum nadhanum Pithavum Puthranum, Parishudhathmavumaya sarveshwara.</p>
			</div>
			<div class="section">
				<p>All: Amen, Karthave anugrahikkaname.</p>
			</div>
			<div class="section cardinal">
				<p>C: Sakalathinteyum nadhanum Dhaivavumaya Mishihaye, Ninte kurishinte adayaalathodum dhaiva- dhoothanmarude akampadiyodum koode vaaname- ghangalil nee prathakshanavukayum swargarajyathinte vathilukal thurakkappedukayum, marichavar akshayarayi kabaridangalil ninnu uyirkkukayum, dhushta janangal neethimanmaril ninnum verthirikkappedukayum cheyyunna bhayaanakamaya vidhi dhivasathil ninte thiranjedukkapettavarkkayi lokaarambhathil thanne sajjamaakkappettirickunna swarga rajyathilecku njangalude ee sahodharane (sahodhariye) Nee sweekarikkaname. Njangalilum- njangalude samoohathilum Ninte krupayum anugrah avum nirantharam vasikkumarakatte. Ippozhum eppozhum ennekum.</p>
			</div>
			<div class="section">
				<p>All: Amen.</p>
				<br>
			</div>
			<div class="section">
				<p class="center-align">**********</p>
				<br>
			</div>
		</div>
	</body>
</html>
