<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="action">Facing the congregation</p>
				<p class="servers">S: Namukku prarthickam, samadhanam nammodu koode. Paathriyarkkeesumarum methranmarumaya / nammude pithakkanmar / purohithanmar, shushrooshikal ennivarudeyum / brahmacharikaludeyum kanyakakaludeyum / nammude maathapithakkanmar / puthree puthranmar / sahodhari sahdharanmar ennivarudeyum/ ormyacharichu kondu / ningal prarthickuvin. / Mishihayude snehitharum vishwasikalumaya / ella bharanakarthakkaleyum / sathyavishwasathode marichu / ee lokathil ninnu verpettu poya / ellavareyum anusmarickuvin. Mishihayude krupayal / ee bali namukku sahayathinum rakshaykkum / swargarajyathil nithya jeevanum kaaranamakatte.</p>
				<p class="cardinal">C: Karthave aasheervadhickaname.</p>
				<p class="action">Turning towards the assembly and extending his arms, he invites the assembly, saying:</p>
				<p class="cardinal">Ente sahodharare ee Qurbana ente karangalvazhi poorthiyakuvan ningal enicku vendi prarthickuvin.</p>
				<p>All: Sakalathinteyum nadhanaya Dhaivam / thante abheeshtam niravettuvan namme shaktharakkatte. / Ee Qurbana avidunnu sweekarickatte. / Angeckum njangalkkum lokam muzhuvanumvendi / angu samarppikkunna ee baliyil avidunnu sampreethanakukayum cheyyatte. Amen.</p>
				<p class="action">The celebrant says the following prayer ‘Kussepe” in a low voice.</p>
				<p class="description center-align">ANAPHORA</p>
				<p class="action">( The Qurbana of the Venerable Teachers of the East,Mar Addai and Mar Mari, the disciples of St. Thomas the Apostle)</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, angunjangaludemel varshicha samruddhamaya anugrahangale prathi njangal angecku nandi parayunnu. Angayude abhishikthante shareera rakthangalaakunna dhivyarahasyangalude shushrooshakaraakuvan eliyavarum paapikalumayirunnittum njangale angu kaarunyathirekathal yogyarakki. Angu nalkiya ee dhaanam thikanja snehathodum uracha vishwasathodum koode parikarmam cheyyuvan njangale shaktharakkanamennu angayodu njangal  apekshickunnu.</p>
			</div>
		</div>
	</body>
</html>
 