<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C:	Samadhanam ningalodu koode.</p>
				<p>All:	Angayodum angayude aathmavodum koode.</p>
				<p class="cardinal">C: Vishuddha …… ariyichya nammude Karthaveesho Mishihayude parishuddha suvishesham.</p>
				<p>All: Nammude Karthavaya Mishihaycku sthuthi.</p>
				<p class="action">( At the end of the reading, the celebrant closes the book of the Gospel and kisses  it)</p>
				<p>All: Nammude Karthavaya Mishihaycku sthuthi.</p>
				<p class="action">( All Sit  )</p>
				<p class="description">Homily</p>
				<p class="action">( After Homily All stand )</p>
				<p class="description">Karozutha—1 (Samooha Prarthana)</p>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Namukellavarkum santhoshathodum Uthsahathodum koode (On ordinary days: Anuthapathodum Shradthayodum) ninnu Karthave  njangaludemel krupayundakename ennu prarthickam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Karunyavanaya pithave aashwasadhayaka naya Dhaivame angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude rakshakanum paripaalakanum sakalathinteyum dhaathavumaya angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Samastha lokathinteyum sakala sabhakaludeyum samadhanathinum aikyathinum nilanilppinum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude rajyathinum mattella rajyangalkkum avayil vasikkunna vishwasikalkkum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
		</div>
	</body>
</html>