<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="description center-align">( Or )</p>
				<p class="cardinal">C: Swargasthanaya njangalude Pithave,</p>
				<p>All: Angayude naamam poojithamakename./ Angayude rajyam varaname./ Angayude thirumanassu/ swargathileppole bhoomiyilumakename. Njangalkku aavashyakamaya aaharam/ innu njangalkku tharenname./ Njangalude kadakkaarodu njangal kshemichirickunnathupole njangalude kadangalum paapangalum njangalodum kshemickaname./ Njangale pralobhanathil ulppedutharuthe./ Dhushtaaroopiyil ninnu njangale rakshickaname./ Enthukondennal rajyavum shakthiyum mhathwavum/ enneckum angayudethakunnu. Amen.</p>
				<p>All: Swargasthanaya njangalude Pithave/ angayude mhathwathal swargavum bhoomiyum niranjirikkunu./ Maalakhamarum manushyarum/ angu parishudhan/ parishudhan/ parishudhan ennu uthgoshikkunnu.</p>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Namukku prarthickam Samadhanam nammodukoode.</p>
				</div>
			</div>
			<p class="description center-align">( On Sundays and ordinary Feast days )</p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Njangalude Karthavaya Dhaivame manushya vamshathinte naveekaranathinum rakshayckum vendi angayude priyaputhran kaarunyapoorvam nalkiya dhivyarahasyangalude parikarmmathinu balaheenaraya njangale shaktharakkename. Sakalathinteyum nadha, enneckum.</p>
				</div>
			</div>
			<p class="description center-align">Sankeerthanam (Psalms 144,145,146)</p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Karthave mama rajave<br>
					Paadum nin pukalennum njan<br>
					Sakalesha nin thirunaamam<br>
					Vaazhtheedum njan anavaratham</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
				</div>
				<div class="right">
					<p>Karthave nin sthuthi paadum<br>
					Anudhinamangaye vaazhthum njan<br>
					Naadhan mahima niranjavanum,<br>
					Paaram sthuthyanumennennum</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<P>C:</P>
				</div>
				<div class="right">
					<p>Ennaathmave paaduka nee<br>
					Karthavin sthuthi geethangal<br>
					Jeevithakaalam muzhuvan njan<br>
					Naadhanu geethikal paadeedum</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Njanee mannil kazhivolam<br>
					Dhaiva sthuthikal paadeedum<br>
					Arachanilo naranoruvanilo<br>
					Sharanam thedan thuniyaruthe</p>
				</div>
			</div>
		</div>
	</body>
</html>









