<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Onnai ucha swarathilavar<br>
					thirussannidhiyil anavaratham<br>
					sthuthigeethangal paadunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Dhaivam nithyamahathwathin<br>
					Karthavennum parishuddhan<br>
					Balavaaneeshan parishuddhan<br>
					Mannum vinnum nirayunnu<br>
					Mannavanavanude mahimakalal<br>
					Unnatha veedhiyiloshana<br>
					Dhaaveedhin suthanoshana<br>
					Karthavin thirunaamathil<br>
					Vannavanum yugarajavai<br>
					Veendum varuvonum dhanyan<br>
					Unnathaveedhiyiloshana<br>
					Oashana.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="description center-align">( Or )</p>
				<p class="cardinal">C: Uyarna swarathil idavidathe sthuthichkond avar onnuchernu udhgoshikukayum cheyunnu.</p>
				<p>All: Bhalavaanum karthavumaya daivam parishudhan parishudhan parishudhan. Aviduthe mahathwathal swargavum bhoomiyum niranjirikkunu. Unnathangalil oshana. Davidinte puthranu oshana. Karthavinte namathil vannavum varuvanirikkunavanumayavan anugraheethanakunu. Unnathangalil oshana.</p>
			</div>
			<div class="section conversation">
				<p class="cardinal">C: Karthavaya Dhaivame, swargeeya ganangalodu koode angecku njangal kruthanjatha samarppickunnu. Angayil maranjirickunna aathmajaathanum angayodu sadhrushyanum angayil ninnulla prakashavum angayude satthayude prathishchayayumaya vachanamaakunna Dhaivathe njangal vaazhthunnu. Angayodulla samaanatha nilanirthenda kaaryamayi pariganickathe avidunnu thannetthanne shoonyanakki, dhaasante roopam sweekarichu, vivekavum buddhiyumulla amarthyamaya aathmavodum, marthyamaya shareerathodum koode paripoorna manushyanayi sthreeyil ninnu jaathanayi. Niyamathinu adheenaraayavare uddharickuvan niyamathinu vidheyanavukayum njangalude rakshayude smaarakam erppedutthukayum cheythu. Rakshakaramaya ee rahasyam thirusannidhiyil njangal arppickunnu.</p>
			</div>
		</div>
	</body>
</html>
 