<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Karthavaya Dhaivame, angayude priyaputhran njangale padippichathupole aviduthe peedanubhava- thinte smarana njangal aacharickunnu. Thaan elppichu kodukkappetta raathriyil Eesho nirmalamaya thrukkarangalil appameduthu (takes the paten with both hands) swargathilecku, (raises his eyes towards heaven) aaradhyanaya Pithave, angayude pakkalecku kannukal uyarthi, vaazhthi, + + + vibhajichu, shishyanmarkku nalkikkondu arulcheythu "Ithupaapamochanathinayi ningalkku vendi vibhajickappedunna ente shareeramakunnu. Ningalellavarum ithil ninnu vaangi bhakshickuvin."</p>
				<p>All: Amen.</p>
				<p class="cardinal">C: Aprakaaram thanne kaasayumeduthu (he takes it  with both hands) kruthajathastho-thram cheythu, vaazhthi, + + + avarkku nalkikkondu arul cheythu: "Ithu paapamochanathinayi chinthappedunna puthiya anekarkku udampadiyile vendi  ente rakthamakunnu. Ningalellavarum ithil ninnu vaangi  paanam cheyyuvin."</p>
				<p>All: Amen.</p>
				<p class="cardinal">C: "Njan ee cheythathu ningal ente naamathil onnichu koodumbol ente ormmakkayi cheyyuvin." </p>
				<p class="action">(All bow in reverence )</p>
				<p class="cardinal">C: Karthave, nee njangalodu kalppichathu-pole, eliyavarum balaheenarum aakularumaya ee dhaasar ninte thirussannidhiyil orumichu koodiyirickunnu.Nandi prakashippickuvan kazhiyatha vidham athra valiya anugrahamaanu nee njangalku nalkiyirickunnathu. Ninte dhaivikajeevanil njangale pankukarakkuvan nee njangalude manushya swabhaavam sweekarickukayum adhappathichu poya njangale samuddharickukayum mrutharaya njangale jeevippickukayum cheythu. Paapikalaya njangale kadangal kshamichu vishudheekarichu. Njangalude buddhicku prakasham nalki, nljangalude shathrukkale paraajitharakki. Njangalude balaheenamaya prakruthiye ninte samrudhamaya anugrahathal mahathwamaniyickukayum cheythu.</p>
			</div>
		</div>
	</body>
</html>
