<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
				</div>
				<div class="right">
					<p>Swargasthithanam thaatha nin<br>
					Naamam poojithamakaname<br>
					Nin rajyam vanneedaname<br>
					Nin hithamivide bhavickaname</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
				</div>
				<div class="right">
					<p>Swargathennathu polulakil<br>
					Nin chittham niraveraname<br>
					Aavashyakamaamaharam<br>
					Njangalkkinnaruleedaname</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
				</div>
				<div class="right">
					<p>Njangal kadangal poruthathupol<br>
					Njangalkkulla kadam sakalam<br>
					Paapathin kadabaadhyathayum<br>
					Angu kaninju porukkaname</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
				</div>
				<div class="right">
					<p>Njangal pareekshayiloru naalum<br>
					Ulppeduvanidayakaruthe<br>
					Dhushtaroopiyil ninnennum<br>  
					Njangale rakshicharulaname</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
				</div>
				<div class="right">
					<p>Enthennalennaleckum<br> 
					Raajyam shakthi mahathwangal<br>  
					Thaavakamallo Karthave<br> 
					Amen Amen enneckum</p>
				</div>
			</div>

			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Thaathanumathupol aathmajanum<br>
					Roohayckum sthuthi ennekkum<br> 
					Aadhimuthalkennathu pole<br> 
					Amen Amen anavaratham </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Swargasthithanam Thaatha nin<br>
					Naamam poojithamakaname<br>
					Nin rajyam vanneedaname<br>
					Parishuddhan nee parishuddhan</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
				</div>
				<div class="right">
					<p>Swargasthithanam Thaatha nin<br>
					Sthuthi than nisthula mahimaaval<br>
					Bhooswargangal niranju sadha<br>
					Paavanamayi vilangunnu</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
				</div>
				<div class="right">
					<p>Vaanava maanava vrindangal<br>
					Udhghoshippoo saamodham<br> 
					Parishuddhan nee ennennum<br>
					Parishuddhan nee parishuddhan</p>
				</div>
			</div>
		</div>
	</body>
</html>






