<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers">S: Parishuddhathmavinte krupavarathaal / sthuthyarhavum parishudhavum / jeevadhaayakavum dhaivikavumaya / ee rahasyangale sameepichu ivayil panku kolluvan / yogyarakkappetta namukkellavarkkum ivayude dhaathavaya Dhaivathinu / sthuthiyum kruthajnjathayum samarppickam.</p>
				<p>All: Avarnnaneeyamaya ee dhaanathekurichu Karthave, angecku sthuthi.</p>
				<p class="servers">S: Namukku prarthickam, samadhanam nammodu koode.</p>
			</div>
			<p class="description center-align">(On Ordinary days)</p>
			<div class="section conversation">
				<p class="cardinal">C: Karthaavaya Dhaivame, sthuthyarhavum parishuddhavum jeevadhaayakavum dhaivikavumaya ee rahasyangal kadangalude mochanathinayi angu kaarunyapoorvam njangalkku nalki. Ee dhaanathekkurichu angayude mahaneeya thrithwathinu sthuthiyum bahumaanavum kruthajnathayum aaradhanayum nirantharam samarppikkuvaan njangal kadappettavaraakunnu. Pithavum Puthranum Parishuddhathmavumaya sarveshwara, enneckum.</p>
				<p>All:	Amen. Karthave aasheervadhickaname.</p>
			</div>
			<div class="section conversation">
				<p class="cardinal">C:	Manushya vargathinte pratheekshayaya Mishihaye, sthuthyarhavum parishuddhavum jeevadhaayakavum dhaivikavumaya ee Qurbana vazhi nee njangalude kadangalum paapangalum porukkukayum aparaadhangal kshemikkukayum cheythu. Unnathangalil ninnulla aaradhyamaya ee dhaanam vaazhthappettathaakatte. Sakalathinteyum naadha, enneckum.</p>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
		</div>
	</body>
</html>