<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<p class="description">( Hymn )</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Mishihakarthavin krupayum<br>
					Dhaivapithavin snehamathum<br>
					Rooha than Sahavaasavumee
					<br>nammodothundakatte.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Uyarangalileckuyaratte<br>
					Hrudhaya vikaara vichaarangal. (2).</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Poorvapithavam Abraham,<br>
					Isahac, Yaakkobennivar than<br>
					Dhaivame nithyam aaraadhyn<br>
					Rajave, nin sannidhiyil.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Akhila charaachara Karthavam<br>
					Dhaivathinu baliyarppippoo</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Nyayavumaanathu yukthavumam ( 2 )</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S: Samadhanam nammodu koode</p>
				<p class="cardinal">C: Pithavum Puthranum Parishuddhathmavumaya sarveshwara, angayude mahatwameriya thrithwathinte aaradhyamaya naamam ella adharangalilum ninnu sthuthiyum ella naavukalilum ninnu kruthanjathayum ella srushtikalilum ninnu pukazhchayum arhickunnu. Enthukondennal, angu lokatheyum athilulla sakalatheyum kanivode srushtikkukayum manushya vamshathodu alavatta krupa kaanickukayum cheythu. Swargavaasikalude aayirangalum maalakhamarude pathinayirangalum mahonnathanaya angaye kumbittaraadhickunnu. Agnimayanmarum aroopikalumaya swargeeyasainyangal angayude naamam prakeerthickunnu. Parishuddharum aroopikalumaya krovenmarodum srappenmarodum chernnu nadhanaya angecku avar aaradhana samarppickunnu.</p>
				<p class="action">The celebrant kisses the altar. Subsequently, he raises his hands and sing:</p>
			</div>
		</div>
	</body>
</html>
 