<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<p class="description">Entrance Song</p>
				<p class="description">All stand</p>
				<p class="description">Hymn</p>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Annaa pesaha thirunalil<br>
					Karthaavaruliya kalpanapol<br>
					Thirunaamathil chernneedam<br>
					Orumayodee baliyarppikkam</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Anuranjitharai theernneedam<br>
					Navamoru peedamorukkeedam<br>
					Guruvin snehamodee yaagam<br>
					Thirumunpakeyanacheedam</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div>
					<p> Athyunnathamam swarlokathil<br>
					Sarveshanu sthuthi geetham (3)</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Bhoomiyilennum marthyanu shanthi<br>
					Prathyashayumenneckum (3)</p>
				</div>
			</div>
			<p class="description center-align"> ( or ) </p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Athyunnathangalil daivathinu sthuthi</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Bhoomiyil manushyark samadhanavum prathyashayum epozhum ennekum</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Swargasthithanam Thaatha nin<br>
					Naamam poojithamaakaname<br>
					Nin rajyam vanneedaname<br>
					Parishuddhan nee parishuddhan</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Swaragasthithanam thaatha nin<br>
					Sthuthi than nisthula mahimaavaal<br>
					Bhooswargangal niranju sadha<br>
					Paavanamayi vilangunnu</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Vaanava maanava vrindangal<br>
					Udghoshippoo saamodham<br>
					Parishuddhan nee ennennum<br>
					Parishuddhan nee parishuddhan</p>
				</div>
			</div>
		</div>
	</body>
</html>


