<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Marthyanu nithya mahonnathamam<br>
					Utdhanam neeyarulunnu<br>
					Akshayamavanude aathmavin<br>
					Uthama rakshayumekunnu</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S: Namukku prarthickam. Samadhanam nammodukoode.</p>
				<p class="cardinal">C: Ente Karthave, nee sathyamayum njangalude shareerangale uyirppikkunnavanum aathmakkale rakshickunnavanum jeevane nithyam paripaalickunnavanumakunnu. Njangal eppozhum ninakku sthuthiyum kruthanjathayum aaradhanayum samarppickuvan kadappettavarakunnu. Sakalathinteyum nadha enneckum.</p>
				<p>All: Amen</p>
			</div>
			<div class="section long">
				<div class="left">
					<p>Ch/All:</p>
				</div>
				<div class="right">
					<p>Shabdhamuyarthi paadiduvin<br>
					Sarvarumonnai paadiduvin<br>
					Ennennum jeevickum<br>
					Sarveshwarane vaazhthiduvin.</p>
				</div>
			</div>
			<div class="section long">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Paripaavananam sarvesha<br>
					Paripaavananam balavane<br>
					Paripaavananam amarthyane<br>
					Nin krupa njangalkkekaname.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="action">The celebrant blesses the reader, saying:</p>
				<p class="cardinal">C: Dhaivam ninne anugrahickatte.</p>
				<p class="action">At the end of the reading</p>
				<p>All: Dhaivamaya Karthavinu sthuthi.</p>
				<p class="servers"> Reader 2: Ente Sahodharare …. Pusthakatthil ninnulla  vaayana.</p>
				<p class="action">(Bows for blessing)</p>
				<p class="servers">Guro aashirvadhikkaname.</p>
				<p class="action">The celebrant blesses the reader, saying:</p>
				<p class="cardinal">C: Dhaivam ninne anugrahickatte.</p>
				<p class="action">At the end of the reading</p>
				<p>All: Dhaivamaya Karthavinu sthuthi.</p>
				<p class="servers">S: Prakeerthanam aalapikkuvanayi ningal ezhunnelkkuvin.</p>
				<p class="action">(All stand)</p>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Ambaramanavaratham<br>
					Dhaiva mahathwathe<br>
					Vaazhthippaadunnu<br>
					Dhivyathmavin geethikalal
					Halleluiah geethikalal<br>
					Karthavin thirudivasathin<br>
					(Dhanyan Thomashleeha than .....  name of Saint)<br>
					Nirmalamakumanusmaranam Kondadam innee vedhikayil.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Than karaviruthallo<br>
					vaanavithanangal<br>
					Udhghoshikkunnu</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Dhivyathmavin geethikalal<br>
					Halleluiah geethikalal<br>
					Karthavin thirudivasathin<br>
					(Dhanyan Thomashleeha than ....... name of Saint)<br>
					Nirmalamakumanusmaranam<br>
					Kondadam innee vedhikayil.</p>
				</div>
			</div>
		</div>
	</body>
</html>