<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers">S: Parishuddhathmavinte krupavarathaal / sthuthyarhavum parishudhavum / jeevadhaayakavum dhaivikavumaya / ee rahasyangale sameepichu ivayil panku kolluvan / yogyarakkappetta namukkellavarkkum ivayude dhaathavaya Dhaivathinu / sthuthiyum kruthajnjathayum samarppickam.</p>
				<p>All: Avarnnaneeyamaya ee dhaanathekurichu Karthave, angecku sthuthi.</p>
				<p class="servers">S: Namukku prarthickam, samadhanam nammodu koode.</p>
			</div>
			<p class="description">( For Sunday and days of commemoration )</p>
			<div class="section conversation">
				<p class="cardinal">C: Karthavaya daivame, angayude mahaneeyamaaya naamathinu sthuthiyum aaradhanyum kruthajnjathayum samarpikuka ella naazhikakalilum yogyavum ella kaalangalilum yukthavum aakunnu. Angayude jeevadayakavum daivikavumaya vachanangalude maadhuryam aaswadhikuvanum malakhamaarod koode thirunamathe sthuthikuvanum angayude dhaanamaya divyarahasyangalil pankukolluvanum mahonathanaya daivame, angekku sthuthiyudeyum kruthajnjathayudeyum keerthanangal idavidathe aalapikkuvanum balaheenaraya njangale karunyapoorvam angu yogyaraakki. Pithavum puthranum parishudhaathmavumaaya sarveswara, ennekum.</p>
				<p>All:	Amen. Karthave aasheervadhickaname.</p>
				<p class="cardinal">C: Sakalatheyum pavithrikarikkuna thante amoolyamaaya shareerarakthangal sweekarikkuvan nammude karthavum daivavum raajavum jeevadathavumaya mishiha kripapoorvam namme yogyaraaki. Vijarangalum vajanangalum pravarthikalum vazhi thanne prasadhipikkuvan avidunnu namme anugrahikkatte. Karthave, njangal sweekarichathum sweekarikunathumaya ee achaaram ninte karunyathirekathal njangalude kadangalude poruthikkum paapangalude mochanathinum marichavarude uyirpilulla prathyashakkum ninte sannidhiyil preethijanakamayavidham varthica ellavarodumonnich swargaraajytahil navamaaya jeevithathinum karanamakatte. Sakalathinteyum nadha, ennekum</p>
				<p>All:	Amen.</p>
			</div>
		</div>
	</body>
</html>