<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="description center-align">( Or )</p>
				<p class="cardinal">C: Pithavinum puthranum parishudhathmavinum sthuthi. Daiva mathavaya kanya mariyathinte smarana vishudha balipeedathinkal undakatte.</p>
				<p>Adhimuthal ennekum amen. Daivaputhrante sleehanmare, ekajathante snehithare, lokathil samadhanamundakuvan vendi prarthikuvin.</p>
				<p class="cardinal">C: Daivajanamellam amen amen ennu udhgoshikate. Vijayam varicha neethimanmarudeyum makudam choodiya rakthasakshikaludeyum smaranayod koode nammude pithavaya marthomasleehayude orma vishudha balipeedathinkal undakatte.</p>
				<p>Balavanaya karthavu nammod koode. Nammude rajavu nammod koode. Nammude daivam nammod koode. Yakobinte daivam nammude sahayiyum.</p>
				<p class="cardinal">Cheriyavarum valiyavarum ninte sthuthyarhamaya udhanam vazhi nee mahathwathode uyirpikumena pratheekshiyil marichavarellavarum nidra cheyunu.</p>
				<p>All: Aviduthe sannidhiyil ningalude hridayangal thurakkuvin. Upavasavum prarthanayum anuthapavum vazhi mishihayeyum aviduthe pithavineyum parishudhathmavineyum namuk prasadhipikkam.
			</div>
		</div>
	</body>
</html>
 