<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="title title-only">Vaidhikarkkuvendiyulla Prarthana</p>
			<div class="section">
				<p>All: Nithya Purohithanaya Eesho, / ange dhaasanmaraya vaidhikarukku / yathoru aapatthum varaathe/ange thiruhrudhayathil / abhayam nalkaname./Ange parishuddhamaya shareerathe /dhivasam thorum edukkunna /avarude  karangale /malinamaakathe kaakkaname. /Ange vilayeriya thirurakthathal/ nanayunna avarude naavukale /nirmalamaayi katthukollaname. / Shreshtamaya ange pourohithyathinte / mahaneeya mudhra pathichirickunna / avarude hrudhayangale / loaka vasthukkalil ninnu akattukayum, / vishuddhamayi kaatthukollukayum cheyyaname. / Angeude mahatvathinuvendiyulla / avarude prayarthnangal / phalasamruddhangalayi bhavickatte. / Avarude shushroosha labhikkunnavar, / ihathil avarude aanandavum aashwasavum, / parathil nithya soubhagyathinte makudavum aayittheeratte. / Angeyodukoodeyayirickuvanum / vachanam praghoshikkuvanum / thinmaye cherukkuvanum / avar ulsuharakatte.</p>
			</div>
			<div class="section">
				<p>Karthave / angayude sabhakku / vishudhanmaraya vaidikareyum, / sanyasini-sanyasimareyum / aalmaya preshithareyum /  pradhanam cheyyaname. Loaka rakshanaya Eesho, / a      </p>
			</div>
			<div class="section conversation">
				<p class="cardinal">Loaka rakshanaya Eesho,</p>
				<p>ange purohithareyum, / vaidhika shushrooshakareyum /suddheekarickaname.</p>
				<p class="cardinal">Vaidhikarude raajnjiyaya parishuddha Mariyame,</p>
				<p>vaidhikarkkuvendi praarthickaname.</p>
				<p class="cardinal">Visuddha Alphonsamme,</p>
				<p>sanyastharkkuvendi praarthickaname.</p>
				<p class="cardinal">Thirukkudumbame,</p>
				<p>njangalude kudumbangale nirmalamayi kaakkaname.</p>
			</div>
		</div>
	</body>
</html>