<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Karthave, ninte koodarathil aaru vasikkum. Ninte vishudhagiriyil aaru vishramikkum?</p>
				<p>Kara koodathe jeevikkunnavanum neethi pravarthikunnavanum hridayathil sathyamullavanum naavu kond vanchikathavanum</p>
				<p class="cardinal">C: Sahodaranod thinma cheyathavanum ayalkaranethiraya preranayku vazhangathavanum.</p>
				<p>Dushtanod kootu cherathavanum daivabhakthane maanikkunnavanum.</p>
				<p class="cardinal">C: Sathya prathignja langikathavanum anyaya palisha vaangathavanum</p>
				<p>Nirdoshikethirayi kaikooli vaangathavanum. Ingane jeevikkunavan neethimanakunu. Avan orikkalum ilakukayilla.</p>
				<p class="cardinal">C: Pithavinum puthranum parishudhathmavinum sthuthi.</p>
				<p>Aadhimuthal ennekkum amen.</p>
				<p class="cardinal">C: Parishudhamaya chinthakalode ninte balipeedathinu munpake nilkuvan karthave njangale sahayikaname.</p>
				<p>Karthave, ninte koodarathil aaru vasikkum. Ninte vishudhagiriyil aaru vishramikkum?</p>
				<p>Ellatineyum vishudhikarikkuna daivame, ninte balipeedam etra mahaneeyavum manoharavumakunu.</p>
			</div>
			<div class="section conversation">
				<p class="servers"> S: Halleluia, Halleluia, Halleluia. Samadhanam nammodu Koode </p>
				<p class="description ">(On Sundays and Feast days)</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, angayude snehathinte parimalam njangalil veeshukayum, angayude sathyathinte jnjanam njangalude aathmakkale prakashippickukayum cheyyumpol swargathil ninnu prathyakshanakunna angayude thirukkumarane sweekarickuvan njangalkku idayakatte. Sakalasoubha- gyangalum nanmakalum niranju mudichoodi nilkkunna sabhayil nirantharam angaye sthuthickuvanum mahath- wappeduthuvanum njangal yogyarakatte. Enthukond- ennal, angu ellathinteyum srushtavakunnu. Sakalathin- teyum nadha, enneckum.</p>
				<p>All: Amen</p>
				<p class="description ">(On ordinary days)</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, angu nalkiyitullathum ennal krithanjatha prakashippikuvan njangalkk kazhiyathathumaya ella sahayangalkum anugrahangalkumayi sakala soubhagyangalum nanmakalum niranju mudichoodi nilkkunna sabhayil njangal angaye nirantharam sthuthikukayum mahathwapeduthukayum cheyatte. Angu sakalthintem nadhanum srishtavumakunu. Pithavum puthranum parishudhathmavumaya sarveshwara ennekum.</p>
				<p>All: Amen</p>
			</div>
		</div>
	</body>
</html>










