<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="description center-align">Prabhodhana Ganam</p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Kaikkollaname, hrudhayamgamamaam<br>
					Vishwasamode dhaasan cheyyum<br>
					Baliyen nadha, thirusannidhiyil.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Kaikkollaname, hrudhayamgamamaam<br>
					Vishwasamode dhaasan cheyyum<br>
					Baliyen nadha, thirusannidhiyil.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Poorvanmaaram Noh Abraham<br>
					Isahak Yacob mahithashayar than<br>
					Paripaavanamaam balikal pole.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Kaikkollaname, hrudhayamgamamaam<br>
					Vishwasamode dhaasan cheyyum<br>
					Baliyen nadha, thirusannidhiyil.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Puruvalsalaraam shleeharumorupol<br>
					Vinayanwitharai thavasannidhiyil<br>
					Cheythoru navamam balipol nadha.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Kaikkollaname, hrudhayamgamamaam<br>
					Vishwasamode dhaasan cheyyum<br>
					Baliyen nadha, thirusannidhiyil.</p>
				</div>
			</div>
			<p class="description center-align">(Sankeerthanam)</p>
			<div class="section conversation">
				<p class="servers">S: Agaadhathil ninnu ninne njan vilikkunnu. Marichavare  uyirppikkunnavane ninte thiru- naamathinusthuthi.</p>
				<p class="description center-align"> (Samooham randu ganamayithudarunnu.)</p> 
				<p class="cardinal">C: Agaadhathil ninnu ninne njan vilikkunnu.</p>
				<p>All: Karthave ente shabdham kelkaname. </p>
				<p class="cardinal">C: Ente prarthana chevikkollaname.</p>
				<p>All: Karthave, nee paapangalellam orthirikumenkil aarkku rakshayundakum?</p>
			</div>
		</div>
	</body>
</html>
