<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers">Mammodheesa sweekarickukayum jeevante adayaalathal mudhritharakkukayum koode cheythavar  vishuddhabhakthiyodum shraddhayodum  rahasyangalil pankukollatte.</p>
				<p class="description">(Hymn of the Divine Mysteries)</p>
			</div>
			<div class="section long">
				<div class="left">
					<p>Choir:</p>
				</div>
				<div class="right">
					<p>Karthavil njan dhruddamayi sharanapettu</p>
				</div>
			</div>
			<div class="section long">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Mishiha Karthavin thirumey ninavumitha<br>
					Paavanabalipeede
					Sneha bhayangalodanayuka naam
					Akhilarumonnay sannidhiyil
					Vaanava nirayodu chernnevam<br>
					Paadam Dhaivam parishuddhan<br>
					Parishuddhan nithyam parishuddhan.</p>
				</div>
			</div>
			<p class="description">(Hymn)</p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Thaathanumathupol aathmajanum<br>
					Dhivya roohaykum sthuthiyennum
					Dhaivambikaeyum mar yauseppineyum
					Saadharamortheedam paavanamee baliyil.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Aadhiyileppol, ennennaeckum Amen amen,
					Suthanude preshithare,<br>
					Ekajasnehithare,<br>
					Shanthi labhichiduvaan,<br>
					Ningal prarthippin.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Sarvarumonnai paadeedatte Amen, amen,
					Marthomayeyum,<br>
					ninasakshikaleyum,<br>
					Salkkarmikaleyum,<br>
					baliyithil ortheedam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Nammude koode balavaanakum,
					Karthavennenneckum,<br>
					Rajavam Dhaivam,<br>
					nammodothennum,<br>
					Yaakkobin Dhaivam,<br>
					nammude thunayennum.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Cheriyavarellam valiyavaroppam<br>
					Kaathuvasikkunnu.
					Karthavennenneckum,<br>
					Mrutharellarum nin,<br>
					mahithoddhanathil,<br>
					Sharanam thedunnu,<br>
					uddhitharayiduvaan.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Thirusannidhiyil hrudhayagathangal,
					Choriyuvinennenneckum,<br>
					Nombum prarthanayum,<br>
					pashchathapavumai,<br>
					Thrithwathe modhal,<br>
					nithyam vaazhtheedam.</p>
				</div>
			</div>
		</div>
	</body>
</html>
 