<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left"><p>C:</p></div>
				<div class="right">
					<p>Kurishadayalam vazhiyaay naam<br>
					Samrakshitharayi theeratte<br>
					Mudhritharayi bhavikkatte<br>
					Ippozhum eppozhumennekkum</p>
				</div>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen ..... Amen.</p>
				</div>
			</div>
			<p class="description center-align title-only">(Farewell Prayer)</p>
			<div class="section">
				<p> C/All : Vishudheekaranathinte balipeedame swasthi! Njangalude Karthavinte kabaridame swasthi! Ninnil ninnu njan sweekaricha Qurbana kadangalude poruthikkum paapangalude mochanathinum kaaranamakatte. Iniyoru bali arpikkuvan njan varumo  illayo ennarinju kooda.</p>
				<br><br>
				<p class="center-align">**************</p>
			</div>
		</div>
	</body>
</html>