<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Marthyanu nithya mahonnathamam<br>
					Utdhanam neeyarulunnu<br>
					Akshayamavanude aathmavin<br>
					Uthama rakshayumekunnu</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S: Namukku prarthickam. Samadhanam nammodukoode.</p>
				<p class="cardinal">C: Ente Karthave, nee sathyamayum njangalude shareerangale uyirppikkunnavanum aathmakkale rakshickunnavanum jeevane nithyam paripaalickunnavanumakunnu. Njangal eppozhum ninakku sthuthiyum kruthanjathayum aaradhanayum samarppickuvan kadappettavarakunnu. Sakalathinteyum nadha enneckum.</p>
				<p>All: Amen</p>
			</div>
			<div class="section long">
				<div class="left">
					<p>Ch/All:</p>
				</div>
				<div class="right">
					<p>Shabdhamuyarthi paadiduvin<br>
					Sarvarumonnai paadiduvin<br>
					Ennennum jeevickum<br>
					Sarveshwarane vaazhthiduvin.</p>
				</div>
			</div>
			<div class="section long">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Paripaavananam sarvesha<br>
					Paripaavananam balavane<br>
					Paripaavananam amarthyane<br>
					Nin krupa njangalkkekaname.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S:  Namukku prarthickam, samadhanam nammodukoode</p>
				<p class="cardinal">C: Vishuddharil sampreethanayi vasikkunna parishuddhanum sthuthyarhanum balavaanum amarthyanumaya Karthave angayude swabhavathinothavidham eppozhum njangale kadaakshikkukayum anugrahikkukayum njangalodu karunakaanikkukayum cheyyaname. Pithavum Puthranum Parishuddhathmavumaya sarveswara, enneckum.</p>
				<p>All: Amen</p>
				<p class="servers">S: Sahodharare ningal irunnu shradhyode Kelkkuvin.</p>
				<p class="action">( All sit )</p>
				<p class="action">( The reader goes to the left side of the celebrant and facing the congregation says)</p>
				<p class="servers">Reader 1: Ente Sahodharare ….. Pusthakatthil ninnulla vaayana.</p>
				<p class="action">(Bows for blessing)</p>
				<p class="servers">Guro aashirvadhikkaname.</p>
			</div>
		</div>
	</body>
</html>










