<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div> 
				<div class="right">
					<p>"Avante santhoshathil avaraanandhickum"</p>
					<p>Karthave, nin shonithavum<br>
					Dhivya shareeravumarivode<br>
					Ulkkondavaram nin suthare<br>
					Nithya virunnil cherkkaname.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div> 
				<div class="right">
					<p>"Avante santhoshathil avaraanandhickum"</p>
					<p>Mazha peyyumpol vayalukalil<br>
					Vithukal potti mulackunnu<br>
					Kaahalanaadham kelkumpol<br>
					Mrutharil jeevanudhikkunnu.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div> 
				<div class="right">
					<p>"Pithavinum Puthranum Parisudhath mavinum sthuthi"</p>
					<p>Baava Puthran Roohaye<br>
					Mruthanamennil kaniyenam<br>
					Jeevan nalki mahonnathamam<br>
					Prabhayude naattil cherkkenam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div> 
				<div class="right">
					<p>"Aadhimuthal enneckum amen"</p>
					<p>Thelivayennude nadha nin<br>
					Thiru mizhiyellam kaanunnu<br>
					Niravadhiyaamen paapangal<br>
					Nirayaayenni vidhikkalle.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S: Prarthickam namukku samadhanam.</p> 
				<p class="cardinal">C: Karthave, ninte karuna njangale anugamikkukayum ninte dhayaadhikyam njangalude paapangal maayichu kalayukayum cheyyumarakatte. Mahaneeyamaya ninte thrithwathinte anugraham njangale sahaayickumarakatte. Jeevanteyum maranathinteyum nadhanum Pithavum Puthranum Parishuddhathmavumaya sarveshwara.</p>
				<p>All: Amen, Karthave anugrahikkename.</p>
				<p class="cardinal">C: Karthave, nee aakashathilum bhoomiyilum sthuthyarhanakunnu. Njangalude jeevante kaaranavum, aathmavinte prathyashayum neeyakunnu. Jeevanteyum maranathinteyum nadhanum Pithavum Puthranum Parishudhathmavumaya sarveshwara.</p>
				<p>All: Amen.</p>
			</div>
		</div>
	</body>
</html>



