<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<p class="action">(All bow at the sanctuary)</p>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Sarvadhipanam Karthave<br>
					Ninne vanangi namickunnu (all bow)<br>
					Eesho nadha vinayamode<br>
					Ninne namichu pukazhthunnu</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Marthyanu nithya mahonnathamam<br>
					Utdhanam neeyarulunnu<br>
					Akshayamavanude aathmavin<br>
					Uthama rakshayumekunnu</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="description center-align">( Or )</p>
				<p>All: Sakalathinteyum nadha, ninne njangal sthuthikkunu. Esho mishihaye, ninne njangal pukazhthunnu. Enthukondennal nee njangalude shareerangale uyirpikkunavanum aathmakkale rakshikkunavanum aakunu.</p>
			</div>
			<div class="section conversation">
				<p class="servers">S: Namukku prarthickam. Samadhanam nammodukoode.</p>
				<p class="cardinal">C: Ente Karthave, nee sathyamayum njangalude shareerangale uyirppikkunnavanum aathmakkale rakshickunnavanum jeevane nithyam paripaalickunnavanumakunnu. Njangal eppozhum ninakku sthuthiyum kruthanjathayum aaradhanayum samarppickuvan kadappettavarakunnu. Sakalathinteyum nadha enneckum.</p>
				<p>All: Amen</p>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Shabdhamuyarthi paadiduvin<br>
					Sarvarumonnai paadiduvin<br>
					Ennennum jeevickum<br>
					Sarveshwarane vaazhthiduvin.</p>
				</div>
			</div>
			<div class="section">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Paripaavananam sarvesha<br>
					Paripaavananam balavane<br>
					Paripaavananam amarthyane<br>
					Nin krupa njangalkkekaname.</p>
				</div>
			</div>
			<p class="description center-align">( Or )</p>
			<div class="section conversation">
				<p class="servers">S:  Sahodarare, ningal swaramuyarthi jeevikkuna daivathe prakeerthikkuvin.</p>
				<p>All: Parishudhanaya daivame<br>
				Parishudhanaya balavaane,
				Parishudhanaya amarthyane,
				Njangaludemel kripayundakename.
				</p>
			</div>
		</div>
	</body>
</html>