<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers">S: Namukku prarthickam. Samadhanam nammodu koode.</p>
				<p class="cardinal">C: Karthavaya Dhaivame, angayude dhaasarude paapangalum aparaadhangalum kaarunyapoorvam kshemickaname. Mahonnatha Dhaivamaya angaye swargarajyathil sakala vishuddharodumonnichu sthuthickuvan njangalude adharangale pavithreekarickukayum cheyyaname.</p>
				<p class="action">(  Congregation stands  )</p>
				<p class="action">The celebrant stands erect and says in a loud voice with his hands extended</p>
				<p class="cardinal">C: Karthavaya Dhaivame, kaarunyapoorvam angu njangalkku nalkiya manovishwasathodukoode angayude sannidhiyil eppozhum nirmmalahrudhayarum prasannavadhanarum nishkalankarumayi vyaaparickuvan njangale yogyarackaname. Njangalellavarum onnuchernnu angaye vilichu iprakaram apekshikkunnu.</p>
				<p class="cardinal">C: Swargasthanaya njangalude Pithave,</p>
				<p>All: Angayude naamam poojithamakename/ Angayude rajyam varaname/ Angayude thirumanassu/ swargathileppole bhoomiyilumakename. Njangalkku aavashyakamaya aaharam/ innu njangalkku tharenname./ Njangalude kadakkaarodu njangal kshemichirickunnathupole njangalude kadangalum paapangalum njangalodum kshemickaname./ Njangale pralobhanathil ulppedutharuthe./ Dhushtaaroopiyil ninnu njangale rakshickaname./ Enthukondennal rajyavum shakthiyum mhathwavum/ enneckum angayudethakunnu. Amen.</p>
			</div>
		</div>
	</body>
</html>