<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="action">Raising his hands</p>
				<p class="cardinal">C: Karthave, anugrahickename. Njangalude Karthavaya Dhaivame, njangal ayogyarakunnu. Njangal theerthum ayogyarakunnu. Enkilum sthuthyarhavum parishuddhavum, jeevadhayakavum dhaivikavumaya ee rahasyangalilecku angayude kaarunyam njangale aduppickunnu.</p>
				<p class="action">The celebrant kisses the altar, with his hands held to his chest in the form of the cross. He raises the Host and says:</p>
				<p class="cardinal">C: Njangalude Karthaveeshomishihaye, ninte thirunaamathinu sthuthiyum, naadhanaya ninacku aaradhanayum eppozhum undayirickatte. Sajeevavum jeevadhayakavumaya, ee appam swargathil ninnu irangiyathum lokathinu muzhuvan jeevan nalkunnathumakunnnu. Ithu bhakshickunnavar marickukayilla. Prathyutha, paapamochanavum rakshayum prapickukayum nithyam jeevickukayum cheyyum.</p>
			</div>
			<p class="description">( Hymn )</p>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>	
				<div class="right">
					<p>Njan swargathil ninnirangiya Jeevanulla appamakunnu<br>
					Rakshakaneesho than<br>
					Shishyare ariyicha<br>
					Dhivya rahasyamitha<br>
					Swargathil ninnagathamam<br>
					Jeevan nalkidumappam njan<br>
					Snehamodenne kaikkolvon<br>
					Ennil nithyam jeevickum<br>
					Nedumavan swarggam nishchayamai.
				</div>
			</div>
			<div class="section conversation">
				<p class="action">The celebrant bows, he crosses himself and says the following prayer in a loud voice.</p>
				<p class="cardinal">C: Nammude KarthaveeshoMishihayude krupayum Pithavaya Dhaivathinte snehavum  Parishuddhathmavinte  sahavaasavum naamellavarodum koode undayirickatte. Ippozhum eppozhum enneckum.</p>
				<p>Amen</p>
			</div>
		</div>
	</body>
</html>