<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Karthave ninte parishuddhathmavu ezhunalli varatte.</p>
				<p class="servers">S: Ningal nishabdharayai aadharapoorvam prarthickuvin / samadhanam nammodu koode.</p>
				<p class="cardinal">C: Ninte dhaasarude ee Qurbanayil avidunnu aavasichu ithine aasheervadhickukayum pavithreekarickukayum cheyyate. Ithu njangalkku kadangalude poruthickum paapangalude mochanathinum marichavarude uyirppilulla valiya prathyashackum ninne preethippeduthiya ellavarodum onnichu swargarajyathil navamaaya jeevithathinum kaaranamakate.</p>
				<p class="cardinal">C: Karthavaya Dhaivame, njangalkkuvendiyulla angayude mahaneeyavum vismayaavahavumaya ee rakshapaddhathiyekurichu angaye njangal nirantharam prakeerthickunnu. Angayude abhlshikthante amoolya rakthathal rakshickappetta sabhayil santhoshathodum prathyashayodum koode njangal angecku kruthanjatha arppickukayum cheyyunnu.</p>
				<p class="action">(  Celebrant Kisses the alter  )</p>
				<p class="description">( Hymn )</p>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Athipoojithamam nin thirunaamathinitha Sthuthiyum bahumathiyum, sthrothram keerthanavum Nadha njangalanackunnu ippozhumenneyckum.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="action">(  Congregation kneels  )</p>
				<p class="cardinal">C:	Dhaivame, angayude kaarunyathinottha vidham ennodu dhaya thonnename.</p>
			</div>
		</div>
	</body>
</html>