<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="action">The celebrant kisses the altar, crosses hishands over his chest, and prays:</p>
				<p class="cardinal">C: Njangal angecku sthuthiyum bahumaanavum  kruthanjathayum aaradhanayum samarppickunnu. (The celebrant crosses himself)  Ippozhum eppozhum enneckum.</p>
				<p>All: Amen</p>
				<p class="action">The celebrant blesses the people</p>
				<p class="cardinal">C: Samadhanam ningalodu koode.</
				<p>All: Angayodum angayude aathmavodum koode.</p>
				<p class="action">One of the servers receives the sign of peacefrom the celebrant and offers peace to the other servers and the assembly.</p>
				<p class="servers">S: Sahodharare, Mishihayude snehathil ningal  samadhanam aashamsickuvin.</p>
				<p class="action">Facing thecongregation</p>
				<p class="servers">S: Namukkellavarkkum anuthaapathodum vishuddhiyodum koode / Karthavinu nandi parayukayum / aviduthe vilichapekshikkukayum cheyyam. / Ningal aadharapoorvam ninnu / ivide anushtikkappedunnavaye sookshichu veekshickuvin. Bhayabhakthi janakamaaya rahasyangal koodhasha cheyyappedunnu. Purohithan (Purohithashreshtan...) thante maadhyastham vazhi samadhanam samrudhamaakunnathinuvendi / prarthickuvan thudangunnu. Kannukal thaazhthi,  vichaarangal swargathilecku uyarthi, nishabdharayi ekaagrathayodum bhakthiyodum koode / ningal hrudhayathil prarthickuvin. / Samadhanam nammodu koode.</p>
				<p class="action">The server brings the thurible and frankincense. The celebrant blesses it. The celebrant incenses the altar. He returns the censer to the server.</p>
			</div>
		</div>
	</body>
</html>
 