<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="cardinal">C: Karthave, shakthanaya sarveshwara, nallavanaya Dhaivame, krupapoornanaya njangalude Pithave, angayude kaarunyam njangal kenapeckshickunnu. Njangale pralobhanathill ulppedutharuthe. Dhushtaroopiyil ninnum avante sainyangalil ninnum njangale rakshickanname. Enthukondennal, swargathilum bhoomiyilum, rajyavum shakthiyum praabalyavum adhikaravum angayudethakunnu. Ippozhum eppozhum enneckum.</p>
				<p>All:	Amen.</p>
				<p class="cardinal">C:	Samadhanam ningalodu koode.</p>
				<p class="action">( The celebrant blesses the people )</p>
				<p>All:	Angayodum angayude aathmavodum koode.</p>
				<p class="action">Stretching his right hand over the gifts</p>
				<p class="cardinal">C:	Vishuddha Qurbana vishuddha janathinullathakunnu.</p>
				<p>All: Eka Pithavu parishuddhanakunu. / Eka Puthran parishuddhanakunnu. / Eka Rooha parishuddhanakunnu. / Pithavinum Puthranum Parishuddhathmavinum enneckum sthuthi. Amen.</p>
				<p class="servers">S: Jeevickunna Dhaivathe ningal prakeerthickuvin. </p>
				<p>All: Sabhayil aviduthecku sthuthiyundayirickatte.Ella nimishavum ella samayavum aviduthe krupayum kaarunyavum nammudemel undayirickatte.</p>
				<p class="action">Facing the congregation</p>
				<p class="cardinal">C: Namme jeevippickunna Karthaveesho Mishihayude krupavaram aviduthe kaarunyathal naamellavarilum sampoornnamakatte.</p>
				<p class="action">( The celebrant blesses the people )</p>
				<p>All: Eppozhum enneckum amen</p>
				<p class="servers">S: Sahodharare swarga rajyathilulla vishwasathode Dhaivaputhrante shareeram sweekarickuvanum aviduthe raktham paanam cheyyuvanum thirusabha ningale kshenickunnu.</p>
			</div>
		</div>
	</body>
</html>






