<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Nallathumuchithavumallo naam<br>
					Paaduka Dhaiva sthuthigeetham<br>
					Vaazhthamavanude thirunaamam<br>
					Dhaivam nithyan sthuthyarha</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Chithariyorisrel janathathiye<br>
					Naadhan veendum cherkkunnu<br>
					Paniyunnorslem nagariyavan<br>
					Karuna vaaridhiyavanallo</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Janaraashikalude madhye njan<br>
					Nin sthuthigeetham paadeedum<br>
					Valare janathin munpil njan<br>
					Nin sthuthi paadi vanangeedum</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Thaathanumathupol aathmajanum<br>
					Roohayckum sthuthi enneckum<br>
					Aadhi muthalkkennathu pole<br>
					 Amen amen anavaratham. ( Thurifer )</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers"> S: Halleluia, Halleluia, Halleluia. Samadhanam nammodu Koode </p>
				<p class="description ">(On Sundays and Feast days)</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, angayude snehathinte parimalam njangalil veeshukayum, angayude sathyathinte jnjanam njangalude aathmakkale prakashippickukayum cheyyumpol swargathil ninnu prathyakshanakunna angayude thirukkumarane sweekarickuvan njangalkku idayakatte. Sakalasoubha- gyangalum nanmakalum niranju mudichoodi nilkkunna sabhayil nirantharam angaye sthuthickuvanum mahath- wappeduthuvanum njangal yogyarakatte. Enthukond- ennal, angu ellathinteyum srushtavakunnu. Sakalathin- teyum nadha, enneckum.</p>
				<p>All: Amen</p>
				<p class="action">(All bow at the sanctuary)</p>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Sarvadhipanam Karthave<br>
					Ninne vanangi namickunnu (all bow)<br>
					Eesho nadha vinayamode<br>
					Ninne namichu pukazhthunnu</p>
				</div>
			</div>
		</div>
	</body>
</html>










