<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="description center-align">(On Ordinary days)</p>
			<div class="section conversation">
				<p class="cardinal">C: Karthaavaya Dhaivame, sthuthyarhavum parishuddhavum jeevadhaayakavum dhaivikavumaya ee rahasyangal kadangalude mochanathinayi angu kaarunyapoorvam njangalkku nalki. Ee dhaanathekkurichu angayude mahaneeya thrithwathinu sthuthiyum bahumaanavum kruthajnathayum aaradhanayum nirantharam samarppikkuvaan njangal kadappettavaraakunnu. Pithavum Puthranum Parishuddhathmavumaya sarveshwara, enneckum.</p>
				<p>All:	Amen. Karthave aasheervadhickaname.</p>
			</div>
			<div class="section conversation">
				<p class="cardinal">C:	Manushya vargathinte pratheekshayaya Mishihaye, sthuthyarhavum parishuddhavum jeevadhaayakavum dhaivikavumaya ee Qurbana vazhi nee njangalude kadangalum paapangalum porukkukayum aparaadhangal kshemikkukayum cheythu. Unnathangalil ninnulla aaradhyamaya ee dhaanam vaazhthappettathaakatte. Sakalathinteyum naadha, enneckum.</p>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<p class="description center-align title-only">Final Blessing (Huttama)</p>
			<div class="section cardinal">
				<div class="left"><p>C:</p></div>
				<div class="right">
					<p>Karthaavam Mishiha vazhiyay<br>
					Dhivyathmavin dhaanangal<br>
					Snehapithaavam sakaleshan<br>
					Viravodu nammil varshichu</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Swarllokathin mahimakkay<br>
					Dhaivam namme vilichallo<br>
					Akshaya soubhagamaarnniduvaan<br>
					Dhaivam namme nayichallo</p>
				</div>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left"><p>C:</p></div>
				<div class="right">
					<p>Ente shareeram bhakshickum<br>
					En rektham paanam cheyyum<br>
					Maanavanennil nivasikkum<br>
					Avanil njanum, nishchayamay</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Vidhiyil veezhathavane njan<br>
					Anthima dhivasamuyirppikkum<br>
					Nithyayussavanekum njan<br>
					Evam naadhanarul cheythu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left"><p>C:</p></div>
				<div class="right">
					<p>Aruliyapolinnee baliyil<br>
					Pankalikalaamakhilarkkum<br>
					Dhaivam kanivaarnnarulatte<br>
					Dhivyanugrahamennennum.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left"><p></p></div>
				<div class="right">
					<p>Nammude jeevitha paathakalil<br>
					Aavashyakamaam dhaanangal<br>
					Nalkiyanugrahamarulatte<br>
					Dhaivam karunayodennennum</p>
				</div>
			</div>
			<div class="section">
				<div class="left"><p>All:</p></div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
		</div>
	</body>
</html>