<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Anukoolamaya kaalavasthayckum samrudhamaya vilavukalkkum subhikshamaya valsarathinum lokam muzhuvanteyum aishwaryathinum vendi angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Mishihayude sabha muzhuvanteyum thalavanaya njangalude parishuddha pithavu Mar Francis pappayudeyum njangalude sabhayude thalavanum pithavumaya Mar. George Alancherry Shreshta methrappoleethayudeyum, njangalude meladhyakshnanum pithavumaaya Mar Joseph Srampickal methranteyum avarude saha shushroo shikaludeyum kshemathinu vendiyum angayodu njangal prarthickunnu.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Njangalude Karthavaya Mishihaye ninte krupayal njangale ellavareyum rakshikkaname. Ninte shanthiyum samadhanavum njangalil vardhippickukayum njangale anugrahikkukayum cheyyaname.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave njangaludemel krupayundakename.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Namukkellavarkkum nammeyum nam ororuthareyum Pithavinum Puthranum Parishuddhathmavinum samarppickam.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Njangalude Dhaivamaya Karthave, angecku njangal samarppickunnu.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="action">The celebrant recites the following with extended hands at  the end of the Karozutha.</p>
				<p class="cardinal">C: Karthave, balavaanaya Dhaivame, angayodu njangal vinayapoorvam prarthickunnu. Angayude krupavaram njangalil nirayckaname. Angayude dhaanangal njangalude karangal vazhi varshikkename. Angayude krupayum anugrahavum angu kaarunya- thirekathal thiranjedutha angayude ajaganamaya janam muzhuvanteyum  paapangalude kadangalude  mochanathinum poruthickum  kaaranamakette. Pithavum Puthranum Parishuddhathmavumaya sarveshwara, enneckum.</p>
				<p>All: Amen.</p>
			</div>
		</div>
	</body>
</html>