<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="description">( For Sunday and days of commemoration )</p>
				<p class="cardinal">C: Njangalude Karthavaya Dhaivame, Angayude jeevadhayakavum dhaivikavumaya kalpanakalude madhuraswaram shravikkunnathinum grahikkunnathinum njangalude buddhiye prakashippikkaname. Athuvazhi aathmashareerangalkku upakarickunna snehavum sharanavum rakshayum njangalil phalamaniyunnathinum nirantharam njangal angaye sthuthikkunnathinum 	angayude 	kaarunyathalum anugrahathalum njangale sahayickaname. Pithavum Puthranum Parishuddhathmavumaya sarveshwara, enneckum.</p>
				<p> All: Amen</p>
				<p class="description">( On normal days and sundays of lent season )</p>
				<p class="cardinal">C: Sarvanjanaya bharanakarthavum thante bhavanthil vasikunavarude vismayaneeyanaya paripalakanum sakala nanmakaludeyum soubagyangaludeyum uravidavumaya daivame, angayod njangal apekshikkunnu. Angayude swabhavathinotha vidham epozhum njangale kadakshikukayun anugrahikkukayum njangalod karuna kanikukayum cheyaname. Pithavum puthranum parishudhathmavumaya sarveswara ennekum.</p>
				<p> All: Amen</p>
				<p class="action">( All sit )</p>
				<p class="action">( The reader goes to the lectern at the right side of the  celebrant and stands facing the congregation )</p>
				<p class="servers">Reader: Sahodharare vishuddha ….. Sleeha ezhuthiya  lekhanam.</p>
				<p class="action">(Bows towards the celebrant)</p>
				<p class="servers">Reader:  Guro aashirvadhikkaname.</p>
				<p class="action">The celebrant blesses the reader, saying:</p>
				<p class="cardinal"> C: Mishiha ninne anugrahickatte.</p>
				<p class="action">At the end of the reading</p>
				<p>All: Nammude Karthavaya Mishihacku sthuthi.</p>
				<p class="action">(Thurifer )</p>
				<p class="servers">S: Halleluiah, Halleluiah, Halleluiah.</p>
				<p class="action">( All Stand ) 
			</div>
			
		</div>
	</body>
</html>