<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="description center-align">Sankeerthanam (Psalms 144,145,146)</p>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Karthave mama rajave<br>
					Paadum nin pukalennum njan<br>
					Sakalesha nin thirunaamam<br>
					Vaazhtheedum njan anavaratham</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Karthave nin sthuthi paadum<br>
					Anudhinamangaye vaazhthum njan<br>
					Naadhan mahima niranjavanum,<br>
					Paaram sthuthyanumennennum</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<P>C:</P>
				</div>
				<div class="right">
					<p>Ennaathmave paaduka nee<br>
					Karthavin sthuthi geethangal<br>
					Jeevithakaalam muzhuvan njan<br>
					Naadhanu geethikal paadeedum</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Njanee mannil kazhivolam<br>
					Dhaiva sthuthikal paadeedum<br>
					Arachanilo naranoruvanilo<br>
					Sharanam thedan thuniyaruthe</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Nallathumuchithavumallo naam<br>
					Paaduka Dhaiva sthuthigeetham<br>
					Vaazhthamavanude thirunaamam<br>
					Dhaivam nithyan sthuthyarha</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Chithariyorisrel janathathiye<br>
					Naadhan veendum cherkkunnu<br>
					Paniyunnorslem nagariyavan<br>
					Karuna vaaridhiyavanallo</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Janaraashikalude madhye njan<br>
					Nin sthuthigeetham paadeedum<br>
					Valare janathin munpil njan<br>
					Nin sthuthi paadi vanangeedum</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Thaathanumathupol aathmajanum<br>
					Roohayckum sthuthi enneckum<br>
					Aadhi muthalkkennathu pole<br>
					 Amen amen anavaratham. ( Thurifer )</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="description center-align">( Or )</p>
				<p class="cardinal">C: Karthave, ninte koodarathil aaru vasikkum. Ninte vishudhagiriyil aaru vishramikkum?</p>
				<p>Parishudhamaya chinthakalod ninte balipeedathinu munpake nilkuvan karthave, njangale sahayikaname.</p>
			</div>
		</div>
	</body>
</html>










