<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section conversation">
				<p class="servers"></p>
				<p class="cardinal"></p>
				<p class="action">( All sit )</p>
				<p class="action">( The reader goes to the lectern at the right side of the  celebrant and stands facing the congregation )</p>
				<p class="servers">Reader: Sahodharare vishuddha ….. Sleeha ezhuthiya  lekhanam.</p>
				<p class="action">(Bows towards the celebrant)</p>
				<p class="servers">Reader:  Guro aashirvadhikkaname.</p>
				<p class="action">The celebrant blesses the reader, saying:</p>
				<p class="cardinal"> C: Mishiha ninne anugrahickatte.</p>
				<p class="action">At the end of the reading</p>
				<p>All: Nammude Karthavaya Mishihacku sthuthi.</p>
				<p class="action">(Thurifer )</p>
				<p class="servers">S: Halleluiah, Halleluiah, Halleluiah.</p>
				<p class="action">( All Stand ) 
				<p class="description">Suvisheshageetham</p>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Halleluiah paadeedunnen<br>
					Halleluiah, Halleluiah<br>
					Nallorashayamen manathaaril<br>
					Vannu niranju thulumpeedunnu<br>
					Rajavin thirumunpil keerthana<br>
					madhuvai Njanathozhukkeedatte<br>
					Ettamanugraha poorithanam kavi<br>
					Than thoolikapolen naavippol<br>
					Thaathanumathupol suthanum<br>
					Parishuddhathmavinum sthuthiyuyaratte<br>
					Aadhi muthalkeyinnum nithyavumayi<br>
					Bhavicheedatte, Amen.<br>
					Halleluiah paadeedunnen<br>
					Halleluiah, Halleluiah.</p>
				</div>
			</div>
			<div class="section conversation">
				<p class="servers">S: Namukku shradhaapoorvam ninnu parishuddha           suvishesham shravickam.</p>
				<p class="action">(  At the bema, celebrant stands facing the congregation and two servers with lit candles on either side. The server carrying the censer stands in front of the bema and incenses during the reading).</p>
			</div>
		</div>
	</body>
</html>