<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ദുഃഖകരമായ ദിവ്യരഹസ്യങ്ങൾ</p>
				<p class="subtitle">(ചൊവ്വാഴ്ച്ചയും, വെള്ളിയാഴ്ച്ചയും)</p>
			</div>
			<div class="section">
				<p>1. നമ്മുടെ കർത്താവീശോമിശിഹാ പ്രിയ ശിഷ്യരോടൊപ്പം ഗത്സെമിനിയിൽ പ്രാർത്ഥിക്കുവാൻ ഒരുങ്ങുമ്പോൾ, അവിടുന്ന്് ഒരു കല്ലേറുദൂരം മാറി മുട്ടുകുത്തി ചോര വിയർത്തു പ്രാർത്ഥിച്ച തിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper"> നമുത്ഥു പ്രാർത്ഥിക്കാം, കർത്താവേ, ജീവിതത്തിൽ ഒറ്റപ്പെടുന്നതും ഒറ്റിക്കൊടുക്കപ്പെടുന്നതുമായ വേളകളിൽ, മറ്റുള്ളവരിൽ നിന്നും ഒരു കല്ലേറു ദൂരം മാറി നിന്ന് ചോര ചിന്തി പ്രാർത്ഥിക്കുവാൻ തക്ക ദൈവവിശ്വാസവും ശരണവും തരണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>2. നമ്മുടെ കർത്താവീശോമിശിഹായെ ദേശാധിപതിയായ പീലാത്തോസ് വിചാരണ ചെയ്തശേഷം ചമ്മട്ടികൊണ്ട് അടിക്കുവാൻ വിധി പ്രസ്താവിക്കുമ്പോഴും, ശാന്തതയോടെ നിൽക്കുന്ന ഈശോയെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ ജീവിതത്തിന്റെ പല  സന്ദർഭങ്ങളിലും ചെയ്യാത്ത കുറ്റങ്ങൾക്കും അറിയാത്ത തെറ്റുകൾക്കും വിധി വാചകങ്ങളും, ചമ്മട്ടി അടികളും ഞങ്ങൾ ഏൽക്കേതായി വരുന്നു. അപ്പോഴെല്ലാം അങ്ങയെപ്പോലെ ശാന്തതയോടും സമചിത്തതയോടും കൂടി ആയിരിക്കുവാനുള്ള കൃപാവരം  നൽകണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>3. നമ്മുടെ കർത്താവീശോമിശിഹായെ മുൾക്കിരീടം അണിയിച്ചതിനുശേഷം പടയാളികൾ അവിടുത്തെ മുഖത്ത് തുപ്പുകയും പരി ഹസിക്കുകയും മർദ്ദിക്കുകയും മൂലം രക്തമൊലിക്കുന്ന മുഖവുമായി നിൽക്കുന്ന രക്ഷകനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ, ജീവിതത്തിൽ അനേകരുടെ പരിഹാസ ശരങ്ങളും കുറ്റപ്പെടുത്തലുകളും മൂലം, ഞങ്ങളുടെ ഹൃദയത്തിൽ നിന്നും, മുഖത്തുനിന്നും രക്തം വാർന്നൊഴുകുന്ന നിമിഷങ്ങൾ ഉണ്ടാകാറുണ്ട്. അപ്പോഴെല്ലാം അങ്ങയെ തിരുമുഖത്തെക്കുറിച്ച് ഓർക്കുവാനും, ശാന്തമായി സഹിക്കുവാനും ഞങ്ങളെ അനുഗരഹിക്കണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>4. നമ്മുടെ കർത്താവീശോമിശിഹാ മരണത്തിനു വിധിക്കപ്പെട്ട ശേഷം ഭാരമേറിയ കുരിശും വഹിച്ചുള്ള കാൽവരി യാത്രയിൽ മൂന്നു പ്രാവശ്യം വീഴുന്നുവെങ്കിലും കുരിശുമായ് ഗാഗുൽത്തായിൽ എത്തിച്ചേർന്നതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ അങ്ങയെപ്പോലെ ഞങ്ങൾക്കും പീഡാനുഭവത്തിന്റെ കാൽവരിയിലേക്ക് ഭാരമേറിയ കുരിശും വഹിച്ച് നടന്നു നീങ്ങേണ്ടതായി വരുന്നു. അപ്പോഴെല്ലാം സമചിത്തതയോടും സന്തോഷത്തോടും കൂടെ കുരിശുകളെ ഏറ്റെടുത്ത് കാൽവരി കയറാനുള്ള ശക്തി തരണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>5. നമ്മുടെ കർത്താവീശോമിശിഹാ ഗാഗുൽത്താമലയിൽ ചെന്നപ്പോൾ, പടയാളികൾ അവിടുത്തെ തിരുവസ്ത്രങ്ങൾ ഉരിഞ്ഞെടുത്ത് കൈകളിലും കാലുകളിലും ആണികൾ തറയ്ക്കുമ്പോഴും അവിടുന്ന്ശത്രുക്കൾക്കുവേണ്ടി പ്രാർത്ഥിച്ച് പിതാവിന്റെ സന്നിധിയിൽ സ്വജീവൻ സമർപ്പിക്കുന്നതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, ജീവിതത്തിന്റെ കുരിശിൽ കിടന്ന് പിടയുമ്പോഴും, ശത്രുക്കൾക്കുവേ പ്രാർത്ഥിക്കുവാനും അങ്ങയുടെ അഭീഷ്ടം നിറവേറ്റുവാനും, ഞങ്ങളെയും ഞങ്ങളുടെ പാപങ്ങളെയും കുരിശിൽ തറയ്ക്കുവാനുമുള്ള അർപ്പണ മനോഭാവം ഞങ്ങൾക്ക് തരണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			
		</div>
	</body>
</html>