<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">2</p>
			<div class="section">
				<p>പരിശുദ്ധാത്മാവേ നീയെഴുന്നള്ളി</p>
				<p>വരണമേ എന്റെ ഹൃദയത്തിൽ</p>
				<p>ദിവ്യദാനങ്ങൾ ചിന്തിയെന്നുള്ളിൽ</p>
				<p>ദൈവസ്നേഹം നിറയ്ക്കണേ</p>
			</div>
			<div class="section paragraph">
				<p>സ്വർഗ്ഗവാതിൽ തുറന്നു ഭൂമിയിൽ</p>
				<p>നിർഗളിക്കും പ്രകാശമേ - സ്വർഗ</p>
				<p>അന്ധകാരവിരിപ്പുമാറ്റീടും</p>
				<p>ചന്തമേറുന്ന ദീപമേ</p>
				<p>കേഴുമാത്മാവിലാശ വീശുന്ന</p>
				<p>മോഹന ദിവ്യഗാനമേ .....  (പരിശുദ്ധാ...)</p>
			</div>
			<div class="section">
				<p>വിണ്ടുണങ്ങി വരണ്ട മാനസം</p>
				<p>കണ്ട വിണ്ണിൻ തടാകമേ   വിണ്ടുണ</p>
				<p>മന്ദമായ് വന്നു വീശിയാനന്ദം</p>
				<p>തന്ന പൊന്നിളം തെന്നലേ</p>
				<p>രക്തസാക്ഷികളാഞ്ഞു പുൽകിയ</p>
				<p>പുണ്യജീവിത പാത നീ .....  (പരിശുദ്ധാ...)</p>
			</div>
		</div>
	</body>
</html>