<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<p class="small-label">3</p>
			<div class="section">
				<p>ശ്ലീഹന്മാരിലിറങ്ങി വസിച്ചൊരു</p>
				<p>പരിശുദ്ധാത്മാവേ</p>
				<p>നിൻപ്രിയ സുതരെ ദിവ്യവരത്താൽ</p>
				<p>പൂരിതരാക്കണമേ (2) .....  (ശ്ലീഹ…)</p>
			</div>
			<div class="section paragraph">
				<p>സ്നേഹം നട്ടുവളർത്തിയ പാവന</p>
				<p>ശാന്തി പരത്തിടുവാൻ (2)</p>
				<p>തളർന്നു താഴും കരളിൻ പുത്തൻ</p>
				<p>ജീവനുണർത്തിടുവാൻ (2) .....  (ശ്ലീഹ…)</p>
			</div>
			<div class="section">
				<p>ഇരുണ്ടുപുകയും മാനസവേദിയിൽ</p>
				<p>ആശകൊളുത്തിടുവാൻ (2)</p>
				<p>കരഞ്ഞു മങ്ങിയ കണ്ണിൽ കാഞ്ചന</p>
				<p>കാന്തി വിരിച്ചിടുവാൻ (2) .....  (ശ്ലീഹ…)</p>
			</div>
		</div>
	</body>
</html>