<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രകാശത്തിന്റെ ദിവ്യരഹസ്യങ്ങൾ</p>
				<p class="subtitle">(വ്യാഴാഴ്ച്ച)</p>
			</div>
			<div class="section">
				<p>1. നമ്മുടെ കർത്താവീശോ മിശിഹാ തനിക്ക് വഴിയൊരുക്കുവാൻ വന്ന സ്നാപകയോഹന്നാനിൽ നിന്നും യോർദ്ദാൻ നദി തീരത്തു വച്ച് മാമ്മോദീസ സ്വീകരിച്ചതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ മാമ്മോദീസ വേളയിൽ ഞങ്ങൾക്കു ലഭിച്ച പരിശുദ്ധാത്മാവിനെ നഷ്ടപ്പെടുത്താതെ, ആത്മീയദാനങ്ങളിലും വരങ്ങളിലും വളർന്ന് അങ്ങയിൽ വീണ്ടും ജനിക്കുവാനും ദൈവമക്കളായി ജീവിക്കുവാനുമുള്ള കൃപാവരം തരണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>2. നമ്മുടെ കർത്താവീശോമിശിഹാ കാനായിലെ കല്യാണനാളിൽ മാതാവിന്റെ അഭ്യർത്ഥന പ്രകാരം വെള്ളത്തെ വീഞ്ഞാക്കി തന്റെ ദൈവപുത്രത്വം വെളിപ്പെടുത്തിയതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ ഞങ്ങളുടെ വ്യക്തി ജീവിതത്തിലും, കുടുംബ ജീവിതത്തിലും, സഹോദരങ്ങളിലും, സ്നേഹത്തിന്റെയും കൂട്ടായ്മയുടെയും അനുഭവമില്ലാതെ ഹൃദയം ശൂന്യമാകുമ്പോൾ, പരിശുദ്ധ അമ്മയുടെ മദ്ധ്യസ്ഥത്താൽ ഞങ്ങ ളുടെ ഹൃദയങ്ങളിലും കുടുംബങ്ങളിലും ദൈവസ്നേഹവും പര സ്നേഹവും നിറയ്ക്കണമെന്ന് അങ്ങയോട് അപേക്ഷിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>3. നമ്മുടെ കർത്താവീശോമിശിഹാ മാനസാന്തരത്തിനുള്ള സന്ദേ ശവും അറിയിച്ചുകൊണ്ട് ദൈവരാജ്യപ്രഘോഷണം നടത്തത്തി യതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ, അങ്ങ് പരസ്യജീവിതത്തിലൂടെ ദൈവരാജ്യം പ്രഘോഷിച്ചതുപോലെ ഞങ്ങളും പ്രേഷിത തീക്ഷ്ണതയാർന്ന ജീവിതത്തിലൂടെ മറ്റുള്ളവർക്ക്  സുവിശേഷമാകുവാനുള്ള കൃപാവരം നൽകണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>4. നമ്മുടെ കർത്താവീശോമിശിഹാ തന്റെ പ്രിയ ശിഷ്യരോടൊപ്പം താബോർമലയിൽ പ്രാർത്ഥിച്ചുകൊണ്ടിരിക്കുമ്പോൾ രൂപാന്തരപ്പെ ട്ടതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥ നാവേളകളും ധ്യാനനിമിഷങ്ങളും ദൈവാനുഭവത്തിന്റെയും ദൈവ ദർശനത്തിന്റെയും അവസരങ്ങളാക്കിത്തീർത്ത് അങ്ങയുടെ യഥാർത്ഥ ശിഷ്യരായി ഞങ്ങളെ രൂപാന്തരപ്പെടുത്തണമെന്ന് അങ്ങയോട് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>5. നമ്മുടെ കർത്താവീശോമിശിഹാ അന്ത്യ അത്താഴവേളയിൽ സ്വശരീരരക്തങ്ങൾ ശിഷ്യന്മാർക്ക് നൽകിക്കൊണ്ട് വിശുദ്ധ കുർബാന സ്ഥാപിച്ചതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ അങ്ങയെപ്പോലെ ഞങ്ങളും മറ്റുള്ളവർക്കായി മുറിക്കപ്പെടുവാനും, പങ്കുവയ്ക്കപ്പെടുവാനും, സ്നേഹത്തിന്റെ‚ ഒാർമ്മയാകുവാനും അനുഗ്രഹിക്കണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			
		</div>
	</body>
</html>