<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" />
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="english">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">(For Children to Lead)</p>
			</div>
			<div class="section">
				<p>1. God of everlasting love, who provides all things, we pray  for all people: make your way known to them, your saving power  among all nations. We pray for the welfare of your church here on  earth: guide and govern it by your Spirit, so that all who call  themselves Christians may be led in the way of truth and hold the  faith in unity of spirit, in the bond of peace, and in righteousness of  life. We pray to the Lord.</p>
				<p>Congregation: Lord, hear our prayer</p>
			</div>
			<div class="section">
				<p>2.  We commend to Your fatherly goodness all who are afflicted or distressed in body, mind or circumstances [especially. . .]: to help them in their needs, to give them patience in their sufferings, and to deliver them from their afflictions. We pray to the Lord.</p>
				<p>Cong: Lord, hear our prayer</p>
			</div>
			<div class="section">
				<p>3. We pray for those who suffer, the sick, the poor, the depressed, the lonely, the unloved, the persecuted, the unemployed, those who Grieve, and those who care for them. We pray to the Lord.</p>
				<p>Cong: Lord, hear our prayer</p>
			</div>
			<div class="section">
				<p>4. Comfort and heal, merciful Father, all who are in sorrow, need, sickness or any other trouble. Give them a firm trust in your goodness, help those who minister to them, and bring us all into the joy of your salvation. We pray to the Lord.</p>
				<p>Cong: Lord, hear our prayer.</p>
			</div>
			<div class="title">
				<p class="maintitle">More bidding prayers could be added.</p>
			</div>
			<div class="section">
				<p>Let us commend ourselves and one another to the Father, to the Son and to the Holy Spirit.</p>
				<p>Cong: Lord our God, we commend ourselves to Thee</p>
			</div>
		</div>
	</body>
</html>