<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="section">
				<p>ലീ: ഞങ്ങളുടെ കർത്താവായ ദൈവമേ അങ്ങു ഞങ്ങൾക്കു നൽകിയിളളതും എന്നാൽ കൃതജ്ഞത പ്രകാശിപ്പിക്കുവാൻ  ഞങ്ങൾക്കു കഴിയാത്തതുമായ എല്ലാ സഹായങ്ങൾക്കും അനുഗ്രഹങ്ങൾക്കുമായി സകല സൗഭാഗ്യങ്ങളും നൻമകളും  നിറഞ്ഞ് മുടി ചൂടി നിൽക്കുന്ന സഭയിൽ ഞങ്ങൾ അങ്ങയെ നിരന്തരം സ്തുതിക്കുയും മഹത്വപ്പെടുത്തുകയും ചെയ്യട്ടെ. അങ്ങു സകലത്തിന്റെയും നാഥനും സ്രഷ്ടാവുമാകുന്നു. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സർവ്വേശ്വരാ,  എന്നേയ്ക്കും.</p>
				<p>സമൂ: ആമ്മേൻ</p>
			</div>
			<div class="section">
				<p>സമൂ: സകലത്തിന്റെയും നാഥാ/ നിന്നെ ഞങ്ങൾ സ്തുതിക്കുന്നു.  ഈശോ മിശിഹായേ/ നിന്നെ ഞങ്ങൾ പുകഴ്ത്തുന്നു എന്തുകൊണ്ടെന്നാൽ / നീ ഞങ്ങളുടെ ശരീരങ്ങളെ ഉയർപ്പിക്കുന്നവനും / ആത്മാക്കളെ രക്ഷിക്കുന്നവനുമാകുന്നു.</p>
			</div>
			<div class="section">
				<p>ലീ: കർത്താവേ അങ്ങേക്കു നന്ദി പറയുന്നതുത്തമമാകുന്നു  അത്യുന്നതാ അങ്ങയുടെ നാമം പ്രകീർത്തിക്കുന്നതും.</p>
				<p>സകലത്തിന്റെയും നാഥാ. . . </p>
			</div>
			<div class="section">
				<p>സമൂ: പിതാവിനും പുത്രനും പരിശുദ്ധാത്മാവിനും സ്തുതി, ആദിമുതൽ എന്നേയ്ക്കും, ആമ്മേൻ</p>
				<p>സകലത്തിന്റെയും നാഥാ. . .</p>
			</div>
			<div class="section">
				<p>ലീ: എന്റെ കർത്താവേ നീ സത്യമായും ഞങ്ങളുടെ ശരീരങ്ങളെ     ഉയർപ്പിക്കുന്നവനും ആത്മാക്കളെ രക്ഷിക്കുന്നവനും ജീവനെ നിത്യം പരിപാലിക്കുന്നവനുമാകുന്നു. ഞങ്ങൾ എപ്പോഴും നിനക്കു സ്തുതിയും, കൃതജ്ഞതയും, ആരാധനയും സമർപ്പിക്കുവാൻ കടപ്പെട്ടവരാകുന്നു. സകലത്തിന്റെയും നാഥാ, എന്നേയ്ക്കും.</p>
				<p>സമൂ: ആമ്മേൻ</p>
			</div>
			<div class="section">
				<p>ലീ: സഹോദരരേ നിങ്ങൾ സ്വരമുയർത്തി സജീവനായ ദൈവത്തെ    പ്രകീർത്തിക്കുവിൻ!</p>
			</div>
			<div class="section">
				<p>സമൂ: പരിശുദ്ധനായ ദൈവമേ, പരിശുദ്ധനായ ബലവാനേ, പരിശുദ്ധനായ അമത്യനേ, ഞങ്ങളുടെ മേൽ കൃപയുണ്ടാകേണമേ</p>
			</div>
			<div class="section">
				<p>ലീ: പിതാവിനും പുത്രനും പരിശുദ്ധാത്മാവിനും സ്തുതി,</p>
				<p>പരിശുദ്ധനായ ദൈവമേ. . .</p>
			</div>
			<div class="section">
				<p>സമൂ: ആദിമുതൽ എന്നേയ്ക്കും ആമ്മേൻ</p>
				<p>പരിശുദ്ധനായ ദൈവമേ. . .</p>
		</div>
	</body>
</html>