<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" />
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">വിശ്വാസപ്രമാണം (The Apostles Creed)</p>
			</div>
			<div class="section">
				<p> സർവ്വശക്തനായ പിതാവും ആകാശത്തിന്റെയും ഭൂമിയുടെയും സ്രഷ്ടാവുമായ ദൈവത്തിൽ ഞാൻ വിശ്വസിക്കുന്നു. അവിടുത്തെ ഏകപുത്രനും ഞങ്ങളുടെ കർത്താവുമായ ഈശോ മിശിഹായിലും ഞാൻ വിശ്വസിക്കുന്നു. ഈ പുത്രൻ പരിശുദ്ധാത്മാവിനാൽ ഗർഭസ്ഥനായി കന്യകാമറിയത്തിൽ നിന്ന് പിറന്ന്, പന്തിയോസ് പീലാത്തോസിന്റെ കാലത്ത് പീഡകൾ സഹിച്ച്, കുരിശിൽ തറയ്ക്കപ്പെട്ട്, മരിച്ച് അടക്കപ്പെട്ട്, പാതാളങ്ങളിലിങ്ങി, മരിച്ചവരുടെ ഇടയിൽ നിന്ന് മൂന്നാം നാൾ ഉയർത്ത്, സ്വർഗ്ഗത്തിലേയ്ക്കെഴുന്നളളി, സർവ്വശക്തിയുളള പിതാവായ ദൈവത്തിന്റെ വലതുഭാഗത്തിരിക്കു ന്നു. അവിടെ നിന്ന് ജീവിക്കുന്നവരെയും മരിച്ചവരെയും വിധിക്കാൻ വരുമെന്നും ഞാൻ വിശ്വസിക്കുന്നു. പരിശുദ്ധാത്മാവിലും ഞാൻ     വിശ്വസിക്കുന്നു. വിശുദ്ധ കത്തോലിക്കാസഭയിലും, പുണ്യവാൻമാ രുടെ ഐക്യത്തിലും, പാപങ്ങളുടെ മോചനത്തിലും, ശരീരത്തിന്റെ ഉയർപ്പിലും, നിത്യമായ ജീവിതത്തിലും ഞാൻ വിശ്വസിക്കുന്നു.</p>
				<p>ആമ്മേൻ.</p>
			</div>
			<div class="section">
				<p class="center-align">1 സ്വർഗ.</p>
				<p>പിതാവായ ദൈവത്തിന്റെ മകളായിരിക്കുന്ന പരിശുദ്ധ മറിയമേ, ഞങ്ങളിൽ ദൈവവിശ്വാസം എന്ന പുണ്യമുണ്ടായി ഫലം ചെയ്യുതിന്  അങ്ങേ തിരുക്കുമാരനോട് അപേക്ഷിക്കണമേ</p>
				<p class="center-align">1 നന്മ.</p>
			</div>
			<div class="section">
				<p>പുത്രനായ ദൈവത്തിന്റെ മാതാവായിരിക്കുന്ന പരിശുദ്ധ മറിയമേ,  ഞങ്ങളിൽ ദൈവശരണം എന്ന പുണ്യമുണ്ടായി വർദ്ധിക്കുന്നതിന്  അങ്ങേ തിരുക്കുമാരനോട് അപേക്ഷിക്കണമേ.</p>
				<p class="center-align">1 നന്മ.</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധാത്മാവായ ദൈവത്തിന് ഏറ്റവും പ്രിയമുളളവളായിരിക്കുന്ന പരിശുദ്ധ മറിയമേ, ഞങ്ങളിൽ ദൈവസ്നേഹം എന്ന പുണ്യമുണ്ടായി വർദ്ധിക്കുന്നതിന് അങ്ങേ തിരുക്കുമാരനോട് അപേക്ഷിക്കണമേ.</p>
				<p class="center-align">1 നന്മ.</p>
				<p class="center-align">1 ത്രിത്വ.</p>
			</div>
			<div class="title">
				<p class="subtitle">(ഓരോ രഹസ്യവും കഴിഞ്ഞ് ചൊല്ലേണ്ട സുകൃതജപം)</p>
			</div>
			<div class="section">
				<p> ഓ! എന്റെ ഈശോ, എന്റെ പാപങ്ങൾ പൊറുക്കണമെ. നരകാഗ്നിയിൽ നിന്ന് എന്നെ രക്ഷിക്കണമെ. എല്ലാ ആത്മാക്കളെയും പ്രത്യേകിച്ച് അങ്ങേ സഹായം കൂടുതൽ ആവശ്യമുള്ളവരെയും സ്വർഗത്തിലേയ് ക്കാനയിക്കണമെ.</p>
				<p class="english">(O My Jesus forgive us our sins. Save us from the fires of hell. Lead us not into temptation but, deliver us from evil.)</p>
			</div>
		</div>
	</body>
</html>