
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രാർത്ഥനസഹായി</p>
			</div>
			<div class="section">
				<p> ലീഡ.: നമുക്ക് പരസ്പരം സമാധാനം ആശംസിച്ചുകൊണ്ട് ഈ പ്രാർത്ഥനാശുശ്രൂഷ ആരംഭിക്കാം.</p>
			</div>
			<div class="section">
				<p>(എല്ലാവരും പരസ്പരം സമാധാനം ആശംസിക്കുന്നു)</p>
			</div>
			<div class="section">
				<p>ലീ : അത്യുന്നതങ്ങളിൽ ദൈവത്തിനു സ്തുതി (3)</p>
				<p>സമൂഹം : ആമ്മേൻ</p>
			</div>
			<div class="section">
				<p> ലീ 	: ഭൂമിയിൽ മനുഷ്യർക്കു സമാധാനവും പ്രത്യാശയും എപ്പോഴും എന്നേയ്ക്കും.</p>
				<p>സമൂ : ആമ്മേൻ</p>
			</div>
			<div class="section">
				<p>ലീ : സ്വർഗ്ഗസ്ഥനായ ഞങ്ങളുടെ പിതാവേ/ (സമൂഹവും ചേർന്ന്) അങ്ങയുടെ നാമം പൂജിതമാകണമേ,/ അങ്ങയുടെ രാജ്യം വരണമെ/അങ്ങയുടെ തിരുമനസ്സ് സ്വർഗ്ഗത്തിലെപ്പോ ലെ ഭൂമിയിലുമാകണമെ./ ഞങ്ങൾക്കാവശ്യമായ ആഹാരം / ഇന്നു ഞങ്ങൾക്കു തരണമേ/ ഞങ്ങളുടെ കടക്കാരോട് ഞങ്ങൾ ക്ഷമിച്ചിരിക്കുന്നന്നതുപോലെ/ഞങ്ങളുടെ കടങ്ങളും പാപങ്ങളും ഞങ്ങളോടും ക്ഷമിക്കണമെ./ ഞങ്ങളെ പ്രലോഭനത്തിൽ ഉൾപ്പെടുത്തരുതെ,/ദുഷ്ടാരൂപിയിൽ നിന്നു ഞങ്ങളെ രക്ഷിക്കണമെ,/എന്തുകൊന്നൊൽ/ രാജ്യവും ശക്തിയും മഹത്വവും എന്നേയ്ക്കും അങ്ങയുടേതാകുന്നു. ആമ്മേൻ. </p>
				<p>സ്വർഗ്ഗസ്ഥനായ ഞങ്ങളുടെ പിതാവേ / അങ്ങയുടെ മഹത്വത്താൽ / സ്വർഗ്ഗവും ഭൂമിയും നിറഞ്ഞിരിക്കുന്നു. മാലാഖാമാരും / മനുഷ്യരും / അങ്ങ് പരിശുദ്ധൻ, പരിശുദ്ധൻ, പരിശുദ്ധൻ എന്ന് ഉദ്ഘോഷിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>ലീ 	: നമുക്ക് പ്രാർത്ഥിക്കാം. (സമൂഹവും ചേർന്ന് ) രണ്ടോ മൂന്നോ പേർ / എന്റെ നാമത്തിൽ ഒരുമിച്ചുകൂടുമ്പോൾ / അവരുടെ മദ്ധ്യേ ഞാനുണ്ടായിരിക്കുമെന്ന്/ അരുളിച്ചെയ്ത ഈശോയെ , അങ്ങേ മക്കളായ ഞങ്ങൾ/ പ്രാർത്ഥിക്കുവാനായി / ഈ ഭവനത്തിൽ ഒരുമിച്ചു കൂടിയിരിക്കുന്നു. ഈ ഭവനത്തെയും / ഈ കൂട്ടായ്മയെയും/ ഞങ്ങളെയെല്ലാവരെയും/ അങ്ങേ തിരുഹൃദയത്തിൽ ഞങ്ങൾ പ്രതിഷ്ഠിക്കുന്നു. ഈ പ്രാർത്ഥനാ ശുശ്രൂഷയിൽ ദൈവചിന്തയോടും ഭക്തിയോടും കൂടെ പങ്കെടുക്കുവാനും ദൈവാനുഗ്രഹങ്ങൾ പ്രാപിക്കുവാനും /ഞങ്ങളെ അനുഗ്രഹിക്കണമെ. സകലത്തിന്റെയും നാഥാ, എന്നേയ്ക്കും. ആമ്മേൻ.</p>
			</div>
		</div>
	</body>
</html>