<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സന്തോഷകരമായ ദിവ്യരഹസ്യങ്ങൾ</p>
				<p class="subtitle">(തിങ്കളാഴ്ച്ചയും, ശനിയാഴ്ച്ചയും)</p>
			</div>
			<div class="section">
				<p>1. നമ്മുടെ കർത്താവായ ഈശോമിശിഹായെ പ്രസവിക്കുമെന്ന സന്തോഷവാർത്ത ഗബ്രിയേൽ ദൂതൻ പരിശുദ്ധ കന്യാമറിയത്തെ അറിയിച്ചു എന്നു ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, പരിശുദ്ധ ദൈവമാതാവായി തിരഞ്ഞെടുക്കപ്പെട്ടു എന്നറിഞ്ഞപ്പോഴും, "ഇതാ കർത്താവിന്റെ ദാസി" എന്നു  പറഞ്ഞ് ദൈവേഷ്ടത്തിന് കീഴ്വഴങ്ങിയ പരിശുദ്ധ അമ്മേ, അങ്ങയെ പ്പോലെ ഞങ്ങളും ദൈവതിരുമനസ്സിന് വിധേയപ്പെട്ട്  ജീവിക്കുവാനുള്ള  കൃപാ വരം നൽകണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>2. പരിശുദ്ധ ദൈവമാതാവ് യൂദയാ മലഞ്ചെരുവുകളിലൂടെ നടന്ന്് തന്റെ ഇളയമ്മയായ ഏലീശ്വായുടെ അടുത്തെത്തി അവൾക്ക്് മൂന്നു മാസം ശുശ്രൂഷ ചെയ്തതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്ക് പ്രാർത്ഥിക്കാം, പരിശുദ്ധ അമ്മേ, അങ്ങയെപ്പോലെ കഷ്ടപ്പാടുകൾ സഹിച്ചും ഞങ്ങളുടെ സഹോദരങ്ങളെ ശുശ്രൂഷിക്കു വാനും, ഈശോയെ ഹൃദയത്തിൽ സംവഹിച്ച് മറ്റുള്ളവരെ സമാശ്വ സിപ്പിക്കുവാനുമുള്ള പ്രേഷിതതീക്ഷ്ണതയും ആത്മസമർപ്പണവും നൽകണമെന്ന് അങ്ങയോട് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>3. പരിശുദ്ധ ദൈവമാതാവ് തന്റെ തിരുസുതന് ജന്മമേകുവാൻ കാലമായപ്പോൾ ബെത്ലഹേമിലെ കാലിത്തൊഴുത്തിൽ പ്രസവിച്ച് ലോകരക്ഷകനെ നമുക്കു നല്കിയതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, മനുഷ്യകുലത്തെ പാപത്തിൽ നിന്നും രക്ഷിക്കുവാനായി ബെത്ലഹേമിലെ കാലിത്തൊഴുത്തിൽ ജനിച്ച കുഞ്ഞുണ്ണീശോയേ, അങ്ങേയ്ക്കു പിറക്കുവാനായി എന്റെ ഹൃദയ ത്തെയും അങ്ങേയ്ക്കു വസിക്കുവാനായി എന്നെത്തന്നെയും സമർപ്പിച്ച് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>4. പരിശുദ്ധദൈവമാതാവ് തന്റെ ദിവ്യസുതനെ ദൈവാലയത്തിൽ കൊണ്ടുചെന്ന് ദൈവത്തിന് കാഴ്ചയായി സമർപ്പിച്ച് ശിമയോന്റെ കരങ്ങളിൽ ഏൽപ്പിച്ചതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, പരിശുദ്ധ അമ്മേ പ്രിയപുത്രനെ ദൈവ തൃക്കരങ്ങളിൽ പൂർണ്ണമായി ഭരമേല്പ്പിച്ചതുപോലെ, ഞങ്ങളെയും ഞങ്ങളുടെ കുടുംബാംഗങ്ങളെയും ദൈവസന്നിധിയിൽ ഭരമേൽപ്പി ക്കുന്നു. ഞങ്ങളെ എല്ലാവരെയും വിശുദ്ധിയിലും നന്മയിലും കാത്തുപരിപാലിക്കണമെന്ന് അങ്ങയോട് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>5. നമ്മുടെ കർത്താവീശോമിശിഹാ ജറുസലേം ദൈവാലയത്തിലെ തിരുനാൾവേളയിൽ വേദപണ്ഡിതരുമായി തർക്കിച്ചിരുന്നതു മൂലം, അവിടുത്തെ കാണാതെ അന്വേഷിച്ചിട്ട് മൂന്നാം ദിവസം മാതാപിതാ ക്കൾ ദൈവാലയത്തിൽ വച്ച് തിരുസുതനെ കണ്ടെത്തിയതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, ഭൗതിക വ്യഗ്രതയാലും പാപഭാരത്താലും, ഈശോയിൽ നിന്നും അകന്നുപോകുമ്പോൾ അനുതാപത്തോടെ അങ്ങയുടെ പക്കലേക്ക് തിരിച്ചുവരുവാനും, ഞങ്ങളുടെ രക്ഷകനും നാഥനുമായി അങ്ങയെ സ്വീകരിക്കുവാനും ഞങ്ങളെ അനുഗ്ര അനുഗ്രഹിക്കണമെന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			
		</div>
	</body>
</html>