<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">മരിച്ച വിശ്വാസികൾക്കുവേണ്ടിയുള്ള പ്രാർത്ഥന</p>
			</div>
			<div class="section">
				<p> മരിച്ച വിശ്വാസികളുടെ ആത്മാക്കൾ തമ്പുരാന്റെ‚ മനോഗുണ ത്താൽ മോക്ഷത്തിൽ ചേരുവാൻ അനുഗ്രഹമുണ്ടായിരിക്കട്ടെ.</p>  
				<p>നിത്യപിതാവേ, ഈശോ മിശിഹാ കർത്താവിന്റെ വില തീരാത്ത തിരുച്ചോരയെക്കുറിച്ച് കർത്താവേ മരിച്ചവരുടെ മേൽ കരുണയായിരിക്കണമേ.</p>
				<p>സ്വർഗ്ഗ. . . നൻമ. . .  ത്രി. . . (3 പ്രാവശ്യം)</p>
			</div>
			<div class="title">
				<p class="maintitle">അൻപത്തിമൂന്നു മണി ജപം</p>
			</div>
			<div class="section">
				<p>അനന്തനന്മസ്വരൂപിയായ സർവേശ്വരാ, അങ്ങേ മക്കളായ ഞങ്ങൾ ജപമാലയർപ്പണത്തിലൂടെ ക്രിസ്തുരഹസ്യങ്ങളെക്കുറിച്ഛ് ധ്യാനിക്കുവാനായി ആഗ്രഹിക്കുന്നു. പരിശുദ്ധ കന്യകാമറിയം മുഖേന ഞങ്ങൾക്ക് നല്കികൊണ്ടിരിക്കുന്ന എല്ലാവിധ അനുഗ്രഹ ങ്ങൾക്കും അങ്ങേയ്ക്കു നന്ദി പറയുന്നു. ഈ ജപമാല ഭക്തിയോടും അന്യവിചാരം കൂടാതെയും അങ്ങേ തിരുമുമ്പിൽ കാഴ്ചയർപ്പിക്കുന്നതിനും അവയിൽ നിന്നും ഉദ്ദിഷ്ട ഫലം സിദ്ധിക്കുന്നതിനും പരിശുദ്ധ ദൈവമാതാവ് വഴി അനുഗ്രഹിക്കണമെന്ന് ഞങ്ങൾ ഒന്നുചേർന്ന് പ്രാർത്ഥിക്കുന്നു.</p>
			</div>
		</div>
	</body>
</html>