<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രാരംഭഗാനം</p>
				<p class="subtitle">(ഏതെങ്കിലും ഒന്ന്)</p>
			</div>
			<p class="small-label">1</p>
			<div class="section">
				<p> തന്നാലും നാഥാ ആത്മാവിനെ</p>
				<p>ആശ്വാസദായകനേ</p>
				<p>തന്നാലും നാഥാ നിൻ ജീവനെ</p>
				<p>നിത്യസഹായകനേ .....    (തന്നാലും) </p>
			</div>
			<div class="section paragraph">
				<p>അകതാരിലുണർവിന്റെ  പനിനീരു തൂകി</p>
				<p>അവിരാമമൊഴുകി വരൂ</p>
				<p>വരദാന വാരിധേ ഫലമേകുവാനായ്</p>
				<p>അനസ്യൂതമൊഴുകി വരൂ .....  (തന്നാലും)</p>
			</div>
			<div class="section">
				<p>പാപവും പുണ്യവും വേർതിരിച്ചേകുന്ന</p>
				<p>ജ്ഞാനമായ് ഒഴുകി വരൂ</p>
				<p>ആത്മീയ സന്തോഷം ദാസരിൽ നൽകുന്ന</p>
				<p>സ്നേഹമായ് ഒഴുകി വരൂ .....            (തന്നാലും)</p>
			</div>
		</div>
	</body>
</html>