<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" />
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">കുടുംബ പ്രതിഷ്ഠ</p>
			</div>
			<div class="section">
				<p>കുടുംബനായകൻ: ഈശോയുടെ തിരുഹൃദയമേ, (സമൂഹ വും കൂടി) ഞങ്ങളുടെ കുടുംബത്തേയും ഞങ്ങളെ ഓരോരുത്തരെയും ഞങ്ങൾ അങ്ങേയ്ക്കു പ്രതിഷ്ഠിക്കുന്നു. ഞങ്ങളുടെകുടുംബത്തിൽ അങ്ങു രാജാവായി വാഴണമേ. ഞങ്ങളുടെ പ്രവൃത്തികളെല്ലാം അങ്ങ് തന്നെ നിയന്ത്രിക്കണമെ. ഞങ്ങളുടെ ഉദ്യമങ്ങളെല്ലാം ആശീർവദിക്കണമെ. ഞങ്ങളുടെ സന്തോഷങ്ങൾ വിശുദ്ധീകരിക്കുകയും സങ്കടങ്ങളിൽ ആശ്വാസം നല്കുകയും ചെയ്യണമേ. ഞങ്ങളിൽ ആരെങ്കിലും അങ്ങയെ ഉപദ്രവിക്കുവാനിടയായാൽ ഞങ്ങളോടു ക്ഷമിക്കണമേ. ഞങ്ങളുടെ കുടുംബത്തിലുള്ളവരേയും ഇവിടെ നിന്നകന്നിരിക്കുന്നവരേയും സമൃദ്ധമായി അനുഗ്രഹിക്കണമേ. മരിച്ചു പോയ ഞങ്ങളുടെ കുടുംബാംഗങ്ങളെ നിത്യഭാഗ്യത്തിലേയ്ക്കു പ്രവേശിപ്പിക്കണമേ. അങ്ങയെ കണ്ടാനന്ദിക്കുവാൻ സ്വർഗ്ഗത്തിലെത്തുന്നതു വരെ ആത്മീയവും ശാരീരികവുമായ എല്ലാ വിപത്തുകളിലും നിന്ന് ഞങ്ങളെ കാത്തുകൊള്ളണമേ. മറിയത്തിന്റെ വിമല ഹൃദയവും മാർ യൗസേപ്പിതാവും ഞങ്ങളുടെ പ്രതിഷ്ഠയെ അങ്ങേയ്ക്കു സമർപ്പിക്കുകയും ജീവിതകാലം മുഴുവനും ഇതിന്റെ‚ സജീവസ്മരണ ഞങ്ങളിൽ നിലനിർത്തുകയും ചെയ്യട്ടെ.</p>
			</div>
			<div class="section">
				<p>ഈശോയുടെ തിരുഹൃദയമേ,</p>
				<p>ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.</p>
				<p>മറിയത്തിന്റെ‚ വിമല ഹൃദയമേ,</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				<p>മാർ യൗസേപ്പിതാവേ,</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				<p>മാർതോമാ ശ്ലീഹായേ</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				<p>വിശുദ്ധ മർഗ്ഗരീത്താമറിയമേ,</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				<p>വിശുദ്ധ അൽഫോൻസാമ്മേ,</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="title">
				<p class="maintitle">സമാപനാശീർവാദം</p>
			</div>
			<div class="section">
				<p class="center-align">എല്ലാവരും ഇരിക്കുന്നു</p>
			</div>
			<div class="title">
				<p class="maintitle english">Presentation of Report</p>
				<br>
			</div>
			<div class="title">
				<p class="maintitle english">Discussion and Refreshment</p>
				<br>
			</div>
		</div>
	</body>
</html>