<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle"> സങ്കീർത്തനം 145</p>
			</div>
			<div class="section">
				<p> ലീ :  കർത്താവേ നിന്റെ കൂടാരത്തിൽ ആരു വസിക്കും, നിന്റെ‚ വിശുദ്ധഗിരിയിൽ ആരു വിശ്രമിക്കും.</p>
				<p>(സമൂഹം രണ്ടുഗണമായി ചൊല്ലുന്നു)</p>
			</div>
			<div class="section paragraph">
				<p>പരിശുദ്ധമായ ചിന്തകളോടെ നിന്റെ മുമ്പാകെ നിൽക്കുവാൻ കർത്താവേ ഞങ്ങളെ സഹായിക്കണമെ.</p>
			</div>
			<div class="section">
				<p>കർത്താവേ നിന്റെ കൂടാരത്തിൽ ആരു വസിക്കും?</p>
				<p>നിന്റെ വിശുദ്ധഗിരിയിൽ ആരു വിശ്രമിക്കും?</p>
			</div>
			<div class="section paragraph">
				<p>കറ കൂടാതെ ജീവിക്കുന്നവനും/ നീതി പ്രവർത്തിക്കുന്നവനും ഹൃദയത്തിൽ സത്യമുള്ളവനും/ നാവുകൊ!ു വഞ്ചി ക്കാത്തവനും</p>
			</div>
			<div class="section">
				<p>സഹോദരനോടു തിൻമ ചെയ്യാത്തവനും</p>
				<p>അയൽക്കാരനെതിരായ പ്രേരണയ്ക്കു വഴങ്ങാത്തവനും</p>
			</div>
			<div class="section paragraph">
				<p> ദുഷ്ടനോടു കൂട്ടു ചേരാത്തവനും</p>
				<p>ദൈവ ഭക്തനെ  മാനിക്കുന്നവനും</p>
			</div>
			<div class="section">
				<p>സത്യപ്രതിജ്ഞ ലംഘിസാത്തവനും</p>
				<p>അന്യായപ്പലിശ വാങ്ങാത്തവനും</p>
			</div>
			<div class="section paragraph">
				<p>നിർദോഷിക്കെതിരായി കൈക്കൂലി വാങ്ങാത്തവനും</p>
				<p>ഇങ്ങനെ ജീവിക്കുന്നവൻ നീതിമാനാകുന്നു</p>
				<p>അവൻ ഒരിക്കലും ഇളകുകയില്ല</p>
			</div>
			<div class="section">
				<p>പിതാവിനും പുത്രനും പരിശുദ്ധാത്മാവിനും സ്തുതി,</p>
				<p> ആദിമുതൽ എന്നേയ്ക്കും  ആമ്മേൻ.</p>
			</div>
		</div>
	</body>
</html>