<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സുവിശേഷ ഗീതം</p>
			</div>
			<div class="section">
				<p>സമൂ :  സുവിശേഷ വെളിച്ചത്താൽ</p>
				<p>ഇരുളെല്ലാം നീക്കിടുവാൻ</p>
				<p>അവതാരം ചെയ്തവനേ</p>
				<p>കൈകൂപ്പി വണങ്ങീടാം</p>
			</div>
			<div class="section">
  				<p>കർത്താവേ, ധരണിയിൽ നിൻ</p>
  				<p>സാക്ഷികളായ്ത്തീർന്നീടുവാൻ (2)</p>
  				<p>ഞങ്ങളിൽ നിൻ സുവിശേഷം</p>
  				<p>പൂങ്കിരണം ചൊരിയട്ടെ (2)</p>
  			</div>
  			<div class="title">
				<p class="maintitle">ബൈബിൾ വായന</p>
			</div>
			<div class="section">
				<p class="center-align">ലീഡർ ബൈബിൾ വായിക്കുന്നു</p>
			</div>
			<div class="title">
				<p class="maintitle">വചന സന്ദേശം</p>
			</div>
		</div>
	</body>
</html>