<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="section">
				<p>സർവ്വേശ്വരന്റെ പുണ്യപൂർണ്ണയായ മാതാവേ, ഇതാ ഞങ്ങൾ നിന്നിൽ അഭയം തേടുന്നു. ഞങ്ങളുടെ ആവശ്യനേരത്ത്, ഞങ്ങളുടെ അപേക്ഷകൾ ഉപേക്ഷിക്കരുതേ, ഭാഗ്യവതിയും അനുഗൃഹീതയുമായ കന്യകാ മാതാവേ, സകല ആപത്തുകളിൽനിന്നും എപ്പോഴും ഞങ്ങളെ കാത്തുകൊള്ളണമേ.
				</p>
			</div>
			<div class="section">
 				<p>ഈശോമിശിഹായുടെ വാഗ്ദാനങ്ങൾക്കു ഞങ്ങൾ യോഗ്യരാകുവാൻ,</p>
 				<p>സർവ്വേശ്വരന്റെ പരിശുദ്ധ ദൈവമാതാവേ, ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
 			</div>
 			<div class="section">
				<p class="subtitle center-align">പ്രാർത്ഥിക്കാം</p>
				<p>കർത്താവേ, പൂർണ്ണ മനസ്സോടുകൂടി സാഷ്ടാംഗം പ്രണമിക്കുന്ന ഈ കുടുംബത്തെ (സമൂഹത്തെ) തൃക്കൺപാർത്ത് എപ്പോഴും പരിശുദ്ധ കന്യകയായ പരിശുദ്ധ മറിയത്തിന്റെ അപേക്ഷയാൽ സകല ശത്രുക്കളുടെയും ഉപദ്രവങ്ങളിൽ നിന്നും രക്ഷിക്കണമേ. ഈ അപേക്ഷകളൊക്കെയും ഞങ്ങളുടെ കർത്താവീശോമിശിഹായുടെ യോഗ്യതകളെക്കുറിച്ച് ഞങ്ങൾക്കു തരണമേ. ആമ്മേൻ.</p>
			</div>
		</div>
	</body>
</html>