<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പരിശുദ്ധരാജ്ഞീ (Hail Holy Queen)</p>
			</div>
			<div class="section">
				<p>പരിശുദ്ധരാജ്ഞീ കരുണയുളള മാതാവേ സ്വസ്തി! ഞങ്ങളുടെ ജീവനും മാധുര്യവും ശരണവുമേ  സ്വസ്തി! ഹവ്വായുടെ പുറന്തളളപ്പെട്ട മക്കളായ ഞങ്ങൾ അങ്ങേ പക്കൽ നിലവിളിക്കുന്നു. കണ്ണുനീരിന്റ ഈ താഴ്വരയിൽ നിന്ന് വിങ്ങി കരഞ്ഞ് അങ്ങേപക്കൽ ഞങ്ങൾ നെടുവീർപ്പെടുന്നു. ആകയാൽ ഞങ്ങളുടെ മദ്ധ്യസ്ഥേ അങ്ങയുടെ കരുണയുളള കണ്ണുകൾ ഞങ്ങളുടെ നേരെ തിരിക്കണമേ. ഞങ്ങളുടെ ഈ പ്രവാസത്തിനു ശേഷം അങ്ങയുടെ ഉദരത്തിന്റെ അനുഗ്രഹീത ഫലമായ ഈശോയെ ഞങ്ങൾക്കു കാണിച്ചു തരണമേ. കരുണയും വാത്സല്യവും മാധുര്യവും നിറഞ്ഞ കന്യകാമറിയമേ! ആമ്മേൻ</p>
			</div> 
			<div class="section">
				<p>ലീ  : നമുക്ക് പ്രാർത്ഥിക്കാം, (സമൂഹവും ചേർന്ന്) തിരുവചനത്തി ലൂടെ/ സംസാരിക്കുന്ന നിത്യപ്രകാശമായ മിശിഹായേ/ ഞങ്ങളിപ്പോൾ കേൾക്കുവാൻ പോകുന്ന ദൈവവചനം/ ഭക്തിയോടും ശ്രദ്ധയോടും കൂടി ശ്രവിക്കുന്നതിനും/ അവ ജീവിതത്തിൽ പ്രാവർത്തികമാക്കി/ നൂറുമേനി ഫലങ്ങൾ പുറപ്പെടുവിക്കുന്നതിനുമുള്ള കൃപയും ശക്തിയും/ഞങ്ങൾക്ക് നൽകണമേ. അപ്രകാരം ദൈവവചനത്തിന് അനുസൃതമായി/ ജീവിതത്തെ ക്രമപ്പെടുത്തുന്നതിനും/ നവീകരിക്കുന്നതിനും ഞങ്ങളെ സഹായിക്കണമെ. സകലത്തിന്റെയും നാഥാ, എന്നേയ്ക്കും.</p>
				<p>സമൂ: ആമ്മേൻ.</p>
			</div>
		</div>
	</body>
</html>