<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">മഹിമയുടെ ദിവ്യരഹസ്യങ്ങൾ</p>
				<p class="subtitle">(ഞായറാഴ്ച്ചയും, ബുധനാഴ്ച്ചയും)</p>
			</div>
			<div class="section">
				<p>1. നമ്മുടെ കർത്താവീശോമിശിഹാ തന്റെ കുരിശുമരണത്തിന്റെ മൂന്നാംദിവസം കല്ലറകളെ ഭേദിച്ച് മഹത്വപൂർണ്ണനായി ഉത്ഥാനം ചെയ്തതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്ക് പ്രാർത്ഥിക്കാം, ഉത്ഥിതനായ മിശിഹായേ, അങ്ങയുടെ കുരിശിന്റെ പാതയിലൂടെ സഞ്ചരിച്ചാലേ ഉത്ഥാനാനുഭവം ഉണ്ടാകുകയുള്ളുവെന്ന് ഞങ്ങൾ മനസ്സിലാക്കുന്നു. അതുകൊണ്ട് ജീവിതത്തിലെ കുരിശുകളും പീഡകളും വിശുദ്ധ കുരിശിനോട് ചേർത്തു വച്ച് ഉത്ഥാന പ്രതീക്ഷയോടെ ജീവിക്കാനുള്ള കൃപാവരം തരണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>2. ഉത്ഥിതനായ ഈശോമിശിഹാ ശിഷ്യർക്ക് പ്രത്യക്ഷപ്പെട്ടശേഷം നാല്പതാം ദിവസം തന്റെ ദിവ്യമാതാവും ശിഷ്യരും കണ്ടുകൊണ്ടു നിൽക്കുമ്പോൾ ബഥാനിയായിൽ വച്ച് സ്വർഗ്ഗത്തിലേക്ക് ആരോഹണം ചെയ്തതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, ഞങ്ങൾക്ക് സ്ഥലമൊരുക്കുവാനായി സ്വർഗ്ഗത്തിലേക്ക് എഴുന്നള്ളിയ മിശിഹായേ, അനശ്വരമായ സ്വർഗ്ഗീയ സൗഭാഗ്യത്തെ ലക്ഷ്യമാക്കി ജീവിക്കുവാനും അങ്ങയുടെ രണ്ടാമത്തെ ആഗമനത്തെപ്പറ്റി പ്രതീക്ഷയോടെ ജീവിക്കുവാനുമുള്ള  കൃപാവരം നൽകണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>3. നമ്മുടെ കർത്താവീശോമിശിഹായുടെ സ്വർഗാരോഹണാനന്തരം  പരിശുദ്ധ കന്യകാമറിയവും ശിഷ്യരും കൂടെ സെഹിയോൻ മാളിക യിലിരുന്ന് പ്രാർത്ഥിക്കുമ്പോൾ പരിശുദ്ധാത്മാവ് എഴുന്നള്ളി വന്നതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, കർത്താവേ ഞങ്ങളും ശിഷ്യരെപ്പോലെ നഷ്ടധൈര്യരായി പ്രാർത്ഥിക്കുമ്പോൾ, അങ്ങയുടെ പരിശുദ്ധാത്മാവിനെ അയച്ച് വിശ്വാസത്തിൽ ഉറപ്പും ജീവിതത്തിൽ പ്രത്യാശയുമുള്ളവരാക്കിത്തീർക്കണമെന്ന് ഞങ്ങൾപ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>4. പരിശുദ്ധ ദൈവമാതാവ് മഹത്വപൂർണ്ണയായി മാലാഖാമാരാൽ ദൈവപിതാവിന്റെ സന്നിധിയിലേക്ക് സംവഹിക്കപ്പെട്ടതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>  
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, സ്വർഗ്ഗത്തിലും ഭൂമിയിലും ഞങ്ങൾക്കുവേണ്ടി മാദ്ധ്യസ്ഥ്യം അപേക്ഷിക്കുന്ന പരിശുദ്ധ  അമ്മേ, അങ്ങ് വഴിയായി ഈ ലോകത്തിലും പരലോകത്തിലും അങ്ങേ തിരുക്കുമാരനോടൊപ്പം ജീവിക്കുവാനുള്ള സൗഭാഗ്യം തരണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			<div class="section">
				<p>5. പരിശുദ്ധ ദൈവമാതാവ്‚ സ്വർഗ്ഗാരോപണാനന്തരം, തന്റെ‚ പ്രിയപുത്രനാൽ ആകാശത്തിന്റെയും ഭൂമിയുടെയും റാണിയായി മുടി ധരിപ്പിക്കപ്പെട്ടതിനെപ്പറ്റി ധ്യാനിക്കാം.</p>
				<p class="rossary-helper">നമുക്കു പ്രാർത്ഥിക്കാം, സ്വർല്ലോക രാജ്ഞിയായി വാഴുന്ന പരിശുദ്ധ അമ്മേ, അങ്ങുവഴിയായി ഞങ്ങളും ഉത്ഥിതനായ ഈശോ മിശിഹായെ അറിയുവാനും സ്വർഗ്ഗീയ പുണ്യങ്ങളിലും മാനുഷിക നന്മയിലും മഹത്വീകൃതരാകുവാനും അനുഗ്രഹിക്കണമെന്ന് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p class="right-align">1 സ്വ. 10 നന്മ. 1 ത്രി.</p>
			</div>
			
		</div>
	</body>
</html>