<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ജപമാല സമർപ്പണം</p>
			</div>
			<div class="section">
				<p>മുഖ്യദൂതനായ വി.മിഖായേലേ, ദൈവദൂതന്മാരായ വി.ഗബ്രിയേലേ, വി.റപ്പായാലേ, മഹാത്മാവായ വി.യൗസേപ്പേ, ശ്ലീഹന്മാരായ വി.പത്രോസേ, വി.പൗലോസേ, വി.യോഹന്നാനേ, ഞങ്ങളുടെ പിതാവായ മാർ തോമാ, ഞങ്ങൾ വലിയ പാപികളായിരിക്കുന്നു എങ്കിലും ഞങ്ങൾ ജപിച്ച ഈ പ്രാർത്ഥന നിങ്ങളുടെ കീർത്തനങ്ങളോടു കൂടെ ഒന്നായി ചേർത്ത് പരിശുദ്ധ ദൈവമാതാവിന്റെ തൃപ്പാദത്തിങ്കൽ കാഴ്ചവയ്ക്കുവാൻ നിങ്ങളോടു ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
			</div>
			<div class="title">
				<p class="maintitle">ദൈവമാതാവിന്റെ ലുത്തിനിയ</p>
			</div>
			<div class="section">
				<p>കർത്താവേ! അനുഗ്രഹിക്കണമെ,</p>
				<p>കർത്താവേ. . .</p>
				<p>മിശിഹായേ! അനുഗ്രഹിക്കണമെ,</p>
				<p>മിശിഹായേ. . .</p>
				<p>കർത്താവേ! അനുഗ്രഹിക്കണമെ,</p>
				<p>കർത്താവേ. . .</p>
				<p>മിശിഹായെ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ,</p>
				<p>മിശിഹായേ. . .</p>
				<p>മിശിഹായെ ഞങ്ങളുടെ പ്രാർത്ഥന കൈക്കൊള്ളണമെ,</p>
				<p>മിശിഹായേ. . .</p>
				<p>സ്വർഗസ്ഥനായ പിതാവായ ദൈവമെ,</p>
				<p>ഞങ്ങളെ അനുഗ്രഹിക്കണമെ</p>
				<p>ഭൂലോകരക്ഷകനായ പുത്രനായ ദൈവമേ</p>
				<p>ഞങ്ങളെ. . .</p>
				<p>പരിശുദ്ധാത്മാവായ ദൈവമേ,</p>
				<p>ഞങ്ങളെ. . .</p>
				<p>ഏകദൈവമായ പരിശുദ്ധത്രിത്വമെ,</p>
				<p>ഞങ്ങളെ. . .</p>
			</div>
		</div>
	</body>
</html>