<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">കാറോസൂസ</p>
			</div>
			<div class="section">
				<p>ലീ: നമുക്കെല്ലാവർക്കും വിശ്വാസത്തോടും ഭക്തിയോടും കൂടെ കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ എന്നപേക്ഷിക്കാം.</p>
				<p>സമൂ: കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ.</p>
			</div>
			<div class="section">
				<p>ലീ: സമറിയാക്കാരന്റെ ഉപമയിലൂടെ നല്ല അയൽക്കാരനായി വർത്തിക്കണമെന്ന് ഞങ്ങളെ ഉപദേശിച്ച കർത്താവേ, കൈ്രസ്തവ കൂട്ടായ്മയിലെ അംഗങ്ങളും അയൽക്കാരുമായ ഞങ്ങൾ തമ്മിൽ പരസ്പര സ്നേഹത്തോടും സഹായ മനഃസ്ഥിതിയോടും കൂടെ സഹോദരങ്ങളെപ്പോലെ ജീവിക്കുവാനുള്ള അനുഗ്രഹം തരണമെന്ന് അങ്ങയോട് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p>സമൂ: കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ.</p>
			</div>
			<div class="section">
				<p>ലീ: സഭയുടെ ചെറിയ പതിപ്പായ കുടുംബങ്ങളെ വിശുദ്ധിയിലും ഭദ്രതയിലും കാത്തുസംരക്ഷിച്ച് കുടുംബങ്ങൾ തമ്മിലും കുടുംബാംഗങ്ങൾ തമ്മിലും പരസ്പര സ്നേഹത്തിലും സഹവർത്തിത്വത്തിലും വളർന്നു വരുവാൻ അനുഗ്രഹിക്കണമെന്ന് അങ്ങയോട്  ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p>സമൂ: കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ.</p>
			</div>
			<div class="section">
				<p>ലീ: ഞങ്ങളുടെ ഇടവകയിൽ/മിഷനിൽ/നിയുക്ത മിഷനിൽ ഉള്ള എല്ലാ കുടുംബക്കൂട്ടായ്മ്മകളെയും, കുടുംബങ്ങളെയും, പ്രത്യേകിച്ച് ഇന്നേ ദിവസം പ്രാർത്ഥനാക്കൂട്ടായ്മ്മ നടക്കുന്ന ഈ കുടുംബത്തെയും ഇവിടെ സമ്മേളിച്ചിരിക്കുന്ന എല്ലാവരെയും സമൃദ്ധമായി അനുഗ്രഹിക്കണമെന്ന് അങ്ങയോട് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p>സമൂ: കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ.</p>
			</div>


			<div class="section">
				<p>ലീ: തിരുസഭയുടെ അധിപനായ മാർ ഫ്രാൻസിസ് മാർപാപ്പയ്ക്കുവേണ്ടിയും ഞങ്ങളുടെ സഭാതലവനും പിതാവുമായ മാർ ജോർജ് ശ്രേഷ്ഠ മെത്രാപ്പോലീത്തായ്ക്കുവേണ്ടിയും ഞങ്ങളുടെ രൂപതാദ്ധ്യക്ഷനും പിതാവുമായ മാർ ജോസഫ് മെത്രാനുവേണ്ടിയും ഞങ്ങളുടെ ഇടവകയിൽ/മിഷനിൽ/നിയുക്ത മിഷനിൽ സേവനം അനുഷ്ഠിക്കുന്ന വൈദികൻ, കൈക്കാരന്മാർ, കമ്മിറ്റിയംഗങ്ങൾ, മതാദ്ധ്യാപകർ, ദൈവാലയ ശുശ്രൂഷികൾ എന്നിവർക്കുവേണ്ടിയും അങ്ങയോട് ഞങ്ങൾ പ്രാർത്ഥിക്കുന്നു.</p>
				<p>സമൂ: കർത്താവേ ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമെ.</p>
			</div>
		</div>
	</body>
</html>