<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="section">
				<p> ലീ  : നമുക്കുപ്രാർത്ഥിക്കാം, (സമൂഹവും ചേർന്ന്) സർവ്വ നന്മകളു ടെയും അനുഗ്രഹങ്ങളുടെയും ദാതാവായ ദൈവമേ/ഞങ്ങളുടെ എല്ലാ അപേക്ഷകളും യാചനകളും/ ഞങ്ങൾ അങ്ങേ സന്നിധിയിൽ സമർപ്പിക്കുന്നു. അങ്ങേ തിരുഹിതത്തിന് അനുയോജ്യമെങ്കിൽ/ അവ സാധിച്ചു തന്ന്/ ഞങ്ങളുടെ ജീവിതത്തെ/ സന്തോഷപ്രദവും അനുഗ്രഹപൂർണ്ണവും ആക്കണമെ. എപ്പോഴും അങ്ങയുടെ ഇഷ്ടം മാത്രം അന്വേഷിക്കുവാനും നിറവേറ്റുവാനുമുള്ള/ വിശ്വാസവും പ്രത്യാശയും ഞങ്ങൾക്ക് നൽകണമെ. സകലത്തിന്റെയും നാഥാ, എന്നേയ്ക്കും.</p>
				<p>സമൂ: ആമ്മേൻ.</p>
			</div>
			<div class="title">
				<p class="maintitle">ഗാനം</p>
			</div>
			<div class="section">
				<p>എത്രയും ദയയുളള മാതാവേ നിൻ,</p>
				<p>സങ്കേതം  തേടി വരുന്നു ഞങ്ങൾ</p>
		        <p>നിൻ ചാരത്തോടിയണഞ്ഞവരേ നീ</p>
		        <p>ഒരുനാളും കൈവിടില്ലല്ലോ തായേ</p>
		    </div>
		    <div class="section">
		        <p>ശരണം ഗമിപ്പൂ നിൻ തൃപ്പാദത്തിൽ</p>
		        <p>കരുണ തൻ നിറകുടമാകുമമ്മേ</p>
		        <p>കനിവോടെ ഇവരെ നീ കാക്കണമേ</p>
		        <p>കന്യകമാരുടെ റാണി നീയേ</p>
		    </div>
		    <div class="section">
		        <p>നെടുവീർപ്പും കണ്ണീരും കൈമുതലായ്</p>   
		        <p>അലയുമീ പാപികൾ തനയരല്ലോ</p>
		        <p>അളവില്ലാ നിൻ ദയാവായ്പിലിതാ</p>
		        <p>അഭയത്തിനണയുന്നു സാധുശീലർ</p>
		    </div>
		    <div class="section">
		        <p>അവതാരം ചെയ്തൊരു വചനത്തിന്റെ</p>
		        <p>അമലയാം അംബികേ നൻമ പൂർണ്ണേ</p>
		        <p>അവനിയിൽ സുതരുടെ യാചനകൾ</p>
		        <p>അലിവോടെ കേട്ടു  നീ അഭയമേകൂ</p> 
			</div>
		</div>
	</body>
</html>