<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="section">
				<p>പരിശുദ്ധമറിയമെ,</p>
				<p>ഞങ്ങൾക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				<p>ദൈവത്തിന്റെ പരിശുദ്ധ ജനനി,</p>
				<p>കന്യകകൾക്കു മകുടമായ നിർമ്മല കന്യകേ,</p> 
				<p>മിശിഹായുടെ മാതാവേ,</p>
				<p>ദൈവവരപ്രസാദത്തിന്റെ മാതാവേ,</p>
				<p>പ്രത്യാശയുടെ മാതാവേ,</p>
				<p>ഏറ്റം നിർമ്മലയായ മാതാവേ,</p>
				<p>അത്യന്തവിരക്തയായ മാതാവേ,</p>
				<p>കളങ്കമറ്റ കന്യകയായ മാതാവേ,</p>
				<p>കന്യകാത്വത്തിന് ഭംഗം വരാത്ത മാതാവേ,</p>
				<p>സ്നേഹത്തിന് ഏറ്റവും യോഗ്യയായ മാതാവേ,</p>
				<p>അത്ഭുതത്തിന് വിഷയമായ മാതാവേ,</p>
				<p>സദുപദേശത്തിന്റെ മാതാവേ,</p>
				<p>സ്രഷ്ടാവിന്റെ മാതാവേ,</p>
				<p>തിരുസഭയുടെ മാതാവേ,</p>
				<p>കരുണയുടെ മാതാവേ,</p>
				<p>രക്ഷകന്റെ മാതാവേ,</p>
				<p>ഏറ്റം വിവേകമതിയായ കന്യകേ,</p>
				<p>വണക്കത്തിന് ഏറ്റവും യോഗ്യയായ കന്യകേ,</p>
				<p>സ്തുതിക്കു യോഗ്യയായ കന്യകേ,</p>
				<p>മഹാവല്ലഭയായ കന്യകേ,</p>
				<p>കനിവുള്ള കന്യകേ,</p>
				<p>ഏറ്റം വിശ്വസ്തയായ കന്യകേ,</p>
				<p>നീതിയുടെ ദർപ്പണമെ,</p>
				<p>ദിവ്യജ്ഞാനത്തിന്റെ സിംഹാസനമെ,</p>
				<p>ഞങ്ങളുടെ സന്തോഷത്തിന്റെ കാരണമെ,</p>
				<p>ആത്മജ്ഞാന പൂരിത പാത്രമേ,</p>
				<p>ബഹുമാനത്തിന്റെ പാത്രമേ,</p>
				<p>അത്ഭുതകരമായ ഭക്തിയുടെ പാത്രമേ,</p>
				<p>ദൈവരഹസ്യം നിറഞ്ഞിരിക്കുന്ന റോസാപുഷ്പമേ,</p>
				<p>ദാവീദിന്റെ കോട്ടയേ,</p>
				<p>നിർമ്മലദന്തം കൊണ്ടുള്ള കോട്ടയേ,</p>
				<p>സ്വർണ്ണാലയമേ,</p>
				<p>വാഗ്ദാനത്തിന്റെ പേടകമേ,</p>
				<p>സ്വർഗ്ഗത്തിന്റെ വാതിലേ,</p>
				<p>ഉഷഃകാല നക്ഷത്രമേ,</p>
				<p>രോഗികളുടെ ആരോഗ്യമേ,</p>
				<p>പാപികളുടെ സങ്കേതമേ,</p>
				<p>അഭയാർത്ഥികളുടെ ആശ്വാസമേ,</p>
				<p>പീഡിതരുടെ ആശ്വാസമേ,</p>
				<p>ക്രിസ്ത്യാനികളുടെ സഹായമേ,</p>
				<p>മാലാഖമാരുടെ രാജ്ഞീ,</p>
				<p>പൂർവ്വപിതാക്കന്മാരുടെ രാജ്ഞീ,</p>
				<p>ദീർഘദർശികളുടെ രാജ്ഞീ,</p>
				<p>ശ്ലീഹന്മാരുടെ രാജ്ഞീ,</p>
				<p>വേദസാക്ഷികളുടെ രാജ്ഞീ,</p>
				<p>വന്ദകന്മാരുടെ രാജ്ഞീ,</p>
				<p>കുടുംബങ്ങളുടെ രാജ്ഞീ,</p>
				<p>കന്യകകളുടെ രാജ്ഞീ,</p>
				<p>സകലവിശുദ്ധരുടെയും രാജ്ഞീ,</p>
				<p>അമലോത്ഭവയായ രാജ്ഞീ,</p>
				<p>സ്വർഗ്ഗാരോപിതയായ രാജ്ഞീ,</p>
				<p>പരിശുദ്ധ ജപമാലയുടെ രാജ്ഞീ,</p>
				<p>കർമ്മലസഭയുടെ അലങ്കാരമായ രാജ്ഞീ,</p>
				<p>സമാധാനത്തിന്റെ രാജ്ഞീ,</p>
			</div>
			<div class="section">	
				<p>ഭൂലോകപാപങ്ങൾ നീക്കുന്ന ദൈവചെമ്മരിയാട്ടിൻകുട്ടീ,</p>
				<p>കർത്താവേ, ഞങ്ങളുടെ പാപങ്ങൾ ക്ഷമിക്കണമേ.</p>
				<p>ഭൂലോകപാപങ്ങൾ നീക്കുന്ന ദൈവചെമ്മരിയാട്ടിൻകുട്ടീ,</p>
				<p>കർത്താവേ, ഞങ്ങളുടെ പ്രാർത്ഥന കേൾക്കണമേ.</p>
				<p>ഭൂലോകപാപങ്ങൾ നീക്കുന്ന ദൈവചെമ്മരിയാട്ടിൻകുട്ടീ,</p>
				<p>കർത്താവേ, ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.</p>
			</div>
		</div>
	</body>
</html>