body{
	padding: 0;
	margin: 0;
	/*height: 100vh;*/
	width: 100%;
}

html{
	font-size: 4vw;
}

.dots{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/*background-color: #dc2f2feb*/
}

.ham-menu {
	width: 30px;
	height: 4px;
	background-color: #ffffff;
	margin: 6px 0;
}

.border{
	border:1px solid black;
}

.wrapper{
	background-color: #ca1b1b;
	height: 100vh;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	float: left;
}

h3{
	padding: 0;
	/*margin: 1em 0;*/
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	margin: 1em auto;
	color: #dc2f2feb;
}

.wrapper .logo{
	width: 15rem;
	height: 15rem;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 4rem auto;
}

.wrapper .logo p{
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 9.4rem;
	margin-top: 10px;
}

.wrapper .logo img{
	width: 100%;
}

.verse{
	/*background-color: #1b334f;*/
	color: #ffffff;
	font-size: 1.4rem;
	
}

.verse .subtitle{
	font-size: 1rem;
}

.wrapper button{
	background-color: #ffffff;
	width: 50%;
    padding: 0.7rem;
    border-radius: 50px;
    color: #d23535;
    font-size: 1.2rem;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;
}