<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p> “I am the living bread that has came down from heaven. I am the bread that has come down from on high. Whoever approaches me and receives me with love, will live in me forever and will inherit the kingdom of heaven;” This is the mystery revealed to the disciples by our Saviour.
					</p>
					<p>All the ministers who do his will, the Cherubim, the Seraphim and the Archangels stand before the altar with awe to observe the priest breaking the Body of Christ for the remission of sins.</p>
					<p>Open to us O Lord, the gates of justice. Merciful Lord, who calls sinners to You and opens the doors for the penitent, may we enter into Your presence and sing Your praises day and night.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>The grace of our Lord Jesus Christ, the love of God the Father and the fellowship of the Holy Spirit be with us all , now + always and forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us approach the mysteries of the Precious Body and Blood of our Saviour with reverence and respect. With the hope arising from repentance, let us turn away from wrong doing repent of our sins, and forgive the trespasses of our brothers and sisters. Let us pray to God, the Lord of all, for mercy and forgiveness.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, forgive the sins and offences of Your servants.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us cleanse our hearts, turning away from dissensions and conflicts.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, forgive the sins and offences of Your servants.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us free our souls from enmity and hatred.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, forgive the sins and offences of Your servants.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us receive the Holy Qurbana and and be sanctified by the Holy Spirit.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, forgive the sins and offences of Your servants.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us receive these sacred mysteries in peace and unity with one another.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, forgive the sins and offences of Your servants.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>O Lord, May these sacred mysteries be for the resurrection of our bodies and the salvation of our souls.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>May they be the source of life everlasting. Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us pray. Peace be with us.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, Our God, in Your mercy forgive the sins and offences of Your servants. Santify our lips to praise You, O Most High, together with all the saints in the kingdom of Heaven.</p>
				</div>
			</div>





			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, Our God, make us worthy to be in Your presence with the confidence You have mercifully bestowed on us. Enable us to stand in your presence with cheerful face and pure hearts. Calling upon You together we pray: </p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Our father, in heaven <span class="highlight">(altogether)</span> hallowed be your name, Your kingdom come, your will be done on earth, as it is in heaven.<br>
					Give us this day the bread we need and forgive us our debts and sins as we have forgiven those who offended us. Do not let us fall into temptation, but deliver us from the evil one.<br>
					For Yours is the kingdom, the power and the glory, forever and ever. Amen. </p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, God Almighty. Fulness of all Goodness! Our Merciful Father! We entreat You for Your mercy. Do not lead us into temptaion. Deliver us from the evil one and his hosts. For, Yours is the Kingdom, the might, the power and the domination in heaven and on earth. Now + always and forever. </p>
				</div>
			</div>




			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Have mercy on me, O God, in Your loving kindness.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>In Your great compassion, wipe away my sins.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Bless us, O Lord. May Your mercy draw us near to these glorious, Sacred, life-giving and divine mysteries, though truely we are unworthy.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>O Lord Jesus Christ! May there be glory to Your name and worship to Your majesty forever. For this living and life-giving bread has come down from heaven and gives life to the whole world. Whoever eats this bread will not die, but will receive remission of sins, attain salvation, and live for ever.</p>
				</div>
			</div>
		</div>
	</body>
</html>