<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p> Every day I will bless You Lord<br>
					I will praise Your name forever<br>
					Great is the Lord and worthy of high praise<br>
					God’s grandeur is beyond understanding</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p></p>
				</div>
				<div class="right">
					<p>How good to celebrate our God in song<br>
					How sweet to give fitting praise<br>
					The Lord rebuilds the Jerusalem<br>
					Gathers the dispersed of Israel</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p> Halleluia, halleluia, halleluia. Peace be with us.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, our God! For all the helps and blessings You have bestowed on us and for which we can never be grateful enough, we offer You never ending praise and glory in the Church, crowned like a spouse with every goodness and grace. You are the Creator and Lord of all, the Father, the Son and the Holy Spirit, forever. </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p> Lord of all we bow and praise<br>
					You Jesus Christ, we glorify You.<br>
					For You give man, glorious resurrection<br>
					And you are the One who saves his Soul</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>It is proper to thank you and praise your name.<br>
					Lord of all..... </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Glory be to the Father, and to the Son, and to the Holy Spirit.<br>
					From the eternity and forever, Amen.<br>
					Lord of all ………</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us pray, peace be with us</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>My Lord, you are truely the one who raises our bodies. You are the Saviour of our souls, and the preserver of our lives. We are bound always to thank, adore, and glorify you, Lord of all, forever</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Lift up your voices and sing aloud.<br>
					Let us all sing his praise<br>
					Bless the Lord,<br>
					Bless the Lord eternal.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p> Holy Lord of all<br>
					Holy Mighty One<br>
					Holy Immortal One<br>
					Have mercy on us.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Glory be to the Father, to the Son and to the Holy Spirit Holy Lord....</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>From the eternity and forever. Amen. Holy Lord.......</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us pray, peace be with us</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Glorious, Mighty, immortal and Holy God! You are pleased to dwell in the holy ones! We beseech you! Look upon us, pardon us and show us compassion, according to your nature. Father, Son and Holy Spirit, Lord of all, forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
		</div>
	</body>
</html>