<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<p class="description center-align highlight">(Final Prayer on Ordinary days)</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>We have praised, honoured, and ministered to our Lord Jesus Christ through these glorious, sacred, life-giving and divine mysteries. May he make us worthy of the glory of his kingdom, eternal happiness with his holy angels, and joy in his divine presence. May he enable us to stand at his right hand in heavenly Jerusalem. May he bestow his mercy and blessings on us, on the whole world, and on the holy Church and all her children. Now, + always and forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<p class="description center-align highlight">(An alternate Blessing)</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>May the Lord, our God, who has pardoned our debts through his Body and wiped off the blemishes of our sins through his blood be blessed in his church. Blessed people of God, the flock on the pasture of the Lord, may he bestow his mercy and grace on you, and may the right hand of his providence protect you. Now, + always and forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<p class="description center-align highlight">(Or)</p>
				<p class="description center-align highlight">(Final Prayer on Sundays, Feast days and days of Commemoration)</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>God, our Father, has blessed us with every grace through Jesus Christ. Our Lord has invited us to his kingdom and has led us to imperishable and everlasting happiness. In his life-giving Gospel, he said to his disciples: "Amen. Amen. I say to you. Whoever eats my Body and drinks my Blood, will live in Me and I in him. I will raise him upon the last day. He will not be subjec to condemnation. Rather, he will enter from death into eternal life". In accordance with this promise, may the Lord bless and protec this congregation that has partaken of this Holy Qurabana. May we, who joyfully participated in these glorious, holy, life-giving and divine mysteries, be crowned with glory. May all of us be sealed with the life-giving sign of the cross of our Lord. May we be protected from all evil, visible and invisible. (The celebrant blesses the congregation). Now + always and forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<p class="description center-align highlight">(Farewell Prayer)</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Praise to you, altar of sanctification! Praise to you, the sepulchre of our Lord! May be the holy Qurbana that I have received from You, be for me unto the forgiveness of my debts and the remission of my sins. I know not, whether I shall come again to offer another sacrifice.</p>
				</div>
			</div>
		</div>
	</body>
</html>