<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Let your minds be on high.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Towards You, God of Abraham, Isaac and Jacob! O, glorious King!</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>The Qurbana is offered to God, the Lord of all.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>It is right and just.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Peace be with us.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord of all, Father, Son and Holy Spirit! The adorable name of your most blessed Trinity is worthy of honour from every mouth, thanksgiving from every tongue and praise from every creature. For, in your great kindness you created the world and everything in it, and showed humanity your immense mercy. Multitudes of heavenly hosts and thousands upon thousands of holy angels and hosts of spiritual ministers of fire and spirit bow down and adore you. O Most High! And they glorify your name and offer you worship together with the holy Cherubim and Seraphim.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Praising You with a loud voice unceasingly, They proclaim in one voice:</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Holy, holy, holy Lord, the mighty God. Heaven and earth are filled with your glory. Hosana in the highest. Hosana to the Son of David; Blessed is he who came and is to come in the name of the Lord. Hosana in the highest.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord our God, together with the heavenly hosts we give you thanks. We glorify and bless God the Word, hidden offspring from your bosom. He is your own likeness and splendour, and the image of Your own Being. Setting aside His equality with You, He emptied Himself, taking the form of a servant. Born of a woman, He became a complete human being with a rational, intelligent and immortal soul, and a mortal body. He subjected himself to the law, in order to redeem those who were under law. He left for us the memorial of our salvation, this redemptive mystery, which we now offer before You.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, our God, we commemorate the passion of Your beloved Son as He taught us. On the night He was handed over, Jesus took bread in His pure and holy hands, lifted up His eyes to heaven to You, the adorable Father, Blessed it + + +  broke it and gave it to the disciples, saying: This is My Body which is broken for you for the forgiveness of sins. Take this all of You and eat it.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Likewise, taking the cup He gave thanks, Blessed it + + + and gave it to them, saying: This is My Blood of the new covenant, which is shed for many for the forgiveness of sins. Take this all of you and drink from it.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Whenever You gather together in My name, do this in memory of Me.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, as You have commanded us, we Your humble, weak, and distressed servants are gathered together in Your presence. You have showered upon us such great blessings for which we can never thank You enough. To make us share in Your divine life, You assumed our human nature, restored us from our fallen state, and brought us from death to life eternal. Forgiving our debts You sanctified us sinners, enlightened our minds, defeated our enemies, and glorified our frail nature by Your immense grace.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>We give You glory and honour, thanksgiving and adoration for all Your favours and graces You have granted us, now + always, and forever. </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Pray in your hearts; peace be with us. </p>
				</div>
			</div>
		</div>
	</body>
</html>