<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Peace be with You.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>With You and with Your Spirit.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>The Holy Qurbana is for the holy people.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>God, the Father alone is Holy. God, the Son alone is Holy. God, the Spirit alone is Holy. Glory be to the Father; and to the Son and to the Holy Spirit forever. Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us praise the living God</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Let there be eternal praise to Him in the Church. Let His blessings and mercy be on us at all times.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, Our God, in Your mercy forgive the sins and offences of Your servants. Santify our lips to praise You, O Most High, together with all the saints in the kingdom of Heaven.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>May the grace of our Lord Jesus Christ who gives us life be made perfect in us through his mercy </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Always and forever. Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>S:</p>
				</div>
				<div class="right">
					<p>Brothers and sisters, the holy Church invites you to receive the Body and Blood of the Son of God, with faith in the heavenly kingdom.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Christ, Our Lord, hope of mankind. Let not the holy Body and the precious Blood that we have received result in our judgement and condemnation. Rather may they obtain for us remisssion of our debts, forgiveness of our sins, and fulfillment in your presence. Lord of all forever. Amen.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, our God! May these sacred mysteries that we have received with faith be unto us for the remission of our debts. O Christ, king of the ages, You are the image of both the creator and the servant. With Your Body and Blood, You have blotted out the stains and forgiven the debts of all those who believe in You. Make us worthy to receive You with confidence and praise You with the heavenly hosts when You appear in the fullness of glory. Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us glorify God through the grace of the holy spirit and give thanks to him, the giver of all gifts for counting us worthy to approach the holy altar and to participate in these glorious, holy, life-giving and divine mysteries.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord God, we praise you for this ineffable gift.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us pray peace be with us.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>O Lord, Our God! In Your mercy, You have given us these glorious holy, life-giving, and divine mysteries for the forgiveness of sins. We are bound to offer Your Most Blessed Trinity everlasting praise and honour, thanksgiving and adoration for this gift. Lord of all, the Father, the Son and the Holy Spirit, forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen. Bless us, O Lord!</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Christ, hope of mankind! You have forgiven our debts, sins, and offences through this glorious, holy, life giving, and divine mysteries. May this adorable gift from on high be blessed! Lord of all, forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen. Bless us, O Lord!</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>May the Lord, our God, who has pardoned our debts through His Body and wiped off the blemishes of our sins through His blood be blessed in the Church. Blessed people of God! The flock on the pasture of the Lord! May he bestow his mercy and grace on you, and may the right hand of His providence protect you. Now + always and forever. </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
		</div>
	</body>
</html>