<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body class="cover">
		<div class="page-content">
			<div class="holymass-cover">
				<div class="logo">
					<img src="./../../../images/marthoma-cross.jpg">
				</div>
				<p class="holymass-title">Syro Malabar Holy Qurbana</p>
				<p class="holymass-subtitle">St. Alphonsa Leicester UK</p>
				<p class="center-align title-desc">(private circulation only)</p>
			</div>
		</div>
	</body>
</html>