<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p> Christ Our Lord, save us all, through Your grace, make Your peace and tranquillity abound in us and have mercy on us.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us commend ourselves and one another to the Father, the Son and the Holy Spirit. </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord our God we commend ourselves to you.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, Almighty God, we humbly implore You. Fill us with Your merciful grace. Pour forth Your gifts through our hands. May Your blessings and grace obtain forgiveness of debts, and remission of sins for the flock You have chosen in Your infinite mercy. The Father, the Son, and the Holy Spirit, Lord of all, for ever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Bless us O Lord; Brothers and sisters, bow your heads for the imposition of hands and receive the blessing.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord, our God! Extend Your merciful right hand over the universal and apostolic Church. Protect it from every danger, visible and invisible. In Your compassion make us worthy to minister in Your presence with devotion, diligence and purity.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Merciful God! Bless us. Grant that all of us, as one body, may properly please You throughout our lives, by works of justice, that reconciles us with You. Make us worthy to offer You never ending praise, homage, thanksgiving and adoration. The Father, the Son and the Holy Spirit, Lord of all, for ever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p> Let all, who have been baptized and sealed with the sign of life, participate in these holy mysteries attentively and devoutedly.</p>
				</div>
			</div>
			<div class="section">
				<p class="description center-align highlight">Onitha d’Raze (Anthem of the Mysteries)</p>
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>"In the Lord I put my firm trust"</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p></p>
				</div>
				<div class="right">
					<p>Here is our Lord’s precious Body and Blood<br>
					With love and respect<br>
					Let us gather by this altar<br>
					Let us all join with the heavenly choir<br>
					And sing, God is Holy<br>
					Holy, Holy forever.</p>
				</div>
			</div>
			<div class="section">
				<p class="description center-align highlight">Or</p>
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p> I have firmly trusted in the Lord. The precious Body and Blood of Christ/ is on the holy Altar. Let us all approach him/ with reverence and awe/ and sing His praises with the angels: Holy, Holy, Holy Lord.</p>
				</div>
			</div>
			<div class="section cardinal">
				<p class="description center-align highlight">Onitha d’raze II [Prose]</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Glory be to the Father, and to the Son, and to the Holy Spirit. Let there be the commemoration of the Blessed Virgin Mary, Mother of God, and St. Joseph the just, at this holy altar.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>From the eternity and forever, Amen. Apostles and friends/ of the only begotten Son of God, pray for peace in the world.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Let the people of God proclaim Amen, Amen. Let us celebrate at this altar the memory of our Father in faith St Thomas the Apostle, together with the just who have triumphed and the martyrs who have been crowned in glory.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>The mighty Lord is with us; our King is with us; our God is with us. The Lord of Jacob is our Help.</p>
				</div>
			</div>
		</div>
	</body>
</html>