<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>As our Lord commanded<br>
					On the Feast of Passover<br>
					Let us gather in His holy name<br>
					In unity, let us celebrate this sacrifice</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Let us be reconciled<br>
					And prepare a new altar<br>
					With the love of Lord Jesus<br>
					Let us offer this Qurbana</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Glory to God in the highest (3 times)</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen (3 times)</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Peace and hope to people on earth, always and forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Our Father in heaven/ <span class="highlight">(altogether)</span> Hallowed be Your name/ Your kingdom come, Holy, Holy Holy are You.<br>
					Our Father in Heaven, Heaven and earth are full of Your glory, Angels and people sing out Your glory, Holy, Holy, Holy are You.<br>
					Our Father in heaven/ Hallowed be Your name/ Your kingdom come /Your will be done on earth/ as it is in heaven.<br>
					Give us this day the bread we need/ and forgive us our debts and sins/ as we have forgiven those who offended us. Do not let us fall into temptation. But deliver us from the evil one.<br>
					For Yours is the kingdom, the power and the glory, forever. Amen </p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Glory be to the Father, and to the Son and to the Holy Spirit</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>A:</p>
				</div>
				<div class="right">
					<p>From eternity and forever. Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Our Father in heaven <span class="highlight">(altogether)</span> Hallowed be your name/ your kingdom come, Holy, Holy Holy are You. Our Father in Heaven, Heaven and earth are full of Your glory. Angels and people sing out Your glory, Holy, Holy, Holy are You.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us pray, peace be with us</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>Lord our God! May the adorable name of your Most glorious Trinity be always praised and glorified, adored and exalted in heaven and on earth, Lord of all, Father, Son and Holy Spirit, forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section cardinal">
				<p class="description highlight center-align">Psalm 144 (Hymn)</p>
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p> I will extol You, my Lord, and my King<br>
					I will bless Your name forever</p>
				</div>
			</div>
		</div>
	</body>
</html>


