<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<p class="title highlight">Prayer for Priests</p>
			<div class="section conversation">
				<p>O Jesus, Eternal Priest; <span class="all">keep all Your priests within the shelter of Your Sacred Heart, where none may harm them. Keep unstained their anointed hands which daily touch Your Sacred Body. Keep unsullied their lips purpled with Your Precious Blood. Keep pure and unearthly their hearts sealed with the sublime marks of Your glorious priesthood. Let Your holy love surround them and shield them from the world's corruption. Bless their labors with abundant fruit, and may the souls to whom they have ministered to be their joy and consolation and in Heaven their beautiful and everlasting crown.</span></p>
				<p>Jesus, the saviour of the world, <span class="all">sanctify Your priests and seminarians</span></p>
				<p>O Mary, Queen of the priests, <span class="all">pray for priests</span></p>
				<p>St. John Vianney, the patron of priests, <span class="all">Pray for priests</span></p>
				</div>
			</div>
		</div>
	</body>
</html>