<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/mass.css">
	</head>
	<body>
		<div class="page-content">
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>O Lord, sovereign, knowing everything, you are the source of every grace and blessing and the amazing provider for all in your household. We beseech you to look upon us, bless us and show us mercy in accordance with your nature! The Father, the Son and the Holy Spirit, Lord of all forever.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All: </p>
				</div>
				<div class="right">
					<p>Amen.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p> Brothren, a reading from the epistle of St.......... to the .......... Bless me, my Lord.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>May Christ bless you.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p><span class="highlight">(After the reading)</span> Praise be to Christ, Our Lord.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Alleluia, alleluia, alleluia </p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Alleluia Sing Alleluia<br>
					Alleluia Alleluia (2)</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p></p>
				</div>
				<div class="right">
					<p>Alleluia Sing Alleluia<br>
					Alleluia Alleluia (2)</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p></p>
				</div>
				<div class="right">
					<p>My heart is stirred by a noble theme<br>
					As I sing my Ode to the king<br>
					My tongue is the pen of a nimble scribe (2)</p>
				</div>
				<p class="right-align">. . . . . Alleluia</p>
			</div>
			<div class="section">
				<div class="left">
					<p></p>
				</div>
				<div class="right">
					<p> Glory to the Father and the Son<br>
					and to the Holy Spirit.<br>
					As it was in the beginning<br>
					let it be forever amen</p>
				</div>
				<p class="right-align">. . . . . Alleluia</p>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us stand attentively and listen to the holy Gospel.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p> Peace + be with you.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>With You and with Your spirit.</p>
				</div>
			</div>
			<div class="section cardinal">
				<div class="left">
					<p>C:</p>
				</div>
				<div class="right">
					<p>The holy Gospel of our Lord Jesus Christ: proclaimed by St Matthew / Mark/ Luke / John</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Glory to you Christ, our Lord.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p><span class="highlight">(At the end of the reading)</span> Glory to you Christ, our Lord.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Let us all stand and pray with attention and contrition, Lord have mercy on us.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Father of mercies, and God of all consolation, we pray to You.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>Our Saviour and guardian and the provider of all things, we pray to you.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>For peace, unity, and stability of the whole world and all the churches we pray to you.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>For our country, for all other countries and for the faithful everywhere, we pray to you.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>For temperate climate, plentiful harvest, prosperous year, and the well being of the whole world, we pray to You.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
			<div class="section servers">
				<div class="left">
					<p>D:</p>
				</div>
				<div class="right">
					<p>For the well-being of our Holy Father Pope Mar Francis, the head of the Universal Church of Christ; the Major Archbishop Mar George, the Father and head of our Syro- Malabar Church, Mar Joseph, the head and father of our Diocese and for all other Bishops and their fellow ministers, we pray to You.</p>
				</div>
			</div>
			<div class="section">
				<div class="left">
					<p>All:</p>
				</div>
				<div class="right">
					<p>Lord, have mercy on us.</p>
				</div>
			</div>
		</div>
	</body>
</html>