<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">മൂന്നാം ദിവസം</p>
				<p class="subtitle">ദൈവസ്‌നേഹം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം - റോമ 8:31-39</p>
				<p class="subtitle">സുവിശേഷം - യോഹ 15:1-17</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: നിത്യജീവന്‍ പ്രാപിക്കുവാന്‍ ആഗ്രഹിക്കുന്നവര്‍, ദൈവമായ കര്‍ത്താവിനെ പൂര്‍ണ്ണഹൃദയത്തോടും  പൂര്‍ണ്ണ ആത്മാവോടും പൂര്‍ണ്ണശക്തിയോടും പൂര്‍ണ്ണമന സ്സോടുകൂടെ സ്‌നേഹിക്കണമെന്ന് അരുളിച്ചെയ്ത് കര്‍ത്താവേ, സമ്പൂര്‍ണ്ണമായ ദൈവസ്‌നേഹം ഞങ്ങളില്‍ ഉളവാക്കണമേ. രോഗത്തിന്റെ അസ്വസ്ഥതകളാല്‍ ഉറങ്ങാന്‍ പററാത്ത അവസരങ്ങളില്‍പ്പോലും ഞാന്‍ എന്റെ ഈശോയെ സ്‌നേഹിക്കുകയാണ് എന്നു പറഞ്ഞ അല്‍ഫോന്‍സാമ്മയുടെ ജീവിതം ഞങ്ങള്‍ക്ക് പ്രചോദനമായിത്തീരട്ടെ. തിരുവചനത്തിന്റെ മുമ്പില്‍ തന്റെ ഹൃദയാഭിലാഷങ്ങളെ അടിയറവച്ചുകൊണ്ട് അങ്ങേ സ്‌നേഹാഗ്നിജ്വാലയിലെ ഒരു കണികയായി മാറുവാന്‍ ആഗ്രഹിച്ച അല്‍ഫോന്‍സാമ്മയെപ്പോലെ ഞങ്ങളുടെ ജീവിതത്തില്‍ വചനത്തിനനുസൃതമായ മാനസാന്തരം വരുത്തിക്കൊണ്ട് അവിടുത്തെ സ്‌നേഹത്തിന്റെ ആഴം രുചിച്ചറിയുവാനുള്ള അനുഗ്രഹം ഞങ്ങള്‍ക്കു നല്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>