<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ആറാം ദിവസം</p>
				<p class="subtitle">ദൈവസാന്നിദ്ധ്യാവബോധം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  റോമാ 10:8-13 </p>
				<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 12:22-32</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ലോകാവസാനം വരെ മനുഷ്യമക്കളോടുകൂടെ ആയിരിക്കുവാന്‍ വേണ്ടി, പരിശുദ്ധാത്മാവിനെ ഞങ്ങള്‍ക്കു നല്കുകയും പരിശുദ്ധ കുര്‍ബ്ബാന സ്ഥാപിക്കുകയും ചെയ്ത ഈശോനാഥാ, അങ്ങയുടെ അനന്തമായ സ്‌നേഹത്തിനും പരിപാലനയ്ക്കും ഞങ്ങള്‍ നന്ദി പറയുന്നു. എന്റെ കര്‍ത്താവ് അറിയാതെ എനിക്ക് ഒന്നും സംഭവിക്കുകയില്ല എന്ന ദൃഢവിശ്വാസത്തോടെ എല്ലാ പ്രതികൂലസാഹചര്യങ്ങളെയും സന്തോഷപൂര്‍വ്വം സ്വീകരിച്ച് സ്വര്‍ഗ്ഗീയമാക്കി മാററിയ അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, ദൈവീക പദ്ധതികള്‍ തിരിച്ചറിഞ്ഞ്, ജീവിതപ്രശ്‌നങ്ങളില്‍, അടിപതറാതെ നിന്നില്‍ പൂര്‍ണ്ണമായി അഭയം കണ്ടെത്തുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. കടന്നുവരുന്ന ഓരോ നിമിഷത്തെയും അങ്ങയുടെ സാന്നിദ്ധ്യാവബോധത്താല്‍ വിശുദ്ധീകരിച്ചുകൊണ്ട് പുണ്യവഴിയില്‍ നടക്കുവാന്‍ ഞങ്ങളെ പഠിപ്പിക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>