<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സമാപനാശീര്‍വ്വാദം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: എന്റെ സമാധാനം നിങ്ങള്‍ക്കു ഞാന്‍ തരുന്നു. ഞാന്‍ നല്കുന്ന സമാധാനം നിങ്ങളില്‍ നിന്ന് എടുത്തുകളയാന്‍ ആര്‍ക്കും സാധ്യമല്ല എന്നരുളിച്ചെയ്ത കര്‍ത്താവീശോമിശിഹാ തന്റെ സമാധാനത്തില്‍ നിങ്ങളുടെ ഹൃദയങ്ങളെ നിറയ്ക്കട്ടെ. വി. അല്‍ഫോന്‍സായെ സ്വര്‍ഗ്ഗീയഫലങ്ങളാല്‍ നിറച്ച കര്‍ത്താവ് തന്റെ അനുഗ്രഹത്തില്‍ നമ്മെയും സന്തുഷ്ടരാക്കട്ടെ. എല്ലാവിധ ക്ലേശങ്ങളിലും രോഗങ്ങളിലും അസ്വസ്ഥതകളിലും നിന്ന് മോചനം നല്കി അവിടുന്ന് നിങ്ങളെ ആശ്വസിപ്പിക്കട്ടെ. ദൈവതിരുമനസ്സ് ഗ്രഹിക്കുവാനും പരിശുദ്ധാത്മാവിന്റെ പ്രചോദനമനുസരിച്ച് ജീവിക്കുവാനും ആത്മീയ ഫലങ്ങളാല്‍ നിറയുവാനും അവിടുന്ന് നിങ്ങളെ ശക്തരാക്കട്ടെ. വി. അല്‍ഫോന്‍സായുടെ മാതൃകയില്‍ ദൈവസന്നിധിയില്‍, പ്രത്യാശയും സമര്‍പ്പണബോധവും വിശ്വാസവും ഉള്ളവരായി ജീവിക്കുവാനും വിശുദ്ധിയില്‍ വളര്‍ന്ന് നന്മകള്‍ പുറപ്പെടുവിക്കാനും അവിടുന്ന് നിങ്ങളെ പ്രാപ്തരാക്കട്ടെ. ഇപ്പോഴും എപ്പോഴും എന്നേയ്ക്കും. ആമ്മേന്‍.</p>
			</div>
		</div>
	</body>
</html>