<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഒന്‍പതാം ദിവസം</p>
				<p class="subtitle">സ്വര്‍ഗ്ഗോന്മുഖ ജീവിതം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  1 പത്രോ 1:13-25</p>
				<p class="subtitle">സുവിശേഷം -  യോഹ. 14:1-7</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി:  ഞാന്‍ എന്റെ പിതാവിന്റെ ഭവനത്തില്‍ നിങ്ങള്‍ക്കായി വാസസ്ഥലമൊരുക്കു വാന്‍ പോകുന്നു എന്നു അരുളിച്ചെയ്തുകൊണ്ട് പിതാവിന്റെ പക്കലേക്ക് പോയ മിശിഹായേ, അങ്ങയെ ഞങ്ങള്‍ ആരാധിക്കുകയും സ്തുതിക്കുകയും മഹത്ത്വപ്പെടു ത്തുകയും ചെയ്യുന്നു. അങ്ങു ഞങ്ങള്‍ക്കായി ഒരുക്കിയിരിക്കുന്ന സ്വര്‍ഗ്ഗീയ സങ്കേതത്തില്‍ ഞങ്ങളും എത്തിച്ചേരുവാന്‍ ആഗ്രഹിക്കുന്നു. സുവിശേഷത്തിലെ ബുദ്ധിയുള്ള കന്യകമാരെപ്പോലെ വിശുദ്ധിയുടെ നിറദീപവുമായി, മണവാളനെ കാത്തിരുന്ന്, സ്വര്‍ഗ്ഗീയ കിരീടം സ്വന്തമാക്കിയ അല്‍ഫോന്‍സാമ്മയെപ്പോലെ കര്‍ത്താവുമായി എപ്പോഴും സ്‌നേഹത്തില്‍ ഐക്യപ്പെട്ടു ജീവിക്കുവാന്‍ ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. ഈ ലോകത്തിന് അനുരൂപരാകാതെ, മനസ്സിന്റെ നിരന്തരമായ നവീകരണം വഴി സ്വര്‍ഗ്ഗോന്മുഖമായ ജീവിതം നയിക്കുവാനും നല്ല മരണം പ്രാപിച്ച് സ്വര്‍ഗ്ഗത്തില്‍ സകലവിശുദ്ധരോടും  മാലാഖമാരോടും കൂടെ അനവരതം ദൈവത്തെ പാടിപ്പുകഴ്ത്തുവാനും ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.  പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>