<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രാരംഭഗാനം</p>
			</div>
			<p class="small-label">1</p>
			<div class="section">
				<p>അൽഫോൻസാമ്മയെ നിത്യം<br>
				അത്ഭുത സിദ്ധി നൽകി<br>
				ആദരിച്ച ദൈവമേ<br>
				വാഴ്ത്തുന്നു നിന്നെ ഞങ്ങൾ</p>
			</div>
			<div class="section paragraph">
				<p>അൽഫോൻസാമ്മ വഴിയായി<br>
				അർത്ഥിക്കും ദാസർക്കായ് നീ<br>
				ദാനങ്ങൾ വർഷിച്ചാലും<br>
				സ്‌നേഹേശാ ഈശോ നാഥാ </p>
				<p style="text-align: right;">(അൽഫോൻസാമ്മയെ)</p>
			</div>
		</div>
	</body>
</html>