<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രാരംഭപ്രാര്‍ത്ഥന</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: സ്‌നേഹപിതാവായ ദൈവമേ, ഞങ്ങളെ ഓരോരുത്തരേയും തിരുസന്നിധിയില്‍  ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്നു. അങ്ങയുടെ വത്സലപുത്രന്റെ മണവാട്ടിയും ഞങ്ങളുടെ സഹോദരിയുമായ അല്‍ഫോന്‍സാമ്മയെ വിശുദ്ധിയിലേക്കുയര്‍ത്തിയ അങ്ങയുടെ കാരുണ്യത്തെ ഞങ്ങള്‍ ഏററ് പറഞ്ഞ് സ്തുതിക്കുകയും അങ്ങേക്ക് നന്ദി പറയുകയും ചെയ്യുന്നു. ഞങ്ങളെ അനന്തമായി സ്‌നേഹിക്കുന്ന ദൈവമേ, സഹനത്തിന്റേയും ത്യാഗത്തിന്റേയും സ്‌നേഹത്തിന്റേയും പാതയിലൂടെ സ്വജീവിതത്തെ സമര്‍പ്പിച്ച വി. അല്‍ഫോന്‍സാമ്മയെ അനുകരിച്ച് ഞങ്ങളുടെ ജീവിതത്തേയും പുണ്യപാതയിലൂടെ നയിക്കുവാന്‍ അനുഗ്രഹിക്കണമെ. ഞങ്ങളെത്തന്നെ വിശുദ്ധീകരിച്ചുകൊണ്ട് അങ്ങയുടെ സന്നിധിയില്‍ യോഗ്യതയോടെ പ്രാര്‍ത്ഥിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കുകയും ചെയ്യണമേ. ആമ്മേന്‍ </p>
			</div>
		</div>
	</body>
</html>