<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">നമുക്കു പ്രാര്‍ത്ഥിക്കാം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: എന്നെ അനുഗമിക്കുവാന്‍ ആഗ്രഹിക്കുന്നവന്‍ സ്വയം പരിത്യജിച്ച് സ്വന്തം കുരിശുമെടുത്ത് എന്റെ പിന്നാലെ വരട്ടെ എന്നരുളിച്ചെയ്ത ഈശോനാഥാ, ഞങ്ങളുടെ ജീവിതാനുഭവങ്ങളാകുന്ന കുരിശുകളെ അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്നു. ഞങ്ങളുടെ എല്ലാ ആവശ്യങ്ങളും അറിയുന്ന കാരുണ്യവാനായ കര്‍ത്താവേ, അല്‍ഫോന്‍സാമ്മ വഴി അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്ന പ്രാര്‍ത്ഥനകള്‍ പ്രത്യേകിച്ച് ഇന്ന് ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്ന ഈ പ്രത്യേക ആവശ്യം (...................) കരുണാപൂര്‍വ്വം സ്വീകരിച്ച് ഞങ്ങളെ അനുഗ്രഹിക്കണമേ. അവിടുത്തെ തൃക്കരം നീട്ടി ഞങ്ങളെ ആശീര്‍വദിക്കുകയും ഞങ്ങളെയും ഞങ്ങളുടെ കുടുംബാംഗങ്ങളെയും ഞങ്ങളുടെ ഇടവക സമൂഹത്തെയും അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിച്ചു പ്രാര്‍ത്ഥിക്കുന്ന എല്ലാവരെയും സമൃദ്ധമായി അനുഗ്രഹിക്കുകയും ചെയ്യണമേ.</p>
			</div>
			<div class="section">
				<p>സമൂ: ആമ്മേന്‍</</p>
			</div>
			<div class="title">
				<p class="maintitle">അല്‍ഫോന്‍സാമ്മയുടെ പ്രാര്‍ത്ഥന</p>
				<p class="subtitle">(കാര്‍മ്മികന്‍ ചൊല്ലിക്കൊടുക്കുന്നു)</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ഓ! ഈശോനാഥാ/അങ്ങേ ദിവ്യഹൃദയത്തിലെ മുറിവില്‍/എന്നെ മറയ്‌ക്കേണമേ. സ്‌നേഹിക്കപ്പെടുവാനും/വിലമതിക്കപ്പെടുവാനും ഉള്ള എന്റെ ആശയില്‍ നിന്ന്/എന്നെ വിമുക്തയാക്കണമേ/കീര്‍ത്തിയും ബഹുമാനവും സമ്പാദിക്കണമെന്നുള്ള ദുഷിച്ച ഉദ്യമത്തില്‍ നിന്ന് എന്നെ രക്ഷിക്കണമേ. ഒരു പരമാണുവും/അങ്ങേ ദിവ്യഹൃദയത്തിലെ/സ്‌നേഹാഗ്‌നിജ്വാലയിലെ ഒരു പൊരിയും ആകുന്നതുവരെ/എന്നെ എളിമപ്പെടുത്തണമേ/സൃഷ്ടികളെയും എന്നെത്തന്നെയും/മറന്നു കളയുന്നതിനുള്ള അനുഗ്രഹം/എനിക്കു തരണമേ. പറഞ്ഞറിയിക്കാന്‍ വയ്യാത്ത മാധുര്യമായ എന്റെ ഈശോയെ/ലൗകികാശ്വാസങ്ങളെല്ലാം എനിക്ക് കയ്പായി പകര്‍ത്തണമേ/നീതിസൂര്യ നായ എന്റെ ഈശോയെ നിന്റെ ദിവ്യ കതിരിനാല്‍/എന്റെ ബോധത്തെ തെളിയിച്ച്/ ബുദ്ധിയെ പ്രകാശിപ്പിച്ച്/ഹൃദയത്തെ ശുദ്ധീകരിച്ച്/നിന്റെ നേര്‍ക്കുള്ള സ്‌നേഹത്താല്‍ എരിയിച്ച്/എന്നെ നിന്നോട് ഒന്നിപ്പിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>സമൂ: ആമ്മേന്‍</</p>
			</div>
		</div>
	</body>
</html>