<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">നാലാം ദിവസം</p>
				<p class="subtitle">പരസ്‌നേഹം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  1 യോഹ 3:11-24 </p>
				<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 10:25-37</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി:  ഞാന്‍ നിങ്ങള്‍ക്ക് ഒരു പുതിയ കല്പന തരുന്നു. ഞാന്‍ നിങ്ങളെ സ്‌നേഹിച്ചതുപോലെ നിങ്ങളും പരസ്പരം സ്‌നേഹിക്കുവിന്‍, നിങ്ങളുടെ പരസ്പരസ്‌നേഹം കണ്ട് നിങ്ങള്‍ എന്റെ ശിഷ്യരാണെന്ന് ലോകം അറിയട്ടെ എന്നരുളിച്ചെയ്ത ഈശോനാഥാ, സ്വയം പരിത്യജിച്ചുകൊണ്ട് എന്റെ കുടുംബത്തിലും എന്റെ പ്രവര്‍ത്തന മണ്ഡലങ്ങളിലും അങ്ങയുടെ സ്‌നേഹത്തിന് സാക്ഷ്യം വഹിക്കുവാന്‍ എന്നെ ശക്തിപ്പെടുത്തണമേ. തന്നെ ദ്രോഹിച്ചവര്‍ക്കുവേണ്ടി പരിഹാരം ചെയ്ത് പ്രാര്‍ത്ഥിക്കുകയും അവരോടു കരുതലുള്ള സ്‌നേഹം കാണിക്കുകയും ചെയ്ത അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, തിരിച്ചു കിട്ടുമെന്നുള്ള നന്മ ചെയ്യുവാനും ക്ഷമിക്കുന്ന സ്‌നേഹത്തിലൂടെ അങ്ങയുടെ സ്‌നേഹം പകര്‍ന്നു നല്കുവാനും ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. പിതാവും  പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>