<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">എട്ടാം ദിവസം</p>
				<p class="subtitle">ദൈവത്തിലുള്ള പ്രത്യാശ</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  നടപടി 1:12-14</p>
				<p class="subtitle">സുവിശേഷം -  യോഹ. 19:25-27</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ഇതാ നിന്റെ അമ്മ എന്ന് യോഹന്നാനോട് അരുളിച്ചെയ്തുകൊണ്ട് പ്രിയമാതാവിനെ ലോകത്തിനു മുഴുവനും അമ്മയായി നല്കിയ ഈശോയേ, അങ്ങേയ്ക്ക് നന്ദി പറഞ്ഞ് അങ്ങയെ ഞങ്ങള്‍ സ്തുതിച്ചാരാധിക്കുന്നു. ചെറുപ്പകാലം മുതല്‍ പരിശുദ്ധ അമ്മയോടുള്ള ഭക്തിയിലും സ്‌നേഹത്തിലും വളരെ ആഴപ്പെട്ട ജീവിതം നയിച്ച അല്‍ഫോന്‍സാമ്മയെപ്പോലെ ദൈവമാതൃഭക്തിയില്‍ വളരുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. പരിശുദ്ധ അമ്മേ, നസ്രത്തിലെ കുടുംബത്തെ അവിടുന്ന് സംരക്ഷിയ്ക്കുകയും നയിക്കുകയും ചെയ്തതുപോലെ ഞങ്ങളുടെ കുടുംബങ്ങളെ വിശുദ്ധിയില്‍ വളര്‍ത്തുവാന്‍ ഞങ്ങളോടൊപ്പം ഉണ്ടായിരിക്കണമേ. എല്ലാവിധ അപകടങ്ങളില്‍ നിന്നും ഞങ്ങളെ സംരക്ഷിക്കണമേ. കാനായിലെ കല്യാണവിരുന്നില്‍ മാദ്ധ്യസ്ഥ്യം വഹിച്ചതുപോലെ ഞങ്ങളുടെ അനുദിനാവശ്യങ്ങളില്‍ ദൈവസന്നിധിയില്‍ ഞങ്ങള്‍ക്കായി മാദ്ധ്യസ്ഥ്യം വഹിക്കണമേ. ഈ ലോകജീവിതശേഷം സ്വര്‍ഗ്ഗത്തില്‍ അങ്ങയോടൊത്ത് ദൈവത്തെ പാടിപ്പുകഴ്ത്തുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>