<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഏഴാം ദിവസം</p>
				<p class="subtitle">ദൈവത്തിലുള്ള പ്രത്യാശ</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  ഹെബ്രാ 10:19-24</p>
				<p class="subtitle">സുവിശേഷം -  മത്താ 7:7-12</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: നിങ്ങള്‍ എന്റെ നാമത്തില്‍ ആവശ്യപ്പെടുന്നതെന്തും പിതാവു പുത്രനില്‍ മഹത്ത്വപ്പെടുത്തുവാന്‍ വേണ്ടി ഞാന്‍ പ്രവര്‍ത്തിക്കും എന്നരുളിച്ചെയ്ത കര്‍ത്താവായ ഈശോയേ, അങ്ങയുടെ വാഗ്ദാനത്തില്‍ ഞങ്ങള്‍ പരിപൂര്‍ണ്ണമായി വിശ്വസിക്കുകയും പ്രത്യാശിക്കുകയും ചെയ്യുന്നു. എന്റെ കര്‍ത്താവിന്റെ കരങ്ങളിലൂടെ എന്തു ലഭിച്ചാലും അതെല്ലാം എന്നെ സന്തോഷിപ്പിക്കും എന്ന് ഉദ്‌ഘോഷിച്ചുകൊണ്ട് അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, എല്ലാ അനുഭവങ്ങളിലും ദൈവകരം ദര്‍ശിക്കുവാന്‍ ഞങ്ങളെ പഠിപ്പിക്കണമേ. ഞങ്ങളുടെ ജീവിതത്തില്‍ ഉണ്ടാകുന്ന പരാജയങ്ങളിലും ദുഃഖങ്ങളിലും നിരാശരാകാതെ അങ്ങിലുള്ള പ്രത്യാശയില്‍ വളരുവാന്‍ പരിശുദ്ധാത്മാവിന്റെ വരദാനങ്ങളാല്‍ ഞങ്ങളെ ശക്തിപ്പെടുത്തണമേ. കണ്ണ് കണ്ടിട്ടില്ലാത്തതും ചെവി കേട്ടിട്ടില്ലാത്തതും ഹൃദയം ആസ്വദിച്ചിട്ടില്ലാത്തതും ആയ സ്വര്‍ഗ്ഗീയ മഹത്ത്വം പ്രാപിക്കാമെന്ന പ്രത്യാശയില്‍ സദാപി ഞങ്ങളുടെ ജീവിതത്തെ ക്രമപ്പെടുത്തുവാന്‍ സഹായിക്കണമേ. നിത്യം പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>