<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">രണ്ടാം ദിവസം</p>
				<p class="subtitle">സമ്പൂര്‍ണ്ണ സമര്‍പ്പണം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം - ഫിലി 3:7-11</p>
				<p class="subtitle">സുവിശേഷം - മത്തായി 19:16-30</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി:  എന്റെ പിതാവിന്റെ ഇഷ്ടം നിറവേററുന്നതാണ് എന്റെ ഇഷ്ടം. എന്നരുളിച്ചെയ്ത കര്‍ത്താവായ ഈശോയേ, അങ്ങയെ ഞങ്ങള്‍ ആരാധിക്കുകയും സ്തുതിക്കുകയും ചെയ്യുന്നു. എന്നെ മുഴുവനും ഞാന്‍ എന്റെ കര്‍ത്താവിന് വിട്ടുകൊടുത്തിരിക്കുകയാണ് എന്ന് ഏററുപറഞ്ഞു ജീവിച്ച വിശുദ്ധ അല്‍ഫോന്‍സാ ഞങ്ങളുടെ ജീവിതത്തിന്റെ മാതൃകയും വഴികാട്ടിയുമാണല്ലോ. ഈ ലോകജീവിതത്തിന്റെ ആകുലതകളും ഉത്കണ്ഠകളും വെടിഞ്ഞ്, എന്റെ രക്ഷയ്ക്കുതകുന്നതു മാത്രമേ എന്റെ കര്‍ത്താവ് എനിക്ക് തരുകയുള്ളു എന്നുള്ള ജീവദായകവിശ്വാസം എനിക്കു നല്കണമേ. ജീവിതത്തിന്റെ എല്ലാ പ്രതിസന്ധികളിലും, മനസ്സുപതറാതെ, അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, കര്‍ത്താവ് എന്റെ ഇടയനാകുന്നു. എനിക്കൊന്നിനും കുറവുണ്ടാവുകയില്ല എന്ന ദൃഢവിശ്വാസത്തോടെ അങ്ങില്‍ മാത്രം ആശ്രയിച്ച് ദൈവഹിതത്തിന് വിധേയപ്പെട്ട് ജീവിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കേണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേയ്ക്കും</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>