<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">പ്രാര്‍ത്ഥിക്കാം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: പിതാവായ ദൈവമേ, (എല്ലാവരും ചേര്‍ന്ന്) ഞങ്ങളോടുള്ള സ്‌നേഹത്തെപ്രതി/ അവിടുത്തെ തിരുക്കുമാരനായ ഈശോയെ/  ഞങ്ങള്‍ക്ക് രക്ഷകനായി നല്കിയല്ലോ. ഈശോയുടെ മാതൃകയില്‍/ സ്‌നേഹത്തിന്റെയും ത്യാഗത്തിന്റെയും/ സഹനത്തിന്റെയും പാത സ്വീകരിച്ച്/  സ്വയം ബലിയായി ത്തീരുവാന്‍/ അല്‍ഫോന്‍സാമ്മയെ അങ്ങ് സജ്ജമാക്കിയല്ലോ/ ഗോതമ്പുമണി നിലത്തു വീണ് അഴിയുന്നില്ലെങ്കില്‍/ അതു വെറുതെയിരിക്കുന്നു. അഴിയുന്നെങ്കിലോ/ അത് വളരെ ഫലം പുറപ്പെടുവിക്കുന്നു./ എന്ന് അരുളിച്ചെയ്ത ഈശോനാഥാ, അങ്ങയുടെ ആഹ്വാനമനുസരിച്ച്/ സ്വയം ഇല്ലാതായി/ മഹത്ത്വത്തിന്റെ ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുവാന്‍/ വിശുദ്ധ അല്‍ഫോന്‍സായെ അനുഗ്രഹിച്ച/ അങ്ങയുടെ അനന്തകാരുണ്യത്തിന്/ ഞങ്ങള്‍ നന്ദി പറയുന്നു. രക്ഷകനായ ഈശോയെ/ അങ്ങയെ സ്‌നേഹിക്കുവാനും/ അവിടുത്തെ പദ്ധതികളോട്/ പൂര്‍ണ്ണമായി സഹകരിക്കുവാനും/ ഞങ്ങളെ സഹായിക്കണമേ. ദൈവഹിതം കണ്ടെത്തി സ്വയം സമര്‍പ്പിച്ച/ വിശുദ്ധ അല്‍ഫോന്‍സാമ്മേ/ ഞങ്ങള്‍ക്കുവേണ്ടി മാദ്ധ്യസ്ഥം വഹിക്കണമേ. ആമ്മേന്‍.</p>
			</div>
			
		</div>
	</body>
</html>