<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സമാപനഗാനം</p>
				<p class="subtitle">(യേരുശലേമിലെ വന്‍മലമേല്‍ എ.മ)</p>
			</div>
			<div class="section">
				<p>ഈശോതന്‍ പ്രിയദാസി അല്‍ഫോന്‍സാ<br>
				സഹനത്തിന്‍ സാക്ഷിയാം അല്‍ഫോന്‍സാ<br>
				വിശുദ്ധിതന്‍ പരിമളസൂനമതായ്<br>
				വിളങ്ങിടുന്നമ്മേ, സമര്‍പ്പിക്കുന്നേന്‍</p>
			</div>
			<div class="section">
				<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
				ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
			</div>
			<div class="section">
				<p>ഗോതമ്പുമണിപോല്‍ അഴിയാനും<br>
				സ്‌നേഹത്തില്‍ പുതുജീവന്‍ പകരാനും<br>
				ജീവിതക്ലേശങ്ങള്‍ സമചിത്തരായ്<br>
				നേരിടാനും കൃപ ചൊരിയണമേ</p>
			</div>
			<div class="section">
				<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
				ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
			</div>
			<div class="section">
				<p>ഈശോതന്‍ സ്‌നേഹത്തില്‍ വളരാനും<br>
				ദൈവീക സുകൃതങ്ങള്‍ നിറയാനും <br>
				സോദരാ സ്‌നേഹത്തില്‍ നിര്‍മ്മലരായ്<br>
				ജീവിക്കാനും കൃപ ചൊരിയണമേ</p>
			</div>
			<div class="section">
				<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
				ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
			</div>
		</div>
	</body>
</html>