<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">ഒന്നാം ദിവസം</p>
				<p class="subtitle">സഹനദാസി</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം - ഹെബ്രാ. 12:4-13</p>
				<p class="subtitle">സുവിശേഷം - മര്‍ക്കോസ് 8:31-38</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: നിത്യപിതാവിന്റെ തിരുഹിതം നിറവേററി കാല്‍വരിയില്‍ ജീവന്‍ ബലിയര്‍പ്പിച്ച് സ്‌നേഹനാഥാ, അങ്ങയുടെ അനന്തമായ സ്‌നേഹത്തിനും പരമമായ കാരുണ്യത്തിനും മഹനീയമായ രക്ഷാകര്‍മ്മത്തിനും ഞങ്ങള്‍ നന്ദി പറയുന്നു. ആരെങ്കിലും എന്റെ പിന്നാലെ വരുവാന്‍ ആഗ്രഹിക്കുന്നെങ്കില്‍ അവന്‍ തന്നെത്തന്നെ പരിത്യജിച്ച് തന്റെ കുരിശുമെടുത്തുകൊണ്ട് എന്നെ അനുഗമിക്കട്ടെ എന്ന അങ്ങയുടെ വചനം ആത്മാര്‍ത്ഥമായി സ്വീകരിക്കുവാന്‍ വിശുദ്ധ അല്‍ഫോന്‍സായ്ക്ക് സാധിച്ചുവല്ലോ. കര്‍ത്താവിന്റെ കുരിശിന്റെ ഓഹരി എനിക്കുണ്ട്. ഞാന്‍ കര്‍ത്താവിനോടുകൂടി കുരിശിലാണ് എന്ന് ഉദീരണം ചെയ്തുകൊണ്ട് തന്റെ ജീവിതത്തിന്റെ ഉത്തരവാദിത്വങ്ങളെയും സമൂഹജീവിതത്തിന്റെ ക്ലേശങ്ങളെയും ശാരിരിക രോഗങ്ങളുടെ വ്യഥകളെയും സന്തോഷപൂര്‍വ്വം നിത്യപിതാവിന് ബലിയായി സമര്‍പ്പിച്ച അല്‍ഫോന്‍സാമ്മയുടെ മാതൃക അനുകരിക്കുവാന്‍ ഞങ്ങളെ സഹായിക്കേണമേ. ഞങ്ങളുടെ അനുദിന ജീവിതത്തിലെ ക്ലേശങ്ങളാകുന്ന കുരിശുകളെ അങ്ങേയ്ക്ക് പ്രീതികരവും സ്വീകാര്യവും പരിശുദ്ധവുമായ ബലിയായി അര്‍പ്പിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേയ്ക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>