<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">സങ്കീര്‍ത്തനം 25/1-10</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: കര്‍ത്താവേ, എന്റെ ആത്മാവിനെ അങ്ങയുടെ സന്നിധിയിലേയ്ക്ക് ഞാന്‍ ഉയര്‍ത്തുന്നു.</p>
				<p>സമൂ: ദൈവമേ, അങ്ങയില്‍ ഞാന്‍ ആശ്രയിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: കര്‍ത്താവേ, അങ്ങയുടെ മാര്‍ഗ്ഗങ്ങള്‍ എനിക്ക് മനസ്സിലാക്കിത്തരണമേ, അങ്ങയുടെ പാതകള്‍ എന്നെ  പഠിപ്പിക്കണമേ.</p>
				<p>സമൂ: അങ്ങയുടെ സത്യത്തിലേക്ക് എന്നെ നയിക്കണമേ. എന്തെന്നാല്‍ അങ്ങാണല്ലോ എന്നെ രക്ഷിക്കുന്ന ദൈവം.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: അങ്ങേക്കുവേണ്ടി ദിവസം മുഴുവന്‍ ഞാന്‍ കാത്തിരിക്കുന്നു</p>
				<p>സമൂ: കര്‍ത്താവേ, പണ്ടുമുതലേ അങ്ങു ഞങ്ങളോടു കാണിച്ച കാരുണ്യവും വിശ്വസ്തതയും അനുസ്മരിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി:  എന്റെ യൗവ്വനത്തിലെ പാപങ്ങളും അതിക്രമങ്ങളും അങ്ങ് ഓര്‍ക്കരുതേ!</p>
				<p>സമൂ:  കര്‍ത്താവേ, അങ്ങയുടെ അചഞ്ചല സ്‌നേഹത്തിനനുസൃതമായി കരുണാപൂര്‍വ്വം എന്നെ അനുസ്മരിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: കര്‍ത്താവ് നല്ലവനും നീതിമാനുമാണ്. പാപികള്‍ക്ക് അവിടുന്ന് നേര്‍വഴി കാട്ടുന്നു.</p>
				<p>സമൂ:  എളിയവനെ അവിടുന്ന് നീതിമാര്‍ഗ്ഗത്തില്‍ നയിക്കുന്നു. വിനീതരെ തന്റെ വഴി പഠിപ്പിക്കുന്നു.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: കര്‍ത്താവിന്റെ ഉടമ്പടിയും പ്രമാണങ്ങളും പാലിക്കുന്നവര്‍ക്ക് അവിടുത്തെ വഴികള്‍ സത്യവും സ്‌നേഹവുമാണ്.</p>
				<p>സമൂ:  പിതാവിനും പുത്രനും പരിശുദ്ധാത്മാവിനും സ്തുതി. ആദിമുതല്‍ എന്നേയ്ക്കും ആമ്മേന്‍.</p>
			</div>
		</div>
	</body>
</html>