<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">കാറോസൂസ</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: നമുക്കെല്ലാവര്‍ക്കും സന്തോഷത്തോടും പ്രത്യാശയോടും കൂടെ നമ്മുടെ ജീവിതങ്ങളെ ദൈവകരങ്ങളില്‍ സമര്‍പ്പിച്ചുകൊണ്ട്, അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കു വേണ്ടി പ്രാര്‍ത്ഥിക്കണമേ എന്ന് അപേക്ഷിക്കാം.</p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p class="subtitle">അല്ലെങ്കില്‍ ഗാനം,<br>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ, സുകൃതസുമങ്ങള്‍ പൊഴിക്കണമേ...... </p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: സഹനവും ത്യാഗവും വഴി ഈശോയുടെ സ്‌നേഹത്തിന് സാക്ഷ്യം വഹിച്ച അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങളുടെ എല്ലാ ജീവിതക്ലേശങ്ങളിലും ദുഃഖങ്ങളിലും ദൈവഹിതം ദര്‍ശിക്കുവാനും അവിടുത്തെ പരിപാലനയില്‍ ആശ്രയിച്ച് വിശ്വാസത്തോടെ ജീവിക്കാനും ഞങ്ങള്‍ ശക്തരാകുവാന്‍</p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: കാല്‍വരിയിലെ കുരിശില്‍ സ്വയം സമര്‍പ്പിച്ച ഈശോയെ അനുകരിച്ചുകൊണ്ട് സ്വയംബലിവസ്തുവായി ഹോമിക്കപ്പെടുവാന്‍ അഭിലഷിച്ച അല്‍ഫോന്‍സാമ്മേ ഞങ്ങളുടെ ജീവിതങ്ങളെയും സ്‌നേഹത്തിന്റെയും സ്വയംദാനത്തിന്റെയും നിരന്തരബലിയായി സമര്‍പ്പിക്കുവാന്‍ ഞങ്ങള്‍ യോഗ്യരാകുവാന്‍ </p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി:  ഞാന്‍ എന്നെ  മുഴുവനും കര്‍ത്താവിന് വിട്ടുകൊടുത്തിരിക്കുകയാണ്. അവിടുത്തെ ഇഷ്ടംപോലെ എന്നോട് ചെയ്തുകൊള്ളട്ടെ എന്ന് ഏററുപറഞ്ഞ അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥനാ ചൈതന്യവും വിശ്വാസതീക്ഷ്ണതയും പ്രത്യാശയും നിറഞ്ഞ ജീവിതത്തിലൂടെ ദൈവത്തെ മഹത്ത്വപ്പെടുത്തുന്നതിന് ഞങ്ങള്‍ പ്രാപ്തരാകുവാന്‍ </p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: എനിക്ക് എന്റെ  ഈശോയെ മാത്രം മതി, മറെറാന്നും എനിക്കു വേണ്ടാ എന്ന് ഏററുപറഞ്ഞ അല്‍ഫോന്‍സാമ്മേ ഞങ്ങളുടെ യുവതിയുവാക്കളും വിദ്യാര്‍ത്ഥിനിവിദ്യാര്‍ത്ഥികളും അങ്ങേ മാതൃകയനുസരിച്ച്, നന്മയിലും വിശുദ്ധിയിലും വളരുവാനും ജീവിതമൂല്യങ്ങളിലും സന്മാര്‍ഗ്ഗത്തിലും ദൈവവിശ്വാസത്തിലും അടിയുറച്ച് ഉചിതമായ ജീവിതാന്തസ്സ് കണ്ടെത്തി ജീവിക്കുവാനും </p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: എല്ലാവരോടും എനിക്ക് സ്‌നേഹമാണ്. ആരെയും വെറുക്കാന്‍ എനിക്ക് ഒരിക്കലും കഴിയുകയില്ല എന്ന് ഉദ്‌ഘോഷിച്ച അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങളുടെ നാടിന്റേയും രാജ്യത്തിന്റേയും ഐശ്വര്യത്തിനും അഭിവൃദ്ധിക്കും വേണ്ടിയും ഭരണാധികാരികളുടെ നന്മയ്ക്കും ക്ഷേമത്തിനും വേണ്ടിയും ഞങ്ങള്‍ പ്രാര്‍ത്ഥിക്കുന്നു.</p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: തിരുസ്സഭയെയും തിരുസ്സഭാധികാരികളെയും ഏറെ സ്‌നേഹിക്കുകയും ബഹുമാനിക്കുകയും അവര്‍ക്കുവേണ്ടി പ്രാര്‍ത്ഥിക്കുകയും ചെയ്ത അല്‍ഫോന്‍സാമ്മേ, സഭയുടെ തലവനായ പരിശുദ്ധപിതാവിനെയും എല്ലാ സഭാദ്ധ്യക്ഷന്മാരേയും വൈദീകര്‍, സന്യാസിനീസന്യാസികള്‍, അല്‍മായ പ്രേഷിതര്‍ എന്നിവരെയും പരിപാലിക്കുവാനും ആത്മീയ നന്മകളാലും ദൈവീക സുകൃതങ്ങളാലും നിറഞ്ഞ് അവര്‍ ദൈവത്തെ മഹത്ത്വപ്പെടുത്തുവാനും </p>
				<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
			</div>
			<div class="section">
				<p class="subtitle">(മൗനപ്രാര്‍ത്ഥന, കൃതജ്ഞതാര്‍പ്പണം)</p>
			</div>
		</div>
	</body>
</html>