<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../../../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-content">
			<div class="title">
				<p class="maintitle">അഞ്ചാം ദിവസം</p>
				<p class="subtitle">വിനയം</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle">ലേഖനം -  ഫിലി 2:5-10</p>
				<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 14:7-11</p>
			</div>
			<div class="section">
				<p>കാര്‍മ്മി: ഞാന്‍ ശാന്തശീലനും വിനീതഹൃദയനുമാണ്. നിങ്ങള്‍ എന്നില്‍ നിന്ന് പഠിക്കുവിന്‍ എന്നരുളിച്ചെയ്ത ഈശോയേ, ഹൃദയ താഴ്മയുടെ പാഠം ഞങ്ങളെ പഠിപ്പിക്കണമേ. നല്ല ഈശോയേ, അല്‍ഫോന്‍സാമ്മയെ അനുകരിച്ചു ഞങ്ങളും പ്രാര്‍ത്ഥിക്കുന്നു. സ്‌നേഹിക്കപ്പെടുവാനും വിലമതിക്കപ്പെടുവാനുമുള്ള ആഗ്രഹങ്ങളില്‍ നിന്ന് ഞങ്ങളെ വിമുക്തരാക്കണമേ. കീര്‍ത്തിയും ബഹുമാനവും സമ്പാദിക്കണമെന്നുള്ള ദുഷിച്ച ഉദ്യമത്തില്‍ നിന്ന് ഞങ്ങളെ രക്ഷിക്കണമേ. ഞങ്ങള്‍ക്കുള്ളതെല്ലാം അങ്ങയുടെ വലിയ കൃപാദാനമാണെന്നുള്ള ഉറച്ച ബോധ്യത്തോടെ, ഞങ്ങളുടെ സമയവും സമ്പത്തും കഴിവുകളുമെല്ലാം മററുള്ളവരുടെ നന്മയ്ക്കും വളര്‍ച്ചയ്ക്കുമായി ഉപയോഗിക്കുവാന്‍ സഹായിക്കണണേ. അധികാരികളില്‍ അങ്ങയെ ദര്‍ശിക്കുവാനും അവരെ അനുസരിക്കുവാനും അംഗീകരിക്കുവാനും ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. യഥാര്‍ത്ഥമായ വിനയത്തിലും സത്യത്തിലും നീതിയിലും ജീവിച്ച് സ്വര്‍ഗ്ഗീയ ജീവിതത്തിന് അര്‍ഹരാകുവാന്‍ ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
				<p>സമൂ: ആമ്മേന്‍</p>
			</div>
			<div class="section">
				<p class="subtitle"><span id="jumpto" data-count="15">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</span></p>
			</div>
		</div>
	</body>
</html>